<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <big-breadcrumbs items="['Monitor', 'Vehicles']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>

    <section id="widget-grid" widget-grid>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="map-view-widget" jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-color="Red Rose">

                    <header>
                        <div style="margin-top:10px ;margin-left:5px">
                            <i class="fa fa-map-marker"></i> <span> Map View</span>
                            <span class="pull-right" style="margin-top:-2px ;margin-right:5px">

                                <button class="btn btn-primary btn-sm" style="margin-top:-7px ;height:25px"  ng-click="getVehicleData()" ng-if="!OnOffStatus"> <i class=" fa fa-refresh"></i>Refresh</button>
                                <span class="font-xs">Auto Refresh</span>
                                <span class="onoffswitch">
                                    <input type="checkbox" name="start_interval_map" ng-model="OnOffStatus"
                                           ng-change="AutoOnOff()"
                                           class="onoffswitch-checkbox" id="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                    <label class="onoffswitch-label" for="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                        <span class="onoffswitch-inner"
                                              data-swchon-text="On"
                                              data-swchoff-text="Off"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>

                                </span>
                            </span>
                        </div>
                        <!--<div>
                            <label class="label">Interval(In Sec)</label>
                            <label class="select">
                                <select name="ddlplaySpeed" ng-model="playtripmodel.playSpeed">
                                    <option value="10">10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option>
                                    <option>50</option>
                                    <option>60</option>
                                    <option>70</option>
                                    <option>80</option>
                                    <option>90</option>

                                </select> <i></i>
                            </label>
                        </div>-->

                    </header>
                    <!-- widget div-->
                    <!--icon='{url: "styles/img/car.png" }'-->
                    <div class="row">
                        <article class="col-sm-10 col-md-10 col-lg-10">
                            <div class="widget-body no-padding" data-smart-fit-app-view="#map-canvas" data-leading-y="0">
                                <div style="height:550px" data-smart-fill-content="" id="map-canvas" ui-map="myMap">
                                    <ui-gmap-google-map control='map.control' center='map.center' zoom='map.zoom'>
                                        <ui-gmap-marker ng-repeat="m in map.markersr" coords="m" options="m.options" idkey="m.id">
                                            <ui-gmap-window options="windowOptions" closeclick="closeClick()">
                                                <div>
                                                    <small>
                                                        Vehicle No:  {{m.vehicledetails.vehicle_no}} <br />
                                                        Speed: {{m.vehicledetails.speed}} <br />
                                                        Driver Name: {{m.vehicledetails.drivername}} <br />
                                                        Driver Mobile No: {{m.vehicledetails.derivermobileno}} <br />
                                                        Date Time: {{m.vehicledetails.recorddatetime| date:'dd-MM-yyyy h:mma'}} <br />
                                                        Latitude: {{m.vehicledetails.latitude}} <br />
                                                        logutude: {{m.vehicledetails.longitude}} <br />
                                                        Address: {{m.vehicledetails.address}} <br />
                                                        Alert/Status : <b>{{m.vehicledetails.alert}}</b>
                                                    </small>
                                                </div>
                                            </ui-gmap-window>

                                        </ui-gmap-marker>

                                        <ui-gmap-circle ng-repeat="c in circle" radius="100"
                                                        stroke="{color: '#db6c0a', weight: 2, opacity: 1.0}"
                                                        fill="{color: '#db6c0a', opacity: 0.5}"
                                                        center="{latitude: c.latitude, longitude:c.longitude}"
                                                        clickable=true>
                                        </ui-gmap-circle>
                                        <!--<ui-gmap-circle ng-repeat="m in map.markersr" radius="150"
                                                        stroke="{color: '#DF6C0A', weight: 1, opacity: 1.0}"
                                                        fill="{color: '#DF6C0A', opacity: 0.3}"
                                                        center="{latitude: m.vehicledetails.latitude, longitude:m.vehicledetails.longitude}"
                                                        clickable=true>
                                        </ui-gmap-circle>-->
                                    </ui-gmap-google-map>

                                </div>
                            </div>

                        </article>
                        <article class="col-sm-2 col-md-2 col-lg-2">


                            <h6>Alerts/Status</h6>
                            <div class="dd" data-smart-nestable>
                                <ol class="dd-list">
                                    <li>
                                        <label>
                                            <input type="checkbox" class="checkbox style-0" ng-model="OverSpeedChecked">
                                            <span class="font-xs">Over Speed</span>

                                        </label>
                                        <img src="styles/img/markersicon/overspeed.png" class="img-rounded pull-right" alt="Over Speed" width="20" height="15">

                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="checkbox style-0" ng-model="IgnitionOnChecked">
                                            <span class="font-xs">Ignition On</span>
                                        </label>
                                        <img src="styles/img/markersicon/ignitionon.png" class="img-rounded pull-right" alt="Ignition On" width="20" height="15">

                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="checkbox style-0" ng-model="MovingChecked">
                                            <span class="font-xs">Moving</span>

                                        </label>
                                        <img src="styles/img/markersicon/moving.png" class="img-rounded pull-right" alt="Moving" width="20" height="15">

                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="checkbox style-0" ng-model="ParkedChecked">
                                            <span class="font-xs">Parked</span>
                                        </label>
                                        <img src="styles/img/markersicon/parked.png" class="img-rounded pull-right" alt="Parked" width="20" height="15">
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="checkbox style-0" ng-model="UnReachableChecked">
                                            <span class="font-xs">Un-reachable</span>
                                        </label>
                                        <img src="styles/img/markersicon/unreachable.png" class="img-rounded pull-right" alt="Un-reachable" width="20" height="15">
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="checkbox style-0" ng-model="HardAccelsChecked">
                                            <span class="font-xs">Hard Accels</span>
                                        </label>
                                        <img src="styles/img/markersicon/hardaccels.png" class="img-rounded pull-right" alt="Hard Accels" width="20" height="15">
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="checkbox style-0" ng-model="HardBreakingChecked">
                                            <span class="font-xs">Hard Breaking</span>
                                        </label>
                                        <img src="styles/img/markersicon/hardbreaking.png" class="img-rounded pull-right" alt="Hard Breaking" width="20" height="15">
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" class="checkbox style-0" ng-model="TamperAlertChecked">
                                            <span class="font-xs">Tamper Alert</span>
                                        </label>
                                        <img src="styles/img/markersicon/tamperalert.png" class="img-rounded pull-right" alt="Tamper Alert" width="20" height="15">
                                    </li>

                                </ol>
                            </div>
                        </article>
                    </div>
                    <!-- end widget div -->
                </div>
            </article>


        </div>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div id="vehicle-data-widget" jarvis-widget data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-color="Red Rose">
                    <header>
                        <div style="margin-top:10px ;margin-left:5px">
                            <i class="fa  fa-taxi"></i> <span>Vehicle Data</span>
                        </div>
                    </header>
                    <!-- widget div-->
                    <div>
                        <div class="widget-body no-padding">

                            <table datatable-basic tablebind="dashTablebind" bind-filters="true"
                                   class="display projects-table table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <!--<tr>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Type" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Vehicle No" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control pplaceholder" placeholder="DateTime" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Location" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Latitude" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Longitude" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Speed" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Distance" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="RPM" />
                                        </th>
                                        <th class="hasinput" style="width:5%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Temperature" />
                                        </th>
                                        <th class="hasinput" style="width:5%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Fuel" />
                                        </th>
                                    </tr>-->
                                    <tr>
                                        <th data-hide="phone,tablet">Vehicle Type</th>
                                        <th>Vehicle No</th>
                                        <th data-class="expand">DateTime</th>
                                        <th data-hide="phone,tablet">Location</th>
                                        <th data-hide="phone,tablet">Latitude</th>
                                        <th data-hide="phone,tablet">Longitude</th>
                                        <th data-hide="phone,tablet">Speed(km/h)</th>
                                        <th data-hide="phone,tablet">Ignition</th>
                                        <th data-hide="phone,tablet">Hard Accele</th>
                                        <th data-hide="phone,tablet">Hard Breaking</th>
                                        <th>View On Map</th>

                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
            </article>

        </div>


    </section>


</div>
<!-- END MAIN CONTENT -->
