﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Vehicle Data Graphs']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

        </div>


        <div class="row">
            <article class="col-sm-6 col-md-6 col-lg-6">
                <div jarvis-widget id="chartjsDistanceReport<" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #3276b1;color: white">
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Distance</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div id="chartdivDR"></div>
                        </div>
                    </div>
                </div>

            </article>
            <article class="col-sm-6 col-md-6 col-lg-6">
                <div jarvis-widget id="chartjs-Average-vs-Maximum-Speed-Report<" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #5bc0dc; color:white">
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Average vs Maximum Speed</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div id="chartdivAvgMaxSpeed"></div>
                        </div>
                    </div>
                </div>
            </article>

        </div>

        <div class="row">
            <!--<article class="col-sm-6 col-md-6 col-lg-6">
                <div jarvis-widget id="chartjs-Driving-Hours<" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #3276b1; color: white">
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Driving Hours Per Day</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div id="chartdivDrivingHours"></div>
                        </div>
                    </div>
                </div>

            </article>-->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="chartjs-Average-vs-Maximum-Speed-Report<" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #5bc0dc; color: white">
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Harsh Event Vs Time</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div id="chartdivHBHATime"></div>
                        </div>
                    </div>
                </div>
            </article>

        </div>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget id="chartjs-Stoppage-Report<" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #f88863">
                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                        <h2>Stoppage/Idling Report</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div id="chartStopagediv"></div>
                        </div>
                    </div>
                </div>

            </article>

        </div>

    </section>



</div>

<style>
    #chartdivDR {
        width: 100%;
        height: 400px;
    }

    #chartdivAvgMaxSpeed {
        width: 100%;
        height: 400px;
    }

    #chartdivDrivingHours {
        width: 100%;
        height: 400px;
    }

    #chartdivHBHATime {
        width: 100%;
        height: 400px;
        font-size: 11px;
    }

    #chartStopagediv {
        width: 100%;
        height: 400px;
        font-size: 11px;
    }

    .amcharts-export-menu-top-right {
        top: 10px;
        right: 0;
    }
</style>

