<div id="content">
    <section widget-grid id="widget-grid">
	 <div style="margin-left:15px; margin-right: 15px">
        <div class="row">
            <big-breadcrumbs items="['Map All Vehicles']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

        </div>

        <div class="row" style="margin-left: 0px !important">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="row" style=" padding-bottom: 20px;">

                    <!-- <div class=" col-lg-3 col-md-6 col-sm-12"> -->
                        <!-- <div class="widget bg-primary" style="background-color: #1475bf !important; "> -->
                            <!-- <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; "> -->
                                 <!-- <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #28628e; "> -->
                                    <!-- <i class="fa fa-wrench fa-3x"></i> -->
                                    <!-- <span class="onoffswitch"> -->
                                        <!-- <input type="checkbox" ng-model="HBChecked" name="chkHBChecked" class="onoffswitch-checkbox" id="chkHBChecked"> -->
                                        <!-- <label class="onoffswitch-label" for="chkHBChecked"> -->
                                            <!-- <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span> -->
                                            <!-- <span class="onoffswitch-switch"></span> -->
                                        <!-- </label> -->
                                    <!-- </span> -->
                                 
                                <!-- </div> -->
                                <!-- <div class="col-xs-8 text-center"> -->
                                    <!-- <h2 class="livescore">{{HB}}</h2> -->
                                    <!-- <div class="text-uppercase">Harsh Breaking </div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
					
					<div class=" col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #e74c3c !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #c53c2e; ">
                                   <img src="styles/img/osff.png"  alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                </div>
                                <div class="col-xs-8 text-center">
                                    <h2 class="livescore">{{OS}}</h2>
                                    <div class="text-uppercase">Over Speed  </div>
                                </div>
                            </div>
                        </div>
                    </div>
					
					   <div class="col-lg-2 col-md-6 col-sm-12">
                         <div class="widget bg-primary" style="background-color: #1475bf !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #28628e; ">
                                    
                               <img src="styles/img/haff.png"  alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    

                                </div>
                                <div class="col-xs-8 text-center">
                                    <h2 class="livescore">{{HA}}</h2>
                                   <div class="text-uppercase">H.A.</div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #27ae60 !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #298a52; ">
                                   <img src="styles/img/corff.png"  alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                  <h2 class="livescore">{{HC}}</h2>
                                    <div class="text-uppercase">Cornering</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-lg-2 col-md-6 col-sm-12"> -->
                        <!-- <div class="widget bg-primary" style="background-color: #26A69A !important; "> -->
                            <!-- <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; "> -->
                                <!-- <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 5px; padding-bottom: 15px; background-color: #22958a; "> -->
                                    <!-- <i class="fa fa-user fa-3x"></i> -->
                                    <!-- <span class="onoffswitch"> -->
                                        <!-- <input type="checkbox" ng-model="OSChecked" name="chkOSChecked" class="onoffswitch-checkbox" id="chkOSChecked"> -->
                                        <!-- <label class="onoffswitch-label" for="chkOSChecked"> -->
                                            <!-- <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span> -->
                                            <!-- <span class="onoffswitch-switch"></span> -->
                                        <!-- </label> -->
                                    <!-- </span> -->
                                
                                <!-- </div> -->
                                <!-- <div class="col-xs-8 text-center padding-left0"> -->
                                    <!-- <h2 class="livescore">{{OS}}</h2> -->
                                    <!-- <div class="text-uppercase">Over Speed </div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->

                    <!-- <div class="col-lg-2 col-md-6 col-sm-12"> -->
                        <!-- <div class="widget bg-primary" style="background-color: #ea9828 !important; "> -->
                            <!-- <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; "> -->
                                <!-- <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 5px; padding-bottom: 15px; background-color: #d28924; "> -->
                                    <!-- <i class="fa fa-cloud-upload fa-3x"></i> -->
                                    <!-- <span class="onoffswitch"> -->
                                        <!-- <input type="checkbox" ng-model="HCChecked" name="chkHCChecked" class="onoffswitch-checkbox" id="chkHCChecked"> -->
                                        <!-- <label class="onoffswitch-label" for="chkHCChecked"> -->
                                            <!-- <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span> -->
                                            <!-- <span class="onoffswitch-switch"></span> -->
                                        <!-- </label> -->
                                    <!-- </span> -->
                                   
                                <!-- </div> -->
                                <!-- <div class="col-xs-8 text-center padding-left0"> -->
                                    <!-- <h2 class="livescore">{{HC}}</h2> -->
                                    <!-- <div class="text-uppercase">Cornering</div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
					
					<div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #666 !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 8px; padding-bottom: 6px; background-color: #5c5c5c;">
                                    <i class="fa fa-phone fa-3x" style="color: white"></i>
                                   

                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">{{CT}}</h2>
                                    <div class="text-uppercase">Calls Taken </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2 col-md-6 col-sm-12"> -->
                        <!-- <div class="widget bg-primary" style="background-color: #666 !important; "> -->
                            <!-- <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; "> -->
                                <!-- <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 5px; padding-bottom: 15px; background-color: #5c5c5c;"> -->
                                    <!-- <i class="fa fa-phone fa-3x"></i> -->
                                    <!-- <span class="onoffswitch"> -->
                                        <!-- <input type="checkbox" ng-model="CTChecked" name="chkCTChecked" class="onoffswitch-checkbox" id="chkCTChecked"> -->
                                        <!-- <label class="onoffswitch-label" for="chkCTChecked"> -->
                                            <!-- <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span> -->
                                            <!-- <span class="onoffswitch-switch"></span> -->
                                        <!-- </label> -->
                                    <!-- </span> -->
                                  
                                <!-- </div> -->
                                <!-- <div class="col-xs-8 text-center padding-left0"> -->
                                    <!-- <h2 class="livescore">{{CT}}</h2> -->
                                    <!-- <div class="text-uppercase">Calls Taken </div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->

                    <!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->
                        <!-- <div class="widget bg-primary" style="background-color: #d5503f !important; "> -->
                            <!-- <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; "> -->
                                <!-- <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 5px; padding-bottom: 15px; background-color: #bf4839;"> -->
                                    <!-- <i class="fa fa-cogs fa-3x"></i> -->
                                    <!-- <span class="onoffswitch"> -->
                                        <!-- <input type="checkbox" ng-model="HAChecked" name="chkHAChecked" class="onoffswitch-checkbox" id="chkHAChecked"> -->
                                        <!-- <label class="onoffswitch-label" for="chkHAChecked"> -->
                                            <!-- <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span> -->
                                            <!-- <span class="onoffswitch-switch"></span> -->
                                        <!-- </label> -->
                                    <!-- </span> -->
                                  
                                <!-- </div> -->
                                <!-- <div class="col-xs-8 text-center padding-left0"> -->
                                    <!-- <h2 class="livescore">{{HA}}</h2> -->
                                    <!-- <div class="text-uppercase">Harsh Accel.</div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
					<div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #af64cc !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #863ba2;">
                                  <img src="styles/img/hbff.png"  alt="" height="35" width="35" style="align-content: center; margin-left:-8px">

                                </div>
                               <div class="col-xs-8 text-center">
                                    <h2 class="livescore">{{HB}}</h2>
                                    <div class="text-uppercase">H.B. </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
					
					  <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 8px; padding-bottom: 6px; background-color: #d28924; ">
                                    <i class="fa fa-cloud-upload fa-3x"></i>
                                    
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">12</h2>
                                    <div class="text-uppercase">Score</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </article>
		</div>
		
		
		<div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 livetrackingmap">
                <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #009688; color: white">
                        <div style="margin-left:5px">
                            <i class="fa fa-map-marker"></i> <span> Map View</span>
							 <span class="pull-right " style="margin-top:-2px ;margin-right:5px">

                               <span class="onoffswitch-title"> <button class="btn btn-warning btn-xs"  ng-click="getVehicleData()" ng-if="!OnOffStatus"> <i class=" fa fa-refresh"></i> Manual </button></span>
                               
                                <!-- <span class="onoffswitch-title"><button class="btn btn-primary btn-xs"> <i class="fa fa-refresh"></i> auto refresh</button></span> -->
                                <span class="onoffswitch">
                                    <input type="checkbox" name="start_interval_map" ng-model="OnOffStatus"
                                           ng-change="AutoOnOff()"
                                           class="onoffswitch-checkbox" id="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                    <label class="onoffswitch-label" for="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                        <span class="onoffswitch-inner"
                                              data-swchon-text="Auto"
                                              data-swchoff-text="Off"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>

                                </span>
                            </span>
							
							   <span class="pull-right" style="margin-right:5px">
                                 <span class="btn-group">
											<button class="btn dropdown-toggle  btn-xs btn-success" data-toggle="dropdown" aria-expanded="false"> Status <span class="caret"></span></button>
											<ul class="dropdown-menu pull-right js-status-update">
												<li class="">
													<a href="javascript:void(0);"><i class="fa fa-circle txt-color-green"></i> OVER SPEED</a>
												</li>
												<li class="">
													<a href="javascript:void(0);"><i class="fa fa-circle txt-color-red"></i> H.A.</a>
												</li>
												<li>
													<a href="javascript:void(0);"><i class="fa fa-circle txt-color-orange"></i> CORNERING</a>
												</li>
												
												
											</ul>
										</span>
                                 <button class="btn btn-primary btn-xs"> <i class=" fa fa-eye"></i> Show</button>

                            </span>
                           
                        </div>

                    </header>
                    <div>
                        <div class="row">

                            <div id="chartdiv1" data-smart-fill-content="" id="map-canvas" ui-map="myMap">
                                <ui-gmap-google-map control='map.control' center='map.center' zoom='map.zoom'>
                                    <ui-gmap-marker ng-repeat="m in map.markersr" coords="m" options="m.options" idkey="m.id">
                                        <ui-gmap-window options="windowOptions" closeclick="closeClick()">
                                            <div>
                                                <small>
                                                    Vehicle No:  {{m.vehicledetails.vehicle_no}} <br />
                                                    Speed: {{m.vehicledetails.speed}} <br />
                                                    Driver Name: {{m.vehicledetails.drivername}} <br />
                                                    Driver Mobile No: {{m.vehicledetails.derivermobileno}} <br />
                                                    Date Time: {{m.vehicledetails.recorddatetime| date:'dd-MM-yyyy h:mma'}} <br />
                                                    Latitude: {{m.vehicledetails.latitude}} <br />
                                                    logutude: {{m.vehicledetails.longitude}} <br />
                                                    Address: {{m.vehicledetails.address}} <br />
                                                    Alert/Status : <b>{{m.vehicledetails.alert}}</b>
                                                </small>
                                            </div>
                                        </ui-gmap-window>

                                    </ui-gmap-marker>

                                    <ui-gmap-circle ng-repeat="c in circle" radius="100"
                                                    stroke="{color: '#db6c0a', weight: 2, opacity: 1.0}"
                                                    fill="{color: '#db6c0a', opacity: 0.5}"
                                                    center="{latitude: c.latitude, longitude:c.longitude}"
                                                    clickable=true>
                                    </ui-gmap-circle>

                                </ui-gmap-google-map>

                            </div>

                        </div>
                    </div>
                </div>

            </article>
</div>
<div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #3276b1; color: white">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Vehicle Data</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable-basic tablebind="dashTablebind" bind-filters="true"
                                   class="display projects-table table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Vehicle No" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control pplaceholder" placeholder="DateTime" />
                                        </th>
                                        <!--<th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Location" />
                                        </th>-->
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Latitude" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Longitude" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Speed" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Distance" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Can Distance" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="RPM" />
                                        </th>
                                        <th class="hasinput" style="width:5%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Temperature" />
                                        </th>

                                    </tr>
                                    <tr>

                                        <th style="background-color: #ea9828 !important">Vehicle No</th>
                                        <th data-class="expand" style="background-color: #ea9828 !important">DateTime</th>
                                        <!--    <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Location</th>-->
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Latitude</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Longitude</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Speed(km/h)</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Distance</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Can Distance</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">RPM</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Temperature</th>

                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </article>
			</div>
        </div>

</div>
    </section>
</div>
<style>
    #chartdiv {
        width: 100%;
        height: 350px;
    }

    #chartdiv1 {
        height: 350px;
    }

    .livetrackingmap .jarviswidget > div {
        padding-top: 0px;
    }

    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>