<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Trip Playback']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
    </div>


    <div class="row">

        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <div jarvis-widget id="form-grid-widget" data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false"
                 data-widget-custombutton="false">

                <header>
                    <span class="widget-icon">  </span>
                    <div>
                        <span class="pull-left"><i class="fa fa-search"></i> Search</span> <label class="pull-right" class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="GridData">
                            <i></i>Grid Data
                        </label><span class="pull-right"> {{playtripmodel.date}}&nbsp;&nbsp;</span>
                    </div>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <div class="row smart-form">
                            <article class="col-sm-12">
                                <fieldset>
                                    <form name="detailfilterForm" novalidate="novalidate">
                                        <section class="col col-sm-12 col-md-12 col-lg-2" ng-class="{'state-error': detailfilterForm.VechicleNo.$invalid}">
                                            <label class="label">Vehicle No.</label>
                                            <label class="input">
                                                <input type="text" name="VechicleNo" class="form-control" list="list" ng-model="playtripmodel.vehicleRefId" placeholder="Vechicle No" required>
                                                <datalist id="list">
                                                    <option ng-repeat="vehicle in playtripmodel.dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>
                                                </datalist>
                                            </label>
                                            <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                <div class="note note-error" ng-if="detailfilterForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>
                                            </div>
                                        </section>

                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="label">Start Date</label>
                                            <label class="input">
                                                <!--<i class="icon-append fa fa-calendar"></i>-->
                                                <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                <input type="datetime-local" id="exampleInput" name="input" ng-model="playtripmodel.fromdate" />
                                                <!--<div role="alert">
                                                    <span class="error" ng-show="myForm.input.$error.required">
                                                        Required!
                                                    </span>
                                                    <span class="error" ng-show="myForm.input.$error.datetimelocal">
                                                        Not a valid date!
                                                    </span>
                                                </div>-->
                                                <!--</label>-->

                                        </section>

                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="label">Finish Date</label>
                                            <label class="input">
                                                <!--<i class="icon-append fa fa-calendar"></i>-->
                                                <!-- <input type="text" name="finishdate" id="finishdate" data-smart-datepicker data-max-restrict="#startdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected finish date">-->

                                                <input type="datetime-local" id="exampleInput" name="input" ng-model="playtripmodel.todate" />
                                                <!--<div role="alert">
                                                    <span class="error" ng-show="myForm.input.$error.required">
                                                        Required!
                                                    </span>
                                                    <span class="error" ng-show="myForm.input.$error.datetimelocal">
                                                        Not a valid date!
                                                    </span>
                                                </div>-->
                                                <!--</label>-->
                                        </section>

                                        <!--<section class="col col-2">

                                            <label class="label">To Time</label>
                                            <div class="input-group">
                                                <input class="form-control" data-smart-timepicker type="text" placeholder="Select time">
                                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                            </div>

                                        </section>-->
                                        <section class="col col-sm-12 col-md-12 col-lg-1">
                                            <label class="label">Speed(ms)</label>
                                            <label class="select">
                                                <select name="ddlplaySpeed" ng-model="playtripmodel.playSpeed" class="form-control">
                                                    <option value="10">10</option>
                                                    <option>20</option>
                                                    <option>30</option>
                                                    <option>40</option>
                                                    <option>50</option>
                                                    <option>60</option>
                                                    <option>70</option>
                                                    <option>80</option>
                                                    <option>90</option>
                                                    <option>100</option>
                                                </select> <i></i>
                                            </label>


                                        </section>

                                        <section class="col col-sm-12 col-md-12 col-lg-3">
                                            <label class="label" style="color:white">.</label>
                                            <button class="btn btn-primary btn-sm" ng-show="playtrip.newplay" ng-click="newplayOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-play" aria-hidden="true"></i> Play</button>
                                            <button class="btn btn-primary btn-sm" ng-show="playtrip.play" ng-click="playOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-play" aria-hidden="true"></i> Play</button>
                                            <button class="btn btn-primary btn-sm" ng-show="playtrip.pause" ng-click="pauseOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-pause" aria-hidden="true"></i> Pause</button>
                                            <button class="btn btn-primary btn-sm" ng-show="playtrip.stop" ng-click="stopOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-stop" aria-hidden="true"></i> Stop</button>


                                            <!--<span class="onoffswitch">
                                                <input type="checkbox" name="start_interval_map" ng-model="OnOffStatus"
                                                       ng-change="AutoOnOff()"
                                                       class="onoffswitch-checkbox" id="start_interval_map" ng-disabled="detailfilterForm.VechicleNo.$invalid">
                                                <label class="onoffswitch-label" for="start_interval_map" ng-disabled="detailfilterForm.VechicleNo.$invalid">
                                                    <span class="onoffswitch-inner"
                                                          data-swchon-text="On"
                                                          data-swchoff-text="Off"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>-->
                                        </section>
                                    </form>
                                </fieldset>
                            </article>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>

        </article>
    </div>





    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <div smart-include="app/clientuser/trip-playback/views/live-feeds.tpl.html" class="placeholder-live-feeds"></div>
            </article>
        </div>

        <!-- end row -->
    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
