<!-- MAIN CONTENT -->
<div id="content">

    <section widget-grid id="widget-grid">

        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Create Compitition']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>

           
                <form id="checkout-form" name="myForm" novalidate="novalidate">
                    <div class="row">
                        <article class="col-sm-12 col-md-12 col-lg-12">
                            <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                <header style="background-color: #1475bf; ">
                                    <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                                    <h2>  Basic Information </h2>
                                </header>

                                <div>
                                    <div class="widget-body no-padding">
                                        <div class="row smart-form">
                                            <article class="col-sm-12">
                                                <fieldset>
                                                    <div class="row">

                                                        <section class="col col-6">
                                                            <label class="label">Name of Competition</label>
                                                            <label class="input" ng-class="{'state-error': myForm.cmpt_name.$invalid}">
                                                                <i class="icon-prepend fa fa-user"></i>
                                                                <input type="text" name="cmpt_name" ng-model="cmpt_name" required>
                                                                <span style="color:red" ng-show="myForm.cmpt_name.$touched && myForm.cmpt_name.$invalid">
                                                                    <span ng-show="myForm.cmpt_name.$error.required">Competition is required.</span>

                                                                </span>
                                                            </label>
                                                        </section>
                                                        <section class="col col-6">
                                                            <label class="label">Starting On</label>
                                                            <label class="input" ng-class="{'state-error': myForm.start_date.$invalid}">
                                                                <i class="icon-prepend fa fa-play"></i>
                                                                <i class="icon-append fa fa-calendar"></i>
                                                                <!--<input type="text" name="start_date" ng-model="start_date">-->
                                                                <input datetime-picker name="start_date" ng-model="start_date" title="Select start date" date-format="dd-MM-yyyy" required />
                                                                <span style="color:red" ng-show="myForm.start_date.$touched && myForm.start_date.$invalid">
                                                                    <span ng-show="myForm.start_date.$error.required">Start date  is required.</span>

                                                                </span>

                                                            </label>
                                                        </section>


                                                        <section class="col col-6">
                                                            <label class="label">Ending On</label>
                                                            <label class="input" ng-class="{'state-error': myForm.end_date.$invalid}">
                                                                <i class="icon-prepend fa fa-stop"></i>
                                                                <!--<input type="text" name="end_date" ng-model="end_date">-->
                                                                <i class="icon-append fa fa-calendar"></i>
                                                                <!--<input type="text" name="start_date" ng-model="start_date">-->
                                                                <input datetime-picker name="end_date" ng-model="end_date" title="Select start date" date-format="dd-MM-yyyy" required />
                                                                <span style="color:red" ng-show="myForm.end_date.$touched && myForm.end_date.$invalid">
                                                                    <span ng-show="myForm.end_date.$error.required">End date  is required.</span>

                                                                </span>
                                                            </label>
                                                        </section>
                                                        <!--<section class="col col-6">
                                                            <div class="inline-group">
                                                               
                                                                <label class="label">Type:</label>
                                                                <label class="radio">
                                                                    <input type="radio" name="radio-inline1" checked="" ng-model="cmpt_type" value="private">
                                                                    <i></i>Private
                                                                </label>
                                                                <label class="radio">
                                                                    <input type="radio" name="radio-inline1" ng-model="cmpt_type" value="public">
                                                                    <i></i>Public
                                                                </label>
                                                            </div>
                                                        </section>-->


                                                </fieldset>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>

                        </div>

                        <div class="row">
                            <!--<article class="col-sm-12 col-md-12 col-lg-12 livetrackingmap">
                                <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                    <header style="background-color: #009688; color: white">
                                        <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                                        <h2>Prizes</h2>
                                    </header>

                                    <div class="smart-form">

                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">First Prize</label>
                                                <label class="input" ng-class="{'state-error': myForm.prize_desc1.$invalid}">
                                                    <i class="icon-prepend fa fa-gift"></i>
                                                    <input type="text" name="prize_desc1" ng-model="prize_desc1" required>
                                                    <span style="color:red" ng-show="myForm.prize_desc1.$touched && myForm.prize_desc1.$invalid" required>
                                                        <span ng-show="myForm.prize_desc1.$error.required"> First Prize is required.</span>

                                                    </span>
                                                </label>
                                            </section>

                                            <section class="col col-4">
                                                <label class="label">Second Prize</label>
                                                <label class="input" ng-class="{'state-error': myForm.prize_desc2.$invalid}">
                                                    <i class="icon-prepend fa fa-gift"></i>
                                                    <input type="text" name="prize_desc2" ng-model="prize_desc2" required>
                                                    <span style="color:red" ng-show="myForm.prize_desc2.$touched && myForm.prize_desc2.$invalid" required>
                                                        <span ng-show="myForm.prize_desc2.$error.required"> Second Prize is required.</span>

                                                    </span>
                                                </label>
                                            </section>

                                            <section class="col col-4">
                                                <label class="label">Third Prize</label>
                                                <label class="input" ng-class="{'state-error': myForm.prize_desc3.$invalid}">
                                                    <i class="icon-prepend fa fa-gift"></i>
                                                    <input type="text" name="prize_desc3" ng-model="prize_desc3" required>
                                                    <span style="color:red" ng-show="myForm.prize_desc3.$touched && myForm.prize_desc3.$invalid" required>
                                                        <span ng-show="myForm.prize_desc3.$error.required"> Third Prize is required.</span>

                                                    </span>

                                                </label>
                                            </section>
                                        </div>

                                    </div>
                                </div>


                            </article>-->

                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                    <header style="background-color: #af64cc; color: white">
                                        <span class="widget-icon"> <i class="fa fa-car"></i> </span>
                                        <h2> Eligibility Criteria</h2>
                                    </header>
                                    <div class="smart-form">
                                        <div class="row">
                                            <!--<section class="col col-4">
                                                <label class="label">Age From </label>
                                                <label class="input" ng-class="{'state-error': myForm.ec_agefrom.$invalid}">
                                                    <i class="icon-append fa fa-users"></i>
                                                    <input type="text" name="ec_agefrom" ng-model="ec_agefrom" required>
                                                    <span style="color:red" ng-show="myForm.ec_agefrom.$touched && myForm.ec_agefrom.$invalid" required>
                                                        <span ng-show="myForm.ec_agefrom.$error.required">  Age From  is required.</span>

                                                    </span>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Age To</label>
                                                <label class="input" ng-class="{'state-error': myForm.ec_ageto.$invalid}">
                                                    <i class="icon-append fa fa-users"></i>
                                                    <input type="text" name="ec_ageto" ng-model="ec_ageto" required>
                                                    <span style="color:red" ng-show="myForm.ec_ageto.$touched && myForm.ec_ageto.$invalid" required>
                                                        <span ng-show="myForm.ec_ageto.$error.required"> Age To is required.</span>

                                                    </span>
                                                </label>
                                            </section>-->
                                            <section class="col col-6">
                                                <label class="label">Min Kms/day</label>
                                                <label class="input" ng-class="{'state-error': myForm.min_km_travel.$invalid}">
                                                    <i class="icon-append fa fa-road"></i>
                                                    <input type="text" name="min_km_travel" ng-model="min_km_travel" required>
                                                    <span style="color:red" ng-show="myForm.min_km_travel.$touched && myForm.min_km_travel.$invalid" required>
                                                        <span ng-show="myForm.min_km_travel.$error.required"> Min Kmse is required.</span>

                                                    </span>
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label">Min Kms/Competition</label>
                                                <label class="input" ng-class="{'state-error': myForm.total_km_travel.$invalid}">
                                                    <i class="icon-append fa fa-road"></i>
                                                    <input type="text" name="total_km_travel" ng-model="total_km_travel" required>
                                                    <span style="color:red" ng-show="myForm.total_km_travel.$touched && myForm.total_km_travel.$invalid" required>
                                                        <span ng-show="myForm.total_km_travel.$error.required"> Min Kmse is required.</span>

                                                    </span>
                                                </label>
                                            </section>

                                            <!--<section class="col col-4">
                                                <label class="label">Gender</label>
                                                <div class="inline-group">
                                                    <label class="radio">
                                                        <input type="radio" name="radio-inline2" checked="" ng-model="radioValue" value="male">
                                                        <i></i>Male
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="radio-inline2" ng-model="radioValue" value="female">
                                                        <i></i>Female
                                                    </label>
                                                </div>
                                            </section>-->


                                        </div>




                                    </div>
                                </div>
                            </article>

                            <article class="col-sm-12 col-md-12 col-lg-12">
                                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                    <header style="background-color: #1475bf; color: white">
                                        <span class="widget-icon"> <i class="fa fa-car"></i> </span>
                                        <h2>  Terms And Conditions</h2>
                                    </header>
                                    <div class="smart-form">
                                        <div class="row">
                                            <section class="col col-8">
                                                <label class="textarea">
                                                    <i class="icon-append fa fa-comment"></i> <textarea rows="4" name="terms_conditions" ng-model="terms_conditions"></textarea>
                                                </label>
                                            </section>
                                            <section class="col col-8">
                                                <label class="label">Select Competition image</label>
                                                <label class="input">
                                                    <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                                    <input type="file" file-model="cmpt_profile_picture_path" name="cmpt_profile_picture_path" accept="image/*">
                                                </label>
                                            </section>



                                        </div>


                                        <div class="row">
                                            <footer>
                                                <button type="submit" class="btn btn-primary" ng-click="SaveCompetitionRecord()" ng-disabled="myForm.$invalid">
                                                    Create Now
                                                </button>
                                            </footer>
                                        </div>
                                  </div>
                                </div>
                            </article>





                        </div>
                 </form>
        </div>
    </section>


</div>



