<!-- MAIN CONTENT -->
<div id="content" class="myCompetation">
    <div class="row">
        <big-breadcrumbs items="['View Competition']" icon="table"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Terms And Conditions:</h4>
                </div>
                <div class="modal-body">
                    <label name="condition">{{terms_conditions}} </label> </br>
                    <label ng-hide="!isclose_cmpt">Competition Code</label>
                    <input type="text" name="cmpt_code" ng-model="cmpt_code" ng-hide="!isclose_cmpt" />

                    <br />
                    <input type="checkbox" ng-model="condition" /> I agree with all the term and condition of competition


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="joincompetition();  " data-dismiss="modal" ng-disabled="!condition">Join Now</button>
                </div>
            </div>

        </div>
    </div>
    <!-- widget grid -->
    <section widget-grid id="widget-grid">


        <div class="row">
            <article class="col-sm-12">




                <div jarvis-widget id="hide-show-columns-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">
                    <header style="background-color: #1475bf; ">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Private Competition</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable-basic tablebind="privatetablebind" bind-filters="true"
                                   class="display projects-table table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Competition</th>
                                        <th>Min KM</th>
                                        <th>Members</th>
                                        <th>Created By</th>
                                        <th> </th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>



                <div jarvis-widget id="hide-show-columns-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">
                    <header style="background-color: #1475bf; ">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Public Competition</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable-basic tablebind="publictablebind" bind-filters="true"
                                   class="display projects-table table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Competition</th>
                                        <th>Min KM</th>
                                        <th>Members</th>
                                        <th>Created By</th>
                                        <th> </th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </section>
</div>
