﻿<div id="content">
    <section widget-grid id="widget-grid">
        <form name="detailForm" novalidate="novalidate">
            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Plan Your Trip</h2>
                        </header>

                        <div class="smart-form">
                            <div class="row">
                                <img src="styles/img/other/tripplanning.png" class="pull-left display-image" alt="" style="width:950px; height:700px; border:solid 1px; margin-top:5px ;margin-left:10px">
                            </div>

                        </div>
</article>
            </div>

       

        </form>

    </section>

</div>




