<!-- MAIN CONTENT -->
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <big-breadcrumbs items="['Dashboard', 'List']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
                <!--<div class="pull-right">
                    <span class="semi-bold"><b style="color:#075e07">Overall Score</b> <sup class="badge bg-color-green bounceIn animated" style="margin-top:0px; padding:10px; font-size:20px">561</sup> <br>
                 </div>-->
             </article>
                <!--For Small Garpical Represntaion-->
                <!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
          </div>

      
        <!--Second Section For Vehicle Data-->
        <div jarvis-widget id="export-to-xls-pdf-datatable-widget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false"  data-widget-custombutton="false" data-widget-sortable="false">
            <header style="background-color: #5bc0dc; color: #fff;">
              
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Vehicles Data</h2>
                <div class="widget-toolbar" id="switch-1" role="menu">
                    <button class="btn btn-warning btn-xs" ng-if="!OnOffStatus" ng-click="ManualRefresh()"> <i class="fa fa-repeat"></i> Manual Refresh</button>
                    <span class="onoffswitch-title"><button class="btn btn-primary btn-xs"> <i class="fa fa-refresh"></i> auto refresh</button></span>
                    <span class="onoffswitch">
                        <input type="checkbox" name="start_interval_map" ng-model="OnOffStatus"
                               ng-change="AutoOnOff()"
                               class="onoffswitch-checkbox" id="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                        <label class="onoffswitch-label" for="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                            <span class="onoffswitch-inner"
                                  data-swchon-text="On"
                                  data-swchoff-text="Off"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </span>
                </div>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <!--<table datatable-column-reorder class="table table-striped table-bordered table-hover" width="100%">-->
                    <table datatable-basic tablebind="dashTablebind" bind-filters="true"
                           class="display projects-table table table-striped table-bordered table-hover"
                           cellspacing="0" width="100%">
                        <!--<table datatable-basic tablebind="tablebind" class="table table-striped table-bordered table-hover" width="100%">-->
                        <thead>
                            <tr>
                                <th data-hide="phone">status</th>
                                <th data-class="expand">Vehicle Details</th>
                                <th>Location/Date</th>
                                <th data-hide="phone,tablet">Speed</th>
                                <th data-hide="phone,tablet">RPM.</th>
                                <th data-hide="phone,tablet">Alert</th>
                                <th data-hide="phone,tablet">Graph</th>
                                <th data-hide="phone,tablet">Map</th>
                                <th data-hide="phone,tablet">OBD</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
        <!--<article class="col-sm-12 col-md-12 col-lg-12">

            <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header style="background-color: #5bc0dc; color: white">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Driver Score </h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="row smart-form">
                            <article class="col-sm-12">
                                <div id="chartdiv"></div>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
        </article>-->
       
    </section>


</div>
<!--<style>
    #chartdiv {
        width: 100%;
        height: 300px;
    }

    #chartdiv1 {
        width: 100%;
        height: 300px;
    }
</style>-->
