﻿/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/*easy chart CSS*/
.chart {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

.speed {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.speed:after {
  content: '(KM/H)';
  margin-left: 0.1em;
  font-size: .8em;
}

.rpm {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.rpm:after {
  content: '';
  margin-left: 0.1em;
  font-size: .8em;
}

.coolanttemperature {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.coolanttemperature:after {
  content: 'C';
  margin-left: 0.1em;
  font-size: .8em;
}

.padding-bottom30{padding-bottom:30px;}
.padding-left0{padding-left:0px!important;}
.padding-right0{padding-right:0px!important;}
.padding-left-right0{padding-left:0px!important; padding-right:0px!important;}
.margin-left0{margin-left:0px!important;}
.margin-right0{margin-right:0px!important;}
.margin-bottom0{margin-bottom:0px!important;}
.margin-bottom10{margin-bottom: 10px;}

.livetrackingmap iframe{width:100%; float: left;}
.starttracking{text-align: center; width: 100%;}
.livescore{font-weight:700; margin-bottom: -2px; margin-top:5px}
.speedmeter{}
 
#logo{margin-top: 2px;}
.subHeader{border-bottom: 1px dashed rgba(0,0,0,.2); font-size: 16px; font-weight: 300;color: #222; margin: 0px 0 20px;     padding: 0 0 8px 0;}
.types{float: left; margin-right: 10px; padding-top: 4px;}
.topHeader{ font-size: 19px; font-weight: 400; color: #333; background: #fafafa; padding: 5px; padding-left: 15px; border-bottom: 1px solid #f1f1f1;}

.myCompetation .jarviswidget-delete-btn{display: none;}
.myCompetation .jarviswidget-fullscreen-btn{display: none;}
.myCompetation .widget-toolbar{display: none;}
.createCompitition .dropdown-toggle {display: none;}
.createCompitition .jarviswidget-ctrls{display: none;}
.createCompitition .jarviswidget{margin-bottom: 0px;}
.compcar{width:30px;}
.compname{margin-left: 5px;}
.createCompitition .smart-form fieldset+fieldset { border-top: 1px solid rgba(18, 69, 146, 0.64); }
​.loginLogo {margin-left: 35px!important;}
.loginLogo img{ width: 115px!important; position: relative; bottom: 7px;}
.loginpage .carousel-inner>.item>a>img,.loginpage .carousel-inner>.item>img{max-height: 436px;}​
 .topHeader{background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f3f3f3),to(#e2e2e2));
    background-image: -webkit-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: -o-linear-gradient(top,#f3f3f3,#e2e2e2);
    background-image: linear-gradient(to bottom,#f3f3f3,#e2e2e2);
    background-repeat: repeat-x;}
.loginLogo{margin-top: 20px!important; margin-left: 0px!important;}
.padding-top-bottom-0{padding-bottom:0px!important;padding-top:0px!important;}
​ #logo img {
    width: 114px!important;
    height: auto;
    padding-left: 3px;
    margin-top: 4px;} 

.livetrackingcode {float: left; width: 100%;} 
.livetrackingcode .blue, .green, .red{float: left;}
.livetrackingcode .squareshape{padding: 0px 15px 0px 15px; margin-right: 10px; margin-left: 10px;}
.livetrackingcode .blue .squareshape{background-color: #0956e2;}
.livetrackingcode .green .squareshape{background-color: #15cc1b;}
.livetrackingcode .red .squareshape{background-color: #e20909;}​

/*vikram css for icons */
.iconOS{
	padding: 10px 10px 10px 10px;
	background-color: #c53c2e; 
}


