<!-- MAIN CONTENT -->
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <big-breadcrumbs items="['Dashboard', 'Welcome Admin']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div class="pull-right">

                    <span class="semi-bold"><b style="color:#075e07">Overall Score</b> <sup class="badge bg-color-green bounceIn animated" style="margin-top:20px; padding:10px; font-size:20px">561</sup> <br>

                </div>
                </article>
                <!--For Small Garpical Represntaion-->
                <!--<div smart-include="app/layout/partials/sub-header.tpl.html"></div>-->
</div>

      
        <!--Second Section For Vehicle Data-->
        <div jarvis-widget id="export-to-xls-pdf-datatable-widget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
            <header style="background-color: #5bc0dc; color: #fff;">
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>Vehicles Data</h2>
            </header>
            <div>
                <div class="widget-body no-padding">
                    <table datatable-column-reorder class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th data-hide="phone"></th>
                                <th data-class="expand">Vechile Details</th>
                                <th>Location/Date</th>
                                <th data-hide="phone">Km/Hr</th>
                                <th data-hide="phone,tablet">Speed</th>
                                <th data-hide="phone,tablet">Accele.</th>
                                <th data-hide="phone,tablet">Braking</th>
                                <th data-hide="phone,tablet">Graph</th>
                                <th data-hide="phone,tablet">Map</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>233</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <a data-ui-sref="app.dashboardtelematics.vehcileGraph">
                                        <ul id="sparks" class="">
                                            <li class="sparks-info">

                                                <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                    1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                                </div>
                                            </li>
                                        </ul>
                                    </a>
</td>

                                <td><a data-ui-sref="app.dashboardtelematics.livetracking" class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></a></td>

                            </tr>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i> </td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>233</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><a data-ui-sref="app.dashboardtelematics.livetracking" class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i> </td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>555</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>

                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><a data-ui-sref="app.dashboardtelematics.livetracking" class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></a></td>

                            </tr>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i> </td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>765</td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>

                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>567</td>

                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>678</td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>

                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>77</td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>777</td>

                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>777</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>

                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>565</td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>

                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>555</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                <td><b><i class="fa fa-crosshairs fa-2x" aria-hidden="true" style="color:red"></i></b></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>35728</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><i class="fa fa-car fa-3x" aria-hidden="true" style="color: #4169e1"></i></td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>35728</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><img src="https://cdn.dribbble.com/users/990377/screenshots/3205017/all_1.gif" height="40px" width="40px"  alt="img" class="margin-bottom-5 margin-top-5"> </td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>35728</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><img src="https://cdn.dribbble.com/users/990377/screenshots/3205017/all_1.gif" height="40px" width="40px"  alt="img" class="margin-bottom-5 margin-top-5"> </td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>35728</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><img src="https://cdn.dribbble.com/users/990377/screenshots/3205017/all_1.gif" height="40px" width="40px"  alt="img" class="margin-bottom-5 margin-top-5"> </td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>35728</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><img src="https://cdn.dribbble.com/users/990377/screenshots/3205017/all_1.gif" height="40px" width="40px"  alt="img" class="margin-bottom-5 margin-top-5"> </td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>35728</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><img src="https://cdn.dribbble.com/users/990377/screenshots/3205017/all_1.gif" height="40px" width="40px"  alt="img" class="margin-bottom-5 margin-top-5"> </td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>35728</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            <tr>
                                <td><img src="https://cdn.dribbble.com/users/990377/screenshots/3205017/all_1.gif" height="40px" width="40px"  alt="img" class="margin-bottom-5 margin-top-5"> </td>
                                <td>MH-12-AB-5566</td>
                                <td>Pune</td>

                                <td>35728</td>
                                <td><img src="styles/img/speed.png" height="30px" width="30px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true" style="color:#f0ad4e"></i></td>
                                 <td><img src="styles/img/brake.png" height="40px" width="40px" alt="img" class="margin-bottom-5 margin-top-5"></td>
                                <td data-sparkline-container>
                                    <ul id="sparks" class="">
                                        <li class="sparks-info">

                                            <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                                1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td><i class="fa fa-map-marker fa-2x" aria-hidden="true" style="color:#075e07"></i></td>
                            </tr>


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!--END Second Section For Vehicle Data-->


        <!--<section id="widget-grid" widget-grid>


            <div class="row">
                <article class="col-sm-12">

                    <div smart-include="app/clientuser/dashboard-telematics/live-feeds.tpl.html" class="placeholder-live-feeds"></div>

                </article>
            </div>
        </section>-->
    </section>
</div>
