<div jarvis-widget id="live-feeds-widget" data-widget-togglebutton="false" data-widget-editbutton="false"
     data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>

        <h2>Live Feeds </h2>

        <ul class="nav nav-tabs pull-right in" id="myTab">
            <li class="active">
                <a data-toggle="tab" href="#s11"><i class="fa fa-map-marker"></i> <span class="hidden-mobile hidden-tablet"> Map</span></a>
            </li>


            <li>
                <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Live Status</span></a>
            </li>

            <li>
                <a data-toggle="tab" href="#s2"><i class="fa  fa-taxi"></i> <span class="hidden-mobile hidden-tablet">Vehicle Data</span></a>
            </li>

            <li>
                <a data-toggle="tab" href="#s3"><i class="fa  fa-taxi"></i> <span class="hidden-mobile hidden-tablet">Graphical View</span></a>
            </li>

        </ul>

    </header>

    <!-- widget div-->
    <div class="no-padding">

        <div class="widget-body">
            <!-- content -->
            <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s11">
                    <div class="widget-body-toolbar bg-color-white">
                        <div class="row">
                            <article class="col-sm-12">
                                <div>
                                    <div>
                                        <div class="widget-body no-padding" data-smart-fit-app-view="#map-canvas" data-leading-y="550">
                                            <div style="height:350px" data-smart-fill-content="" id="map-canvas" ui-map="myMap">
                                                <!--<ui-gmap-google-map control='map.control' center='map.center' zoom='map.zoom'>
                                                    <ui-gmap-marker ng-repeat="m in map.markersr"
                                                                    coords="m" icon='{url: "styles/img/car.png" }' idkey="m.id" >
                                                    </ui-gmap-marker>
                                                    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                                                      geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
                                                </ui-gmap-google-map>-->

                                                <ui-gmap-google-map control='map.control' center='map.center' zoom='map.zoom'>
                                                    <ui-gmap-marker ng-repeat="m in map.markersr"
                                                                    coords="m" icon='{url: "styles/img/car.png" }' idkey="m.id" click="onClick()" events="marker.events">
                                                        <ui-gmap-window options="windowOptions" closeclick="closeClick()">
                                                            <div>{{m}}</div>
                                                        </ui-gmap-window>
                                                    </ui-gmap-marker>
                                                    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                                                      geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
                                                </ui-gmap-google-map>

                                              
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade " id="s1">
                    <div class="row no-space">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <span class="demo-liveupdate-1">
                                <span class="onoffswitch-title">Live switch</span> <span class="onoffswitch">
                                    <input type="checkbox" name="start_interval" ng-model="autoUpdate"
                                           class="onoffswitch-checkbox" id="start_interval">
                                    <label class="onoffswitch-label" for="start_interval">
                                        <span class="onoffswitch-inner"
                                              data-swchon-text="ON"
                                              data-swchoff-text="OFF"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </span>
                            </span>

                            <!--<div id="updating-chart" class="chart-large txt-color-blue" flot-basic flot-data="liveStats" flot-options="liveStatsOptions"></div>-->

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                    <span class="text">
                                        Parameter1 <span class="pull-right">130/200</span>
                                    </span>

                                    <div class="progress  progress-striped active">
                                        <div class="progress-bar bg-color-blueDark " style="width: 65%;"></div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                    <span class="text">
                                        Parameter2 <span class="pull-right">440 GB</span>
                                    </span>

                                    <div class="progress  progress-striped active">
                                        <div class="progress-bar bg-color-blue" style="width: 34%;"></div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                    <span class="text">
                                        Parameter3<span class="pull-right">77%</span>
                                    </span>

                                    <div class="progress  progress-striped active">
                                        <div class="progress-bar bg-color-blue" style="width: 77%;"></div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                                    <span class="text">
                                        Parameter4 <span class="pull-right">7 Days</span>
                                    </span>

                                    <div class="progress  progress-striped active">
                                        <div class="progress-bar bg-color-greenLight" style="width: 84%;"></div>
                                    </div>
                                </div>

                                <span class="show-stat-buttons">
                                    <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <a href-void class="btn btn-default btn-block hidden-xs">Generate PDF</a>
                                    </span> <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <a href-void
                                           class="btn btn-default btn-block hidden-xs">
                                            Report
                                            a bug
                                        </a>
                                    </span>
                                </span>

                            </div>

                        </div>
                    </div>

                    <div class="show-stat-microcharts" data-sparkline-container data-easy-pie-chart-container>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <ng-gauge size="60" type="arch" thick="5" used="chartModel.Rpm.Rpm" total="chartModel.Rpm.maxvalue" cap=" round" label="" foreground-color="#71843f" background-color="rgba(255,255,255, 0.4)" append="RPM"></ng-gauge>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <span class="easy-pie-title"> Engine RPM </span>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <ul class="smaller-stat hidden-sm hidden-xs pull-right">
                                        <li>
                                            <span class="label bg-color-greenLight"><i class="fa fa-caret-up"></i>16383.75</span>
                                        </li>
                                        <li>
                                            <span class="label bg-color-blueLight"><i class="fa fa-caret-down"></i>0</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <ng-gauge size="60" type="arch" thick="5" used="chartModel.Fuellevel.Fuellevel" total="chartModel.Fuellevel.maxvalue" cap=" round" label="" foreground-color="#57889c" background-color="rgba(255,255,255, 0.4)" append="(%)"></ng-gauge>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <span class="easy-pie-title"> Fuel Level </span>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <ul class="smaller-stat hidden-sm hidden-xs pull-right">
                                        <li>
                                            <span class="label bg-color-darken">100</span>
                                        </li>
                                        <li>
                                            <span class="label bg-color-blueDark"><i class="fa fa-caret-up"></i> 0</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <ng-gauge size="60" type="arch" thick="5" used="chartModel.CoolantTemp.CoolantTemp" total="chartModel.CoolantTemp.maxvalue" cap=" round" label="" foreground-color="#404040" background-color="rgba(255,255,255, 0.4)" append="(C)"></ng-gauge>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <span class="easy-pie-title">
                                        Engine Temp </i>
                                    </span>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <ul class="smaller-stat hidden-sm hidden-xs pull-right">
                                        <li>
                                            <span class="label bg-color-red"><i class="fa fa-caret-up"></i>215</span>
                                        </li>
                                        <li>
                                            <span class="label bg-color-blue"><i class="fa fa-caret-down"></i>-40</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <ng-gauge size="60" type="arch" thick="5" used="chartModel.Speed.Speed" total="chartModel.Speed.maxvalue" cap=" round" label="" foreground-color="#404040" background-color="rgba(255,255,255, 0.4)" append="(km/h)"></ng-gauge>
                            </div>
                            <span class="easy-pie-title">
                                Speed <i class="fa fa-caret-down icon-color-good"></i>
                            </span>
                            <ul class="smaller-stat hidden-sm pull-right">
                                <li>
                                    <span class="label bg-color-red"><i class="fa fa-caret-up"></i> 255</span>
                                </li>
                                <li>
                                    <span class="label bg-color-blue"><i class="fa fa-caret-down"></i> 0F</span>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
                <!-- end s1 tab pane -->

                <div class="tab-pane fade" id="s2">
                    <div class="widget-body-toolbar bg-color-white">

                        <div jarvis-widget id="normal-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">

                            <div>
                                <div class="widget-body no-padding">

                                    <table datatable-basic tablebind="dashTablebind" bind-filters="true"
                                           class="display projects-table table table-striped table-bordered table-hover"
                                           cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="Type" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="Vehicle No" />
                                                </th>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control pplaceholder" placeholder="DateTime" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="Location" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="Latitude" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="Longitude" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="Speed" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="Distance" />
                                                </th>
                                                <th class="hasinput" style="width:10%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="RPM" />
                                                </th>
                                                <th class="hasinput" style="width:5%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="Temperature" />
                                                </th>
                                                <th class="hasinput" style="width:5%">
                                                    <input type="text" class="form-control pplaceholder" placeholder="Fuel" />
                                                </th>
                                            </tr>
                                            <tr>
                                                <th data-hide="phone,tablet">Type</th>
                                                <th>Vehicle No</th>
                                                <th data-class="expand">DateTime</th>
                                                <th data-hide="phone,tablet">Location</th>
                                                <th data-hide="phone,tablet">Latitude</th>
                                                <th data-hide="phone,tablet">Longitude</th>
                                                <th data-hide="phone,tablet">Speed(km/h)</th>
                                                <th data-hide="phone,tablet">Distance(kms)</th>
                                                <th data-hide="phone,tablet">RPM</th>
                                                <th data-hide="phone,tablet">Temperature</th>
                                                <th data-hide="phone,tablet">Fuel</th>
                                            </tr>
                                        </thead>
                                    </table>

                                </div>

                            </div>



                        </div>

                    </div>
                    <!-- end s2 tab pane -->

                    
                    <!-- end s3 tab pane -->
                </div>

                <div class="tab-pane fade" id="s3">
                    <div class="widget-body-toolbar bg-color-white">

                        <div class="row">

                          Grapics
                        </div>
                        <div>

                        </div>


                    </div>

                </div>

                <!-- end content -->
            </div>

        </div>
        <!-- end widget div -->
    </div>
