﻿<!-- MAIN CONTENT -->
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Live Tracking']" class="col-xs-12 col-sm-7 col-md-7 col-lg-8"></big-breadcrumbs>
			<div class="col-lg-3">
                <a href="http://www.animatedimages.org/cat-cars-67.htm"><img src="http://www.animatedimages.org/data/media/67/animated-car-image-0021.gif" border="0" alt="animated-car-image-0021" /></a>
            </div>
        </div>

        
 

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false"  data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #008080; ">
                        <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                        <h2>Search </h2>
						<div class="widget-toolbar" id="switch-1" role="menu">
                            <span class="onoffswitch-title"><i class="fa fa-refresh"></i> Auto Refresh</span>
                            <span class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </span>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row smart-form">
                                <article class="col-sm-12">
                                    <fieldset>
                                        <form name="detailForm" novalidate="novalidate">
                                            <section class="col col-2">
                                                <label class="label">Vehicle Number</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <input type="text" name="VechicleNo" class="form-control" list="list" placeholder="Vechicle No" required>

                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">Start Date</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <i class="icon-append fa fa-calendar" style="color:orange"></i>
                                                    <input type="text" name="VechicleNo" class="form-control" list="list" placeholder="Start Date" required>
                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">End Date</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <i class="icon-append fa fa-calendar" style="color:orange"></i>
                                                    <input type="text" name="VechicleNo" class="form-control" list="list" placeholder="End Date" required>

                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                <label class="label">Find Trip</label>
                                                <label class="select" style="border: 1px  #000; border-radius: 2px">
                                                   <select>
                                                       <option>Express Way</option>
                                                       <option>City Map</option>
                                                   </select><i></i>

                                                </label>
                                            </section>

                                            <section class="col col-4">
                                                <label class="label">.</label>
                                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-play" aria-hidden="true"></i> Start</button>
                                                <!--<button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pause" aria-hidden="true"></i> Pause</button>
                                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-stop" aria-hidden="true"></i> Stop</button>-->
                                               
                                            </section>
                                           
                                        </form>
                                    </fieldset>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </article>


            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="row" style=" padding-bottom: 20px;">

                    <div class=" col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: rgba(0, 0, 0, 0.1);">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center">
                                    <h2 class="livescore">2300</h2>
                                    <div class="text-uppercase">Harsh Breaking </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #26A69A !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #22958a; ">
                                    <i class="fa fa-user fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">1200</h2>
                                    <div class="text-uppercase">Over Speed </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #d28924; ">
                                    <i class="fa fa-cloud-upload fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">300</h2>
                                    <div class="text-uppercase">Cornering</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #666 !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #5c5c5c;">
                                    <i class="fa fa-phone fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">1200</h2>
                                    <div class="text-uppercase">Calls Taken </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #d5503f !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #bf4839;">
                                    <i class="fa fa-cogs fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">2602</h2>
                                    <div class="text-uppercase">Harsh Accel.</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                </article>

                <!--<article class="col-sm-12 col-md-12 col-lg-12">
            <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header style="background-color: #008080; color: white">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Search </h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="row smart-form">
                            <fieldset>
                                <article class="col-sm-12">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <span style="font-size: 16px; margin: 10px 6px 0; color: #d9534f"> <b>Harsh Breaking </b></span> <i class="fa fa-wrench fa-3x" style="color: #d9534f" aria-hidden="true"></i>
                                    </div>

                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <span style="font-size: 16px; margin: 10px 6px 0;"> <b>Over Speed </b></span> <i class="fa fa-car fa-3x" aria-hidden="true"></i>
                                    </div>


                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <span style="font-size: 16px; margin: 10px 6px 0; color: #428bca"> <b>Cornering </b></span> <i class="fa fa-user fa-3x" style="color: #428bca" aria-hidden="true"></i>
                                    </div>


                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <span style="font-size: 16px; margin: 10px 6px 0;"> <b> Harsh Acceleration</b></span> <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
                                    </div>
                                </article>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </article>-->


                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #428bca; color: white">
                            <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                            <h2>Map View </h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">

                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <div class="mymap" style="height:350px;">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d121059.0344739699!2d73.86296739999999!3d18.52461645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1498467674930" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>​
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Graphical Data </h2>
                        </header>
                        <div id="chartdiv"></div>
                    </div>
                </article>

                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Vechile Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">

                                <table datatable-table-tools class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th data-hide="phone">ID</th>
                                            <th data-class="expand">Name</th>
                                            <th>Phone</th>
                                            <th data-hide="phone">Company</th>
                                            <th data-hide="phone,tablet">Zip</th>
                                            <th data-hide="phone,tablet">City</th>
                                            <th data-hide="phone,tablet">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table table-active">
                                            <td>1</td>
                                            <td>Jennifer</td>
                                            <td>1-342-463-8341</td>
                                            <td>Et Rutrum Non Associates</td>
                                            <td>35728</td>
                                            <td>Fogo</td>
                                            <td>03/04/14</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Clark</td>
                                            <td>1-516-859-1120</td>
                                            <td>Nam Ac Inc.</td>
                                            <td>7162</td>
                                            <td>Machelen</td>
                                            <td>03/23/13</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Brendan</td>
                                            <td>1-724-406-2487</td>
                                            <td>Enim Commodo Limited</td>
                                            <td>98611</td>
                                            <td>Norman</td>
                                            <td>02/13/14</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Warren</td>
                                            <td>1-412-485-9725</td>
                                            <td>Odio Etiam Institute</td>
                                            <td>10312</td>
                                            <td>Sautin</td>
                                            <td>01/01/13</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Rajah</td>
                                            <td>1-849-642-8777</td>
                                            <td>Neque Ltd</td>
                                            <td>29131</td>
                                            <td>Glovertown</td>
                                            <td>02/16/13</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Demetrius</td>
                                            <td>1-470-329-9627</td>
                                            <td>Euismod In Ltd</td>
                                            <td>1883</td>
                                            <td>Kapolei</td>
                                            <td>03/15/13</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Keefe</td>
                                            <td>1-188-191-2346</td>
                                            <td>Molestie Industries</td>
                                            <td>2211BM</td>
                                            <td>Modena</td>
                                            <td>07/08/13</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Leila</td>
                                            <td>1-663-655-8904</td>
                                            <td>Est LLC</td>
                                            <td>75286</td>
                                            <td>Hondelange</td>
                                            <td>12/09/12</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Fritz</td>
                                            <td>1-598-234-7837</td>
                                            <td>Et Ultrices Posuere Institute</td>
                                            <td>2324</td>
                                            <td>Monte San Pietrangeli</td>
                                            <td>12/29/12</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Cassady</td>
                                            <td>1-212-965-8381</td>
                                            <td>Vitae Erat Vel Company</td>
                                            <td>5898</td>
                                            <td>Huntly</td>
                                            <td>10/07/13</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>Rogan</td>
                                            <td>1-541-654-9030</td>
                                            <td>Iaculis Incorporated</td>
                                            <td>6464JN</td>
                                            <td>Carson City</td>
                                            <td>05/30/13</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>Candice</td>
                                            <td>1-153-708-6027</td>
                                            <td>Pellentesque Company</td>
                                            <td>8565</td>
                                            <td>Redruth</td>
                                            <td>02/25/14</td>
                                        </tr>


                                        <tr>
                                            <td>37</td>
                                            <td>Rowan</td>
                                            <td>1-782-168-2387</td>
                                            <td>Aliquet Consulting</td>
                                            <td>33000</td>
                                            <td>Papasidero</td>
                                            <td>02/06/14</td>
                                        </tr>
                                        <tr>
                                            <td>38</td>
                                            <td>Eric</td>
                                            <td>1-161-390-1140</td>
                                            <td>Odio Institute</td>
                                            <td>5652</td>
                                            <td>Moliterno</td>
                                            <td>03/14/13</td>
                                        </tr>
                                        <tr>
                                            <td>39</td>
                                            <td>Dana</td>
                                            <td>1-989-320-2205</td>
                                            <td>Bibendum Fermentum Institute</td>
                                            <td>X31 1HZ</td>
                                            <td>Saint-Pierre</td>
                                            <td>02/25/13</td>
                                        </tr>
                                        <tr>
                                            <td>40</td>
                                            <td>Karleigh</td>
                                            <td>1-218-513-8714</td>
                                            <td>Duis Volutpat Inc.</td>
                                            <td>1356</td>
                                            <td>Fresno</td>
                                            <td>06/09/14</td>
                                        </tr>
                                        <tr>
                                            <td>41</td>
                                            <td>Malik</td>
                                            <td>1-869-972-9871</td>
                                            <td>Praesent Luctus Curabitur Limited</td>
                                            <td>V3Y 0P0</td>
                                            <td>Roxboro</td>
                                            <td>05/09/14</td>
                                        </tr>
                                        <tr>
                                            <td>42</td>
                                            <td>May</td>
                                            <td>1-462-220-8205</td>
                                            <td>Suspendisse Dui LLP</td>
                                            <td>4765</td>
                                            <td>Mold</td>
                                            <td>06/15/13</td>
                                        </tr>
                                        <tr>
                                            <td>43</td>
                                            <td>Alan</td>
                                            <td>1-478-769-3709</td>
                                            <td>Suspendisse Inc.</td>
                                            <td>7354AC</td>
                                            <td>Norfolk</td>
                                            <td>03/09/14</td>
                                        </tr>
                                        <tr>
                                            <td>44</td>
                                            <td>Anastasia</td>
                                            <td>1-589-358-5285</td>
                                            <td>Mus Proin Institute</td>
                                            <td>33244</td>
                                            <td>Montbliart</td>
                                            <td>06/18/14</td>
                                        </tr>
                                        <tr>
                                            <td>45</td>
                                            <td>Yardley</td>
                                            <td>1-422-907-2926</td>
                                            <td>Urna Et LLP</td>
                                            <td>88531</td>
                                            <td>Évreux</td>
                                            <td>05/23/14</td>
                                        </tr>
                                        <tr>
                                            <td>46</td>
                                            <td>Oscar</td>
                                            <td>1-476-548-4758</td>
                                            <td>Nunc Id Enim Institute</td>
                                            <td>T5Z 4YS</td>
                                            <td>Burlington</td>
                                            <td>08/26/14</td>
                                        </tr>
                                        <tr>
                                            <td>47</td>
                                            <td>Hasad</td>
                                            <td>1-397-946-7346</td>
                                            <td>Auctor Nunc Corp.</td>
                                            <td>2307HU</td>
                                            <td>Savona</td>
                                            <td>10/29/13</td>
                                        </tr>
                                        <tr>
                                            <td>48</td>
                                            <td>Mohammad</td>
                                            <td>1-984-931-7753</td>
                                            <td>Ultricies Dignissim LLP</td>
                                            <td>4718</td>
                                            <td>Nadrin</td>
                                            <td>12/08/13</td>
                                        </tr>
                                        <tr>
                                            <td>49</td>
                                            <td>Nissim</td>
                                            <td>1-739-146-3150</td>
                                            <td>Lacus Ltd</td>
                                            <td>UX95 5JM</td>
                                            <td>Veere</td>
                                            <td>08/19/14</td>
                                        </tr>
                                        <tr>
                                            <td>50</td>
                                            <td>Porter</td>
                                            <td>1-299-790-1428</td>
                                            <td>Aliquam LLC</td>
                                            <td>41708</td>
                                            <td>Montaldo Bormida</td>
                                            <td>11/02/12</td>
                                        </tr>
                                        <tr>
                                            <td>51</td>
                                            <td>Sophia</td>
                                            <td>1-413-195-0820</td>
                                            <td>Viverra Maecenas Iaculis Ltd</td>
                                            <td>83468</td>
                                            <td>Doetinchem</td>
                                            <td>09/28/13</td>
                                        </tr>
                                        <tr>
                                            <td>52</td>
                                            <td>Acton</td>
                                            <td>1-855-937-9214</td>
                                            <td>Vitae Sodales Company</td>
                                            <td>1757</td>
                                            <td>Bad Oldesloe</td>
                                            <td>04/13/13</td>
                                        </tr>
                                        <tr>
                                            <td>53</td>
                                            <td>Briar</td>
                                            <td>1-846-339-0222</td>
                                            <td>Congue Turpis In Limited</td>
                                            <td>51510</td>
                                            <td>Caerphilly</td>
                                            <td>02/06/13</td>
                                        </tr>
                                        <tr>
                                            <td>54</td>
                                            <td>Benjamin</td>
                                            <td>1-828-436-8902</td>
                                            <td>Aliquam Nec Enim Ltd</td>
                                            <td>4289GW</td>
                                            <td>Holyhead</td>
                                            <td>12/17/13</td>
                                        </tr>
                                        <tr>
                                            <td>55</td>
                                            <td>Gregory</td>
                                            <td>1-782-119-9191</td>
                                            <td>A PC</td>
                                            <td>14531</td>
                                            <td>Águas Lindas de Goiás</td>
                                            <td>04/11/14</td>
                                        </tr>
                                        <tr>
                                            <td>56</td>
                                            <td>Marny</td>
                                            <td>1-255-275-2769</td>
                                            <td>Malesuada Institute</td>
                                            <td>41706</td>
                                            <td>Montaldo Bormida</td>
                                            <td>12/19/13</td>
                                        </tr>
                                        <tr>
                                            <td>57</td>
                                            <td>Indira</td>
                                            <td>1-215-687-1488</td>
                                            <td>Augue Id Ante PC</td>
                                            <td>42010</td>
                                            <td>Lorient</td>
                                            <td>09/02/13</td>
                                        </tr>
                                        <tr>
                                            <td>58</td>
                                            <td>Fleur</td>
                                            <td>1-309-181-4794</td>
                                            <td>Libero Donec Consectetuer Corp.</td>
                                            <td>ZD4H 3NF</td>
                                            <td>Valleyview</td>
                                            <td>01/13/14</td>
                                        </tr>
                                        <tr>
                                            <td>59</td>
                                            <td>Fulton</td>
                                            <td>1-380-339-9492</td>
                                            <td>Vulputate LLP</td>
                                            <td>01154</td>
                                            <td>Blois</td>
                                            <td>04/16/13</td>
                                        </tr>
                                        <tr>
                                            <td>60</td>
                                            <td>Arsenio</td>
                                            <td>1-794-184-3132</td>
                                            <td>Nec Diam Duis Ltd</td>
                                            <td>91908</td>
                                            <td>Foligno</td>
                                            <td>05/24/13</td>
                                        </tr>
                                        <tr>
                                            <td>61</td>
                                            <td>Jaden</td>
                                            <td>1-979-292-4559</td>
                                            <td>Vestibulum Ante Industries</td>
                                            <td>2724</td>
                                            <td>Bertogne</td>
                                            <td>06/16/14</td>
                                        </tr>
                                        <tr>
                                            <td>62</td>
                                            <td>Kylie</td>
                                            <td>1-900-819-9083</td>
                                            <td>Arcu Vestibulum Ut Incorporated</td>
                                            <td>E6R 8N1</td>
                                            <td>Scandriglia</td>
                                            <td>03/19/14</td>
                                        </tr>
                                        <tr>
                                            <td>63</td>
                                            <td>Melyssa</td>
                                            <td>1-911-370-2794</td>
                                            <td>Pede Sagittis Augue Ltd</td>
                                            <td>37293</td>
                                            <td>Frauenkirchen</td>
                                            <td>08/31/13</td>
                                        </tr>
                                        <tr>
                                            <td>64</td>
                                            <td>Jerry</td>
                                            <td>1-501-422-6929</td>
                                            <td>Nonummy Ut Molestie LLP</td>
                                            <td>9024</td>
                                            <td>Nossegem</td>
                                            <td>07/22/13</td>
                                        </tr>
                                        <tr>
                                            <td>65</td>
                                            <td>Rhiannon</td>
                                            <td>1-188-451-3938</td>
                                            <td>Elit Pellentesque Consulting</td>
                                            <td>12283</td>
                                            <td>College</td>
                                            <td>08/16/14</td>
                                        </tr>
                                        <tr>
                                            <td>66</td>
                                            <td>Price</td>
                                            <td>1-769-162-9068</td>
                                            <td>Vitae Erat Vivamus Corp.</td>
                                            <td>6843</td>
                                            <td>Villata</td>
                                            <td>08/18/14</td>
                                        </tr>
                                        <tr>
                                            <td>67</td>
                                            <td>Ginger</td>
                                            <td>1-263-395-0268</td>
                                            <td>Ligula Institute</td>
                                            <td>1979</td>
                                            <td>Rodengo/Rodeneck</td>
                                            <td>06/14/13</td>
                                        </tr>
                                        <tr>
                                            <td>68</td>
                                            <td>Britanney</td>
                                            <td>1-121-616-0992</td>
                                            <td>Nec Diam LLP</td>
                                            <td>07095</td>
                                            <td>Queanbeyan</td>
                                            <td>09/01/13</td>
                                        </tr>
                                        <tr>
                                            <td>69</td>
                                            <td>Wylie</td>
                                            <td>1-736-996-8984</td>
                                            <td>Arcu Industries</td>
                                            <td>7587LK</td>
                                            <td>Fauglia</td>
                                            <td>01/24/13</td>
                                        </tr>
                                        <tr>
                                            <td>70</td>
                                            <td>Holly</td>
                                            <td>1-210-117-9053</td>
                                            <td>Adipiscing Incorporated</td>
                                            <td>9053</td>
                                            <td>Dortmund</td>
                                            <td>04/21/13</td>
                                        </tr>
                                        <tr>
                                            <td>71</td>
                                            <td>Althea</td>
                                            <td>1-525-409-7849</td>
                                            <td>Vel Company</td>
                                            <td>20125</td>
                                            <td>Qualicum Beach</td>
                                            <td>09/27/13</td>
                                        </tr>
                                        <tr>
                                            <td>72</td>
                                            <td>Quintessa</td>
                                            <td>1-947-731-6466</td>
                                            <td>Nunc Interdum Foundation</td>
                                            <td>3260</td>
                                            <td>Llandrindod Wells</td>
                                            <td>04/06/13</td>
                                        </tr>
                                        <tr>
                                            <td>73</td>
                                            <td>Fitzgerald</td>
                                            <td>1-725-747-2841</td>
                                            <td>Torquent Associates</td>
                                            <td>01688-439</td>
                                            <td>Manchester</td>
                                            <td>02/06/14</td>
                                        </tr>
                                        <tr>
                                            <td>74</td>
                                            <td>Keefe</td>
                                            <td>1-672-945-4291</td>
                                            <td>Mollis Dui PC</td>
                                            <td>73231</td>
                                            <td>Hillsboro</td>
                                            <td>06/24/13</td>
                                        </tr>
                                        <tr>
                                            <td>75</td>
                                            <td>Rudyard</td>
                                            <td>1-504-162-2567</td>
                                            <td>Ipsum Curabitur Consequat Foundation</td>
                                            <td>Xxxx</td>
                                            <td>Kimberly</td>
                                            <td>12/12/13</td>
                                        </tr>
                                        <tr>
                                            <td>76</td>
                                            <td>Kareem</td>
                                            <td>1-716-663-9703</td>
                                            <td>In Ltd</td>
                                            <td>2707</td>
                                            <td>Legal</td>
                                            <td>01/29/14</td>
                                        </tr>
                                        <tr>
                                            <td>77</td>
                                            <td>Genevieve</td>
                                            <td>1-361-358-3030</td>
                                            <td>Mi PC</td>
                                            <td>4995</td>
                                            <td>Crieff</td>
                                            <td>04/25/13</td>
                                        </tr>
                                        <tr>
                                            <td>78</td>
                                            <td>Wang</td>
                                            <td>1-806-922-8622</td>
                                            <td>Lacinia Vitae Corporation</td>
                                            <td>1850UC</td>
                                            <td>Rudiano</td>
                                            <td>04/05/14</td>
                                        </tr>
                                        <tr>
                                            <td>79</td>
                                            <td>Odessa</td>
                                            <td>1-983-915-7779</td>
                                            <td>Dolor Donec Corporation</td>
                                            <td>L2M 1L6</td>
                                            <td>Siddi</td>
                                            <td>01/05/13</td>
                                        </tr>
                                        <tr>
                                            <td>80</td>
                                            <td>Adrienne</td>
                                            <td>1-771-540-3805</td>
                                            <td>Eu Lacus Incorporated</td>
                                            <td>2116</td>
                                            <td>Lincoln</td>
                                            <td>09/13/14</td>
                                        </tr>
                                        <tr>
                                            <td>81</td>
                                            <td>Charity</td>
                                            <td>1-749-804-8328</td>
                                            <td>Aenean Sed Pede Foundation</td>
                                            <td>14470-440</td>
                                            <td>Haverfordwest</td>
                                            <td>08/01/13</td>
                                        </tr>
                                        <tr>
                                            <td>82</td>
                                            <td>Kieran</td>
                                            <td>1-333-507-3878</td>
                                            <td>Malesuada Ut Sem Corp.</td>
                                            <td>W3C 3PM</td>
                                            <td>Croydon</td>
                                            <td>10/30/13</td>
                                        </tr>
                                        <tr>
                                            <td>83</td>
                                            <td>Alika</td>
                                            <td>1-544-422-1437</td>
                                            <td>Integer Tincidunt Company</td>
                                            <td>Xxxx</td>
                                            <td>Plymouth</td>
                                            <td>12/26/12</td>
                                        </tr>
                                        <tr>
                                            <td>84</td>
                                            <td>Shay</td>
                                            <td>1-530-583-8669</td>
                                            <td>Diam LLP</td>
                                            <td>63260</td>
                                            <td>College</td>
                                            <td>08/20/14</td>
                                        </tr>
                                        <tr>
                                            <td>85</td>
                                            <td>Cailin</td>
                                            <td>1-415-254-8139</td>
                                            <td>Placerat Eget Foundation</td>
                                            <td>L3M 4R6</td>
                                            <td>Jonqui?re</td>
                                            <td>09/12/14</td>
                                        </tr>
                                        <tr>
                                            <td>86</td>
                                            <td>Xena</td>
                                            <td>1-979-983-1456</td>
                                            <td>Tellus Eu Augue Associates</td>
                                            <td>09703-746</td>
                                            <td>Angleur</td>
                                            <td>05/21/13</td>
                                        </tr>
                                        <tr>
                                            <td>87</td>
                                            <td>Walker</td>
                                            <td>1-380-277-2755</td>
                                            <td>Sollicitudin A Malesuada Corporation</td>
                                            <td>60019</td>
                                            <td>Toronto</td>
                                            <td>06/11/14</td>
                                        </tr>
                                        <tr>
                                            <td>88</td>
                                            <td>Adena</td>
                                            <td>1-756-948-8416</td>
                                            <td>Diam Ltd</td>
                                            <td>B7T 5X7</td>
                                            <td>Stene</td>
                                            <td>05/30/14</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </article>
</div>
    </section>


</div>


<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<style>
    #chartdiv {
        width: 100%;
        height: 350px;
    }
</style>

<script>
    var chartData = generateChartData();

    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": chartData,
        "synchronizeGrid": true,
        "valueAxes": [{
            "id": "v1",
            "axisColor": "#FF6600",
            "axisThickness": 2,
            "axisAlpha": 1,
            "position": "left"
        }, {
            "id": "v2",
            "axisColor": "#FCD202",
            "axisThickness": 2,
            "axisAlpha": 1,
            "position": "right"
        }, {
            "id": "v3",
            "axisColor": "#B0DE09",
            "axisThickness": 2,
            "gridAlpha": 0,
            "offset": 50,
            "axisAlpha": 1,
            "position": "left"
        }],
        "graphs": [{
            "valueAxis": "v1",
            "lineColor": "#FF6600",
            "bullet": "round",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "red line",
            "valueField": "visits",
            "fillAlphas": 0
        }, {
            "valueAxis": "v2",
            "lineColor": "#FCD202",
            "bullet": "square",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "yellow line",
            "valueField": "hits",
            "fillAlphas": 0
        }, {
            "valueAxis": "v3",
            "lineColor": "#B0DE09",
            "bullet": "triangleUp",
            "bulletBorderThickness": 1,
            "hideBulletsCount": 30,
            "title": "green line",
            "valueField": "views",
            "fillAlphas": 0
        }],
        "chartScrollbar": {},
        "chartCursor": {
            "cursorPosition": "mouse"
        },
        "categoryField": "date",
        "categoryAxis": {
            "parseDates": true,
            "axisColor": "#DADADA",
            "minorGridEnabled": true
        },
        "export": {
            "enabled": true,
            "position": "bottom-right"
        }
    });

    chart.addListener("dataUpdated", zoomChart);
    zoomChart();


    // generate some random data, quite different range
    function generateChartData() {
        var chartData = [];
        var firstDate = new Date();
        firstDate.setDate(firstDate.getDate() - 100);

        for (var i = 0; i < 100; i++) {
            // we create date objects here. In your data, you can have date strings
            // and then set format of your dates using chart.dataDateFormat property,
            // however when possible, use date objects, as this will speed up chart rendering.
            var newDate = new Date(firstDate);
            newDate.setDate(newDate.getDate() + i);

            var visits = Math.round(Math.sin(i * 5) * i);
            var hits = Math.round(Math.random() * 80) + 500 + i * 3;
            var views = Math.round(Math.random() * 6000) + i * 4;

            chartData.push({
                date: newDate,
                visits: visits,
                hits: hits,
                views: views
            });
        }
        return chartData;
    }

    function zoomChart() {
        chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
    }

</script>