﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">

            <big-breadcrumbs items="['Blotter View']" class="col-xs-12 col-sm-7 col-md-7 col-lg-8"></big-breadcrumbs>

        </div>

        <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="row" style=" padding-bottom: 20px;">

                    <div class=" col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: rgba(0, 0, 0, 0.1);">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center">
                                    <h2 class="livescore">2300</h2>
                                    <div class="text-uppercase">Harsh Breaking </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #26A69A !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #22958a; ">
                                    <i class="fa fa-user fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">1200</h2>
                                    <div class="text-uppercase">Over Speed </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #d28924; ">
                                    <i class="fa fa-cloud-upload fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">300</h2>
                                    <div class="text-uppercase">Cornering</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #666 !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #5c5c5c;">
                                    <i class="fa fa-phone fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">1200</h2>
                                    <div class="text-uppercase">Calls Taken </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #d5503f !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #bf4839;">
                                    <i class="fa fa-cogs fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">2602</h2>
                                    <div class="text-uppercase">Harsh Accel.</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                </div>
                </div>
                </div>
            </article>
        <!--<div class="row">

        <article class="col-sm-12 col-md-12 col-lg-12">

            <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <header style="background-color: #5bc0dc; color: white">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Map View </h2>
                </header>
                <div class="row">

                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="well text-center connect">
                            <img src="styles/img/speed-meter.png" alt="img" class="margin-bottom-5 margin-top-5">
                            <br>
                            <span class="font-sm" style="color:#e84b3a"><b>Over Speed</b></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="well text-center connect">
                            <img src="styles/img/icon (1).png" alt="img" class="margin-bottom-5 margin-top-5">
                            <br>
                            <span class="font-sm" style="color:#f39d09"><b>Hash Breaking</b></span>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="well text-center connect">
                            <img src="styles/img/speedometer.png" alt="img" class="margin-bottom-5 margin-top-5">
                            <br>
                            <span class="font-sm" style="color: #e84b3a"><b>Hash Acceleration</b></span>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="well text-center connect">
                            <img src="styles/img/car-changing-lanes.png" alt="img" class="margin-bottom-5 margin-top-5">
                            <br>
                            <span class="font-sm" style="color:#f39d09"><b>Cornering</b></span>

                        </div>

                    </div>
                </div>


            

            </div>
        </article>
            </div>-->

        <div class="row1">
        <article class="col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <article class="col-xs-12 col-sm-6 col-md-6 col-lg-9">
                    <div jarvis-widget id="chartjs-line-chart" data-widget-editbutton="false">
                        <header style="background-color: #f88863">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Line Chart</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="chartdiv1"></div>	
                            </div>
                        </div>
                    </div>
                    <div jarvis-widget id="chartjs-radar-chart" data-widget-editbutton="false">
                        <header style="background-color: #c27878">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Radar Chart</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="chartdiv2"></div>	
                            </div>
                        </div>
                    </div>

                    <!--<div jarvis-widget id="chartjs-radar-chart" data-widget-editbutton="false">
                        <header style="background-color: #c27878">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Radar Chart</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <canvas chartjs-radar-chart height="120"></canvas>
                            </div>
                        </div>
                    </div>

                    <div jarvis-widget id="chartjs-polar-chart" data-widget-editbutton="false">
                        <header style="background-color: #008080">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Polar Chart</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <canvas chartjs-polar-chart height="120"></canvas>
                            </div>
                        </div>
                    </div>-->

                </article>

                <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

                    <!--<div jarvis-widget id="chartjs-bar-chart" data-widget-editbutton="false">
                        <header style="background-color: #008080; ">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Bar Chart</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <canvas chartjs-bar-chart height="120"></canvas>
                            </div>
                        </div>
                    </div>-->
                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-editbutton="false">
                        <header style="background-color: #428bca; ">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Age</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <canvas chartjs-doughnut-chart height="120"></canvas>
                            </div>
                        </div>
                    </div>
                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-editbutton="false">
                        <header style="background-color: #f0ad4e; ">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Age</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <canvas chartjs-doughnut-chart height="120"></canvas>
                            </div>
                        </div>
                    </div>

                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-editbutton="false">
                        <header style="background-color: #5bc0de; ">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Unknown</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <canvas chartjs-doughnut-chart height="120"></canvas>
                            </div>
                        </div>
                    </div>
                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-editbutton="false">
                        <header style="background-color: #008080; ">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Unknown</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <canvas chartjs-doughnut-chart height="120"></canvas>
                            </div>
                        </div>
                    </div>

                  </article>
                <article class="col-xs-12 col-sm-6 col-md-6 col-lg-12">

                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-editbutton="false">
            <header style="background-color: #c76fe5; ">
                <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                <h2>Doughnut Chart</h2>
            </header>
            <div>
                <div class="widget-body">
                    <div id="chartdiv3"></div>
                </div>
            </div>
        </div>


        <!--<div jarvis-widget id="chartjs-pie-chart" data-widget-editbutton="false">
            <header style="background-color: #76bedf; ">
                <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                <h2>Pie Chart</h2>
            </header>
            <div>
                <div class="widget-body">
                    <canvas chartjs-pie-chart height="120"></canvas>
                </div>
            </div>
        </div>-->

                </article>
            </div>

        </article>
            </div>

        <div class="row1">

        <article class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 75px;">
            <div jarvis-widget id="export-to-xls-pdf-datatable-widget" data-widget-editbutton="false">
                <header style="background-color:#428bca; color:white">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Vechile Data</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">

                        <table datatable-table-tools class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th data-hide="phone">ID</th>
                                    <th data-class="expand">Name</th>
                                    <th>Phone</th>
                                    <th data-hide="phone">Company</th>
                                    <th data-hide="phone,tablet">Zip</th>
                                    <th data-hide="phone,tablet">City</th>
                                    <th data-hide="phone,tablet">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Jennifer</td>
                                    <td>1-342-463-8341</td>
                                    <td>Et Rutrum Non Associates</td>
                                    <td>35728</td>
                                    <td>Fogo</td>
                                    <td>03/04/14</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Clark</td>
                                    <td>1-516-859-1120</td>
                                    <td>Nam Ac Inc.</td>
                                    <td>7162</td>
                                    <td>Machelen</td>
                                    <td>03/23/13</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Brendan</td>
                                    <td>1-724-406-2487</td>
                                    <td>Enim Commodo Limited</td>
                                    <td>98611</td>
                                    <td>Norman</td>
                                    <td>02/13/14</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Warren</td>
                                    <td>1-412-485-9725</td>
                                    <td>Odio Etiam Institute</td>
                                    <td>10312</td>
                                    <td>Sautin</td>
                                    <td>01/01/13</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Rajah</td>
                                    <td>1-849-642-8777</td>
                                    <td>Neque Ltd</td>
                                    <td>29131</td>
                                    <td>Glovertown</td>
                                    <td>02/16/13</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Demetrius</td>
                                    <td>1-470-329-9627</td>
                                    <td>Euismod In Ltd</td>
                                    <td>1883</td>
                                    <td>Kapolei</td>
                                    <td>03/15/13</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Keefe</td>
                                    <td>1-188-191-2346</td>
                                    <td>Molestie Industries</td>
                                    <td>2211BM</td>
                                    <td>Modena</td>
                                    <td>07/08/13</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Leila</td>
                                    <td>1-663-655-8904</td>
                                    <td>Est LLC</td>
                                    <td>75286</td>
                                    <td>Hondelange</td>
                                    <td>12/09/12</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Fritz</td>
                                    <td>1-598-234-7837</td>
                                    <td>Et Ultrices Posuere Institute</td>
                                    <td>2324</td>
                                    <td>Monte San Pietrangeli</td>
                                    <td>12/29/12</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Cassady</td>
                                    <td>1-212-965-8381</td>
                                    <td>Vitae Erat Vel Company</td>
                                    <td>5898</td>
                                    <td>Huntly</td>
                                    <td>10/07/13</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Rogan</td>
                                    <td>1-541-654-9030</td>
                                    <td>Iaculis Incorporated</td>
                                    <td>6464JN</td>
                                    <td>Carson City</td>
                                    <td>05/30/13</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Candice</td>
                                    <td>1-153-708-6027</td>
                                    <td>Pellentesque Company</td>
                                    <td>8565</td>
                                    <td>Redruth</td>
                                    <td>02/25/14</td>
                                </tr>


                                <tr>
                                    <td>37</td>
                                    <td>Rowan</td>
                                    <td>1-782-168-2387</td>
                                    <td>Aliquet Consulting</td>
                                    <td>33000</td>
                                    <td>Papasidero</td>
                                    <td>02/06/14</td>
                                </tr>
                                <tr>
                                    <td>38</td>
                                    <td>Eric</td>
                                    <td>1-161-390-1140</td>
                                    <td>Odio Institute</td>
                                    <td>5652</td>
                                    <td>Moliterno</td>
                                    <td>03/14/13</td>
                                </tr>
                                <tr>
                                    <td>39</td>
                                    <td>Dana</td>
                                    <td>1-989-320-2205</td>
                                    <td>Bibendum Fermentum Institute</td>
                                    <td>X31 1HZ</td>
                                    <td>Saint-Pierre</td>
                                    <td>02/25/13</td>
                                </tr>
                                <tr>
                                    <td>40</td>
                                    <td>Karleigh</td>
                                    <td>1-218-513-8714</td>
                                    <td>Duis Volutpat Inc.</td>
                                    <td>1356</td>
                                    <td>Fresno</td>
                                    <td>06/09/14</td>
                                </tr>
                                <tr>
                                    <td>41</td>
                                    <td>Malik</td>
                                    <td>1-869-972-9871</td>
                                    <td>Praesent Luctus Curabitur Limited</td>
                                    <td>V3Y 0P0</td>
                                    <td>Roxboro</td>
                                    <td>05/09/14</td>
                                </tr>
                                <tr>
                                    <td>42</td>
                                    <td>May</td>
                                    <td>1-462-220-8205</td>
                                    <td>Suspendisse Dui LLP</td>
                                    <td>4765</td>
                                    <td>Mold</td>
                                    <td>06/15/13</td>
                                </tr>
                                <tr>
                                    <td>43</td>
                                    <td>Alan</td>
                                    <td>1-478-769-3709</td>
                                    <td>Suspendisse Inc.</td>
                                    <td>7354AC</td>
                                    <td>Norfolk</td>
                                    <td>03/09/14</td>
                                </tr>
                                <tr>
                                    <td>44</td>
                                    <td>Anastasia</td>
                                    <td>1-589-358-5285</td>
                                    <td>Mus Proin Institute</td>
                                    <td>33244</td>
                                    <td>Montbliart</td>
                                    <td>06/18/14</td>
                                </tr>
                                <tr>
                                    <td>45</td>
                                    <td>Yardley</td>
                                    <td>1-422-907-2926</td>
                                    <td>Urna Et LLP</td>
                                    <td>88531</td>
                                    <td>Évreux</td>
                                    <td>05/23/14</td>
                                </tr>
                                <tr>
                                    <td>46</td>
                                    <td>Oscar</td>
                                    <td>1-476-548-4758</td>
                                    <td>Nunc Id Enim Institute</td>
                                    <td>T5Z 4YS</td>
                                    <td>Burlington</td>
                                    <td>08/26/14</td>
                                </tr>
                                <tr>
                                    <td>47</td>
                                    <td>Hasad</td>
                                    <td>1-397-946-7346</td>
                                    <td>Auctor Nunc Corp.</td>
                                    <td>2307HU</td>
                                    <td>Savona</td>
                                    <td>10/29/13</td>
                                </tr>
                                <tr>
                                    <td>48</td>
                                    <td>Mohammad</td>
                                    <td>1-984-931-7753</td>
                                    <td>Ultricies Dignissim LLP</td>
                                    <td>4718</td>
                                    <td>Nadrin</td>
                                    <td>12/08/13</td>
                                </tr>
                                <tr>
                                    <td>49</td>
                                    <td>Nissim</td>
                                    <td>1-739-146-3150</td>
                                    <td>Lacus Ltd</td>
                                    <td>UX95 5JM</td>
                                    <td>Veere</td>
                                    <td>08/19/14</td>
                                </tr>
                                <tr>
                                    <td>50</td>
                                    <td>Porter</td>
                                    <td>1-299-790-1428</td>
                                    <td>Aliquam LLC</td>
                                    <td>41708</td>
                                    <td>Montaldo Bormida</td>
                                    <td>11/02/12</td>
                                </tr>
                                <tr>
                                    <td>51</td>
                                    <td>Sophia</td>
                                    <td>1-413-195-0820</td>
                                    <td>Viverra Maecenas Iaculis Ltd</td>
                                    <td>83468</td>
                                    <td>Doetinchem</td>
                                    <td>09/28/13</td>
                                </tr>
                                <tr>
                                    <td>52</td>
                                    <td>Acton</td>
                                    <td>1-855-937-9214</td>
                                    <td>Vitae Sodales Company</td>
                                    <td>1757</td>
                                    <td>Bad Oldesloe</td>
                                    <td>04/13/13</td>
                                </tr>
                                <tr>
                                    <td>53</td>
                                    <td>Briar</td>
                                    <td>1-846-339-0222</td>
                                    <td>Congue Turpis In Limited</td>
                                    <td>51510</td>
                                    <td>Caerphilly</td>
                                    <td>02/06/13</td>
                                </tr>

                               

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </article>
            </div>
    </section>



</div>


<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<style>

    #chartdiv1 {
        width: 100%;
        height: 300px;
    }

    #chartdiv2 {
        width: 100%;
        height: 300px;
    }

    #chartdiv3 {
        width: 100%;
        height: 300px;
    }

    .amcharts-export-menu-top-right {
        top: 10px;
        right: 0;
    }
</style>
<script>
    var chart = AmCharts.makeChart("chartdiv1", {
        "type": "serial",
        "theme": "light",
        "marginRight": 70,
        "dataProvider": [{
            "country": "USA",
            "visits": 3025,
            "color": "#FF0F00"
        }, {
            "country": "China",
            "visits": 1882,
            "color": "#FF6600"
        }, {
            "country": "Japan",
            "visits": 1809,
            "color": "#FF9E01"
        }, {
            "country": "Germany",
            "visits": 1322,
            "color": "#FCD202"
        }, {
            "country": "UK",
            "visits": 1122,
            "color": "#F8FF01"
        }, {
            "country": "France",
            "visits": 1114,
            "color": "#B0DE09"
        }, {
            "country": "India",
            "visits": 984,
            "color": "#04D215"
        }, {
            "country": "Spain",
            "visits": 711,
            "color": "#0D8ECF"
        }, {
            "country": "Netherlands",
            "visits": 665,
            "color": "#0D52D1"
        }, {
            "country": "Russia",
            "visits": 580,
            "color": "#2A0CD0"
        }, {
            "country": "South Korea",
            "visits": 443,
            "color": "#8A0CCF"
        }, {
            "country": "Canada",
            "visits": 441,
            "color": "#CD0D74"
        }],
        "valueAxes": [{
            "axisAlpha": 0,
            "position": "left",
            "title": "Visitors from country"
        }],
        "startDuration": 1,
        "graphs": [{
            "balloonText": "<b>[[category]]: [[value]]</b>",
            "fillColorsField": "color",
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "type": "column",
            "valueField": "visits"
        }],
        "chartCursor": {
            "categoryBalloonEnabled": false,
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "country",
        "categoryAxis": {
            "gridPosition": "start",
            "labelRotation": 45
        },
        "export": {
            "enabled": true
        }

    });
</script>

<script>
    var chart = AmCharts.makeChart("chartdiv2", {
        "theme": "light",
        "type": "serial",
        "dataProvider": [{
            "country": "USA",
            "year2004": 3.5,
            "year2005": 4.2
        }, {
            "country": "UK",
            "year2004": 1.7,
            "year2005": 3.1
        }, {
            "country": "Canada",
            "year2004": 2.8,
            "year2005": 2.9
        }, {
            "country": "Japan",
            "year2004": 2.6,
            "year2005": 2.3
        }, {
            "country": "France",
            "year2004": 1.4,
            "year2005": 2.1
        }, {
            "country": "Brazil",
            "year2004": 2.6,
            "year2005": 4.9
        }, {
            "country": "Russia",
            "year2004": 6.4,
            "year2005": 7.2
        }, {
            "country": "India",
            "year2004": 8,
            "year2005": 7.1
        }, {
            "country": "China",
            "year2004": 9.9,
            "year2005": 10.1
        }],
        "valueAxes": [{
            "stackType": "3d",
            "unit": "%",
            "position": "left",
            "title": "GDP growth rate",
        }],
        "startDuration": 1,
        "graphs": [{
            "balloonText": "GDP grow in [[category]] (2004): <b>[[value]]</b>",
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "title": "2004",
            "type": "column",
            "valueField": "year2004"
        }, {
            "balloonText": "GDP grow in [[category]] (2005): <b>[[value]]</b>",
            "fillAlphas": 0.9,
            "lineAlpha": 0.2,
            "title": "2005",
            "type": "column",
            "valueField": "year2005"
        }],
        "plotAreaFillAlphas": 0.1,
        "depth3D": 60,
        "angle": 30,
        "categoryField": "country",
        "categoryAxis": {
            "gridPosition": "start"
        },
        "export": {
            "enabled": true
        }
    });
    jQuery('.chart-input').off().on('input change', function () {
        var property = jQuery(this).data('property');
        var target = chart;
        chart.startDuration = 0;

        if (property == 'topRadius') {
            target = chart.graphs[0];
            if (this.value == 0) {
                this.value = undefined;
            }
        }

        target[property] = this.value;
        chart.validateNow();
    });
</script>


<script>
    var chartData = [];

    function generateChartData() {
        var firstDate = new Date();
        firstDate.setTime(firstDate.getTime() - 10 * 24 * 60 * 60 * 1000);

        for (var i = firstDate.getTime() ; i < (firstDate.getTime() + 10 * 24 * 60 * 60 * 1000) ; i += 60 * 60 * 1000) {
            var newDate = new Date(i);

            if (i == firstDate.getTime()) {
                var value1 = Math.round(Math.random() * 10) + 1;
            } else {
                var value1 = Math.round(chartData[chartData.length - 1].value1 / 100 * (90 + Math.round(Math.random() * 20)) * 100) / 100;
            }

            if (newDate.getHours() == 12) {
                // we set daily data on 12th hour only
                var value2 = Math.round(Math.random() * 12) + 1;
                chartData.push({
                    date: newDate,
                    value1: value1,
                    value2: value2
                });
            } else {
                chartData.push({
                    date: newDate,
                    value1: value1
                });
            }
        }
    }

    generateChartData();

    var chart = AmCharts.makeChart("chartdiv3", {
        "type": "serial",
        "theme": "light",
        "marginRight": 80,
        "dataProvider": chartData,
        "valueAxes": [{
            "axisAlpha": 0.1
        }],

        "graphs": [{
            "balloonText": "[[title]]: [[value]]",
            "columnWidth": 20,
            "fillAlphas": 1,
            "title": "daily",
            "type": "column",
            "valueField": "value2"
        }, {
            "balloonText": "[[title]]: [[value]]",
            "lineThickness": 2,
            "title": "intra-day",
            "valueField": "value1"
        }],
        "zoomOutButtonRollOverAlpha": 0.15,
        "chartCursor": {
            "categoryBalloonDateFormat": "MMM DD JJ:NN",
            "cursorPosition": "mouse",
            "showNextAvailable": true
        },
        "autoMarginOffset": 5,
        "columnWidth": 1,
        "categoryField": "date",
        "categoryAxis": {
            "minPeriod": "hh",
            "parseDates": true
        },
        "export": {
            "enabled": true
        }
    });
</script>


