﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Stoppage Data']" icon="file-text-o"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>

        </div>


        <!-- widget grid -->
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-color="blueLight">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2>Stoppage Data List</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <label class="label"></label>
                            <div class="textarea">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <!--<tr class="pplaceholder">

                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="o_id" />
                                            </th>
                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="maxspeed" />
                                            </th>

                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="minspeed" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeedlow" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed10" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed20" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed30" />
                                            </th>
                                            <th class="hasinput" colspan="3" style="width:12%">

                                            </th>

                                        </tr>-->
                                        <tr>
                                            <th data-class="expand">deviceno</th>
                                            <th>recorddatetime</th>
                                            <th data-hide="phone,tablet">hardacceleration</th>
                                            <th data-hide="phone,tablet">hardacceleration_day</th>
                                            <th data-hide="phone,tablet">hardacceleration_night</th>
                                            <th data-hide="phone,tablet">hardbraking</th>
                                            <th data-hide="phone,tablet">hardbraking_day</th>
                                            <th data-hide="phone,tablet">hardbraking_night</th>
                                            <th data-hide="phone,tablet">
                                                cornerpacket
                                            </th>
                                            <th data-hide="phone,tablet">
                                                cornerpacket_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                cornerpacket_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgspeed
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgspeed_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgspeed_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxspeed
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxspeed_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxspeed_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                distance
                                            </th>
                                            <th data-hide="phone,tablet">
                                                distance_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                distance_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                drivinghrs
                                            </th>
                                            <th data-hide="phone,tablet">
                                                drivinghrsideal
                                            </th>
                                            <th data-hide="phone,tablet">
                                                daydrivinghrs
                                            </th>
                                            <th data-hide="phone,tablet">
                                                daydrivinghrsideal
                                            </th>
                                            <th data-hide="phone,tablet">
                                                nightdrivinghrs
                                            </th>
                                            <th data-hide="phone,tablet">
                                                nightdrivinghrsideal
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgrpm
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgrpm_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgrpm_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxrpm
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxrpm_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxrpm_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                minrpm
                                            </th>
                                            <th data-hide="phone,tablet">
                                                minrpm_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                minrpm_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgcoolanttemperature
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgcoolanttemperature_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgcoolanttemperature_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxcoolanttemperature
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxcoolanttemperature_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxcoolanttemperature_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                mincoolanttemperature
                                            </th>
                                            <th data-hide="phone,tablet">
                                                mincoolanttemperature_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                mincoolanttemperature_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgcalculatedengineload
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgcalculatedengineload_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                avgcalculatedengineload_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxcalculatedengineload
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxcalculatedengineload_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                maxcalculatedengineload_night
                                            </th>
                                            <th data-hide="phone,tablet">
                                                mincalculatedengineload
                                            </th>
                                            <th data-hide="phone,tablet">
                                                mincalculatedengineload_day
                                            </th>
                                            <th data-hide="phone,tablet">
                                                mincalculatedengineload_night
                                            </th>
                                            <th data-hide="phone,tablet">sysdatetime</th>



                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!--Print Pop-Up is Start Here-->
        <!--Print Pop-Up is Start Here-->

    </section>
</div>

<style type="text/css" media="print">
    table {
        width: 100%;
        border: 1pt solid #000000;
        border-collapse: collapse;
        font-size: 11pt;
    }
</style>
