﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Driver Performance Reports']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#1475bf; ">
                            <h2>Search </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <form name="detailfilterForm" novalidate="novalidate">
                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.VechicleNo.$invalid}">
                                                    <label class="label">Vehicle No</label>
                                                    <!--<label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <input type="text" name="VechicleNo" class="form-control" list="list" ng-model="vehicleRefId" placeholder="Vechicle No" required>
                                                        <datalist id="list">
                                                            <option ng-repeat="vehicle in dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>
                                                        </datalist>
                                                    </label>-->
                                                    <label class="select">
                                                        <select name="VechicleNo" ng-model="vehicleRefId" required>
                                                            <option ng-repeat="vehicle in dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>

                                                        </select> <i></i>
                                                    </label>
                                                    <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                        <!--<div class="note note-error" ng-if="detailfilterForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>-->
                                                    </div>
                                                </section>



                                                <section class="col col-3">
                                                    <label class="label">.</label>
                                                    <button type="button" class="btn btn-primary btn-sm" ng-disabled="detailfilterForm.$invalid" ng-click="display()"><i class="fa fa-shower" aria-hidden="true"></i> Show</button>
                                                    <!--<button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pause" aria-hidden="true"></i> Stop</button>
                                                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-stop" aria-hidden="true"></i> Stop</button>-->
                                                </section>


                                            </form>
                                        </fieldset>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="row">

                <!--Graphical Data-->

                <article class="col-sm-6 col-md-6 col-lg-6">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #3276b1;color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Overall Score</h2>
                        </header>
                        <div id="chartdivscore"></div>
                    </div>
                </article>
                <article class="col-sm-6 col-md-6 col-lg-6">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color:white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Selected Key Parameters Score</h2>
                        </header>
                        <div id="driverperformancediv"></div>
                    </div>

                </article>


            </div>

            <!--<div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Selected Key Parameter Score</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 50%; background-color: #ea9828 !important">Parameters</th>
                                            <th style="width: 50%; background-color: #ea9828 !important">score</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>-->

            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #3276b1;color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Day Wise Score</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="DayWiseScorediv"></div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color:white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Trip Wise Score</h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="TripWiseScorediv"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

</div>

<style>
    #driverperformancediv {
        width: 100%;
        height: 350px;
    }

    #chartdivscore {
        width: 100%;
        height: 350px;
    }

    #DayWiseScorediv {
        width: 100%;
        height: 350px;
    }

    #TripWiseScorediv {
        width: 100%;
        height: 350px;
    }
    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>


