﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Driver Rating Data']" icon="file-text-o"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
         
        </div>


        <!-- widget grid -->
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-color="blueLight">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2>Driver Rating Data List</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <label class="label"></label>
                            <div class="textarea">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <!--<tr class="pplaceholder">

                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="o_id" />
                                            </th>
                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="maxspeed" />
                                            </th>

                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="minspeed" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeedlow" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed10" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed20" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed30" />
                                            </th>
                                            <th class="hasinput" colspan="3" style="width:12%">

                                            </th>

                                        </tr>-->
                                        <tr>
                                           
                                             <th data-hide="phone,tablet">final_score</th>
                                            <th data-class="expand">deviceno</th>
                                             <th >recorddate</th>
                                             <th data-hide="phone,tablet">overspeedlow_d</th>
                                             <th data-hide="phone,tablet">overspeed10_d</th>
                                             <th data-hide="phone,tablet">overspeed20_d</th>
                                             <th data-hide="phone,tablet">overspeed30_d</th>
                                             <th data-hide="phone,tablet">overspeedlow_n</th>
                                             <th data-hide="phone,tablet">overspeed10_n</th>
                                             <th data-hide="phone,tablet">overspeed20_n</th>
                                             <th data-hide="phone,tablet">overspeed30_n</th>
                                             <th data-hide="phone,tablet">overspeedwt_avg</th>
                                             <th data-hide="phone,tablet">overspeedscore</th>
                                             <th data-hide="phone,tablet">harsh_ha_d</th>
                                             <th data-hide="phone,tablet">harsh_hb_d</th>
                                             <th data-hide="phone,tablet">harsh_cornering_d</th>
                                             <th data-hide="phone,tablet">harsh_ha_n</th>
                                             <th data-hide="phone,tablet">harsh_hb_n</th>
                                             <th data-hide="phone,tablet">harsh_cornering_n</th>
                                             <th data-hide="phone,tablet">harsh_score</th>
                                             <th data-hide="phone,tablet">age_criteria1</th>
                                             <th data-hide="phone,tablet">age_criteria2</th>
                                             <th data-hide="phone,tablet">age_criteria3</th>
                                             <th data-hide="phone,tablet">age_criteria4</th>
                                             <th data-hide="phone,tablet">age_score</th>
                                             <th data-hide="phone,tablet">gender_male</th>
                                             <th data-hide="phone,tablet">gender_female</th>
                                             <th data-hide="phone,tablet">gender_other</th>
                                             <th data-hide="phone,tablet">gender_score</th>
                                             <th data-hide="phone,tablet">car_white</th>
                                             <th data-hide="phone,tablet">car_lightother</th>
                                             <th data-hide="phone,tablet">car_metallic_light</th>
                                             <th data-hide="phone,tablet">car_red</th>
                                             <th data-hide="phone,tablet">car_metallic_dark</th>
                                             <th data-hide="phone,tablet">car_darkother</th>
                                             <th data-hide="phone,tablet">car_black</th>
                                             <th data-hide="phone,tablet">car_score</th>
                                                                                       
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!--Print Pop-Up is Start Here-->
        <!--Print Pop-Up is Start Here-->

    </section>
</div>

<style type="text/css" media="print">
    table {
        width: 100%;
        border: 1pt solid #000000;
        border-collapse: collapse;
        font-size: 11pt;
    }
</style>
