﻿
<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Harsh Event Report']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#1475bf; ">
                            <h2>Search </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <form name="detailfilterForm" novalidate="novalidate">
                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.VechicleNo.$invalid}">
                                                    <label class="label">Vehicle No</label>
                                                    <label class="select">
                                                        <select name="VechicleNo" ng-model="vehicleRefId" title="Select vehicle no" required>
                                                            <option ng-repeat="vehicle in dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>

                                                        </select> <i></i>
                                                    </label>
                                                    <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                        <!--<div class="note note-error" ng-if="detailfilterForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>-->
                                                    </div>
                                                </section>

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.fromdate.$invalid}">
                                                    <label class="label">Start Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="fromdate" ng-model="fromdate" title="Select start date" date-format="dd-MM-yyyy" date-only required />
                                                        <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.fromdate.$error.required">{{ validationMsg.required }}</div>-->
                                                        </div>

                                                    </label>

                                                </section>

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.todate.$invalid}">
                                                    <label class="label">End Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="todate" ng-model="todate" title="Select end date" date-format="dd-MM-yyyy" date-only required />
                                                        <div ng-show="detailfilterForm.todate.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.todate.$error.required">{{ validationMsg.required }}</div>-->
                                                        </div>
                                                    </label>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="label">.</label>
                                                    <button type="button" class="btn btn-primary btn-sm" title="Please click Show button" ng-disabled="detailfilterForm.$invalid" ng-click="display()"><i class="fa fa-shower" aria-hidden="true"></i> Show</button>

                                                </section>


                                            </form>
                                        </fieldset>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!--Graphical Data-->
                <article class="col-sm-6 col-md-6 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Harsh Event VS Date</h2>
                        </header>
                        <div id="chartharsbreakingdiv"></div>
                    </div>
                </article>

             


                <!--Vehicle Data-->
                <article class="col-sm-6 col-md-6 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Harsh Event Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0">
                                    <thead>
                                        <tr>
                                            <!--<th style="background-color:#ea9828 !important">Deviceno</th>-->
                                            <th data-class="expand" style="background-color:#ea9828 !important">Date(dd/mm/yyyy)</th>
                                            <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Harsh Acceleration</th>
                                            <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Harsh Braking</th>
                                            <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Harsh Cornering</th>
                                            <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Over Speed</th>
                                            <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Phone Call</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>


            </div>
            </div>
</section>

</div>

<style>

    #chartharsbreakingdiv {
        width: 100%;
        height: 350px;
    }
  
     #HBVHAgriddiv {
        width: 100%;
        height: 350px;
    }
    

   
    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>

<script>
 
    //var chart = AmCharts.makeChart("chartharsbreakingdiv", {
    //    "theme": "light",
    //    "type": "serial",

    //    "legend": {
    //        "horizontalGap": 10,
    //        "maxColumns": 1,
    //        "position": "bottom",
    //        "useGraphSettings": true,
    //        "markerSize": 10
    //    },
    //    "dataProvider": [{
    //        "day": "1",
    //        "Breaking Events": 15,
    //        "Accelaration Events": 7,
    //        "Cornering":5
    //    }, {
    //        "day": "2",
    //        "Breaking Events": 20,
    //        "Accelaration Events": 15,
    //        "Cornering":8
    //    }, {
    //        "day": "3",
    //        "Breaking Events": 10,
    //        "Accelaration Events": 3,
    //        "Cornering": 5
    //    }, {
    //        "day": "4",
    //        "Breaking Events": 8,
    //        "Accelaration Events": 5,
    //        "Cornering": 6
    //    }, {
    //        "day": "5",
    //        "Breaking Events": 10,
    //        "Accelaration Events": 3,
    //        "Cornering": 5
    //    },
    //    {
    //        "day": "6",
    //        "Breaking Events": 3,
    //        "Accelaration Events": 4,
    //        "Cornering": 1
    //    },
    //    {
    //        "day": "7",
    //        "Breaking Events": 7,
    //        "Accelaration Events": 3,
    //        "Cornering": 2
    //    },
    //    {
    //        "day": "8",
    //        "Breaking Events": 5,
    //        "Accelaration Events": 3,
    //        "Cornering": 1
    //    },
    //    {
    //        "day": "9",
    //        "Breaking Events": 6,
    //        "Accelaration Events": 7,
    //        "Cornering": 1
    //    },
    //    {
    //        "day": "10",
    //        "Breaking Events": 5,
    //        "Accelaration Events": 7,
    //        "Cornering": 8
    //    },
    //    {
    //        "day": "11",
    //        "Breaking Events": 12,
    //        "Accelaration Events": 9,
    //        "Cornering": 3
    //    },
    //    {
    //        "day": "12",
    //        "Breaking Events": 5,
    //        "Accelaration Events": 4,
    //        "Cornering": 9
    //    },
    //    {
    //        "day": "13",
    //        "Breaking Events": 5,
    //        "Accelaration Events": 3,
    //        "Cornering": 2
    //    },
    //    {
    //        "day": "14",
    //        "Breaking Events": 5,
    //        "Accelaration Events": 3,
    //        "Cornering": 1
    //    },
    //    {
    //        "day": "15",
    //        "Breaking Events": 6,
    //        "Accelaration Events": 3,
    //        "Cornering": 5
    //    },
    //    {
    //        "day": "16",
    //        "Breaking Events": 4,
    //        "Accelaration Events": 2,
    //        "Cornering": 5
    //    },
    //    {
    //        "day": "17",
    //        "Breaking Events": 5,
    //        "Accelaration Events": 3,
    //        "Cornering": 5
    //    },

    //    {
    //        "day": "18",
    //        "Breaking Events": 12,
    //        "Accelaration Events": 8,
    //        "Cornering": 5
    //    }],
    //    "valueAxes": [{
    //        "position": "left",
    //        "title": "HB HA Cornering Count",
    //    }],
    //    "startDuration": 1,
    //    "graphs": [{
    //        "balloonText": "Harsh Breaking [[category]] date: <b>[[value]]</b>",
    //        "fillAlphas": 0.9,
    //        "lineAlpha": 0.2,
    //        "title": "Harsh Breaking Count",
    //        "type": "column",
    //        "valueField": "Breaking Events"
    //    }, {
    //        "balloonText": "Harsh Accelaration [[category]] date: <b>[[value]]</b>",
    //        "fillAlphas": 0.9,
    //        "lineAlpha": 0.2,
    //        "title": "Harsh Accelaration Count",
    //        "type": "column",
    //        "clustered": false,
    //        "columnWidth": 0.5,
    //        "valueField": "Accelaration Events"
    //    }, {
    //        "balloonText": "Cornering [[category]] date: <b>[[value]]</b>",
    //        "fillAlphas": 0.9,
    //        "lineAlpha": 0.2,
    //        "title": "Cornering Count",
    //        "type": "column",
    //        "clustered": false,
    //        "columnWidth": 0.5,
    //        "valueField": "Cornering"
    //    }],
    //    "plotAreaFillAlphas": 0.1,
    //    "categoryField": "day",
    //    "categoryAxis": {
    //        "gridPosition": "start",
    //        "title": "days",
    //    },
    //    "export": {
    //        "enabled": true
    //    }
    //});
</script>
<!--END First Small Meter-->
