﻿
<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Speed Analysis']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#1475bf; ">
                            <h2>Search </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <form name="detailfilterForm" novalidate="novalidate">
                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.VechicleNo.$invalid}">
                                                    <label class="label">Vehicle No</label>
                                                    <label class="select">
                                                        <select name="VechicleNo" ng-model="vehicleRefId" title="Select vehicle no" required>
                                                            <option ng-repeat="vehicle in dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>

                                                        </select> <i></i>
                                                    </label>
                                                    <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                        <!--<div class="note note-error" ng-if="detailfilterForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>-->
                                                    </div>
                                                </section>

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.fromdate.$invalid}">
                                                    <label class="label">Start Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="fromdate" ng-model="fromdate" title="Select start date" date-format="dd-MM-yyyy" date-only required />
                                                        <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.fromdate.$error.required">{{ validationMsg.required }}</div>-->
                                                        </div>

                                                    </label>

                                                </section>

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.todate.$invalid}">
                                                    <label class="label">End Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="todate" ng-model="todate" title="Select end date" date-format="dd-MM-yyyy" date-only required />
                                                        <div ng-show="detailfilterForm.todate.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.todate.$error.required">{{ validationMsg.required }}</div>-->
                                                        </div>
                                                    </label>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="label">.</label>
                                                    <button type="button" class="btn btn-primary btn-sm" title="Please click Show button" ng-disabled="detailfilterForm.$invalid" ng-click="display()"><i class="fa fa-shower" aria-hidden="true"></i> Show</button>

                                                </section>


                                            </form>
                                        </fieldset>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!--Graphical Data-->
                <article class="col-sm-6 col-md-6 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Speed Analysis(Max Speed vs Avg Speed)</h2>
                        </header>
                        <div id="speedanalysisdiv"></div>
                    </div>
                </article>

                <!--Graphical Data-->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Speed Analysis Graph</h2>
                        </header>
                        <div id="chartSpeedDiv"></div>
                    </div>
                </article>

                <!--Vehicle Data-->
                <article class="col-sm-6 col-md-6 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Speed Analysis(Max Speed vs Avg Speed) Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 33%; background-color: #ea9828 !important" data-class="expand">Date (dd/mm/yyyy)</th>
                                            <th style="width: 33%; background-color: #ea9828 !important">Avg speed (km/hr)</th>
                                            <th style="width: 33%; background-color: #ea9828 !important">Max speed (km/hr)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>

                <!--Vehicle Data-->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Speed Wise Driving Percntage Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="tablebind1" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th data-class="expand" style="background-color: #ea9828 !important">Date(dd/mm/yyyy)</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">0-10</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">11-20</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">21-30</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">31-40</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">41-50</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">51-60</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">61-70</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">71-80</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">81-90</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">91-100</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">101-120</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">121-140</th>
                                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">141-500</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </section>

</div>

<style>
    #speedanalysisdiv {
        width: 100%;
        height: 350px;
    }

    #chartSpeedDiv {
        width: 100%;
        height: 350px;
    }

    #speedgriddiv {
        width: 100%;
        height: 350px;
    }


    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>

<!--<script>

    var chart = AmCharts.makeChart("speedanalysisdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": [{
            "Day": 'Day 1',
            "AvgSpeed": 20,
            "MaxSpeed": 40,

        }, {
            "Day": 'Day 2',
            "AvgSpeed": 30,
            "MaxSpeed": 60,

        }, {
            "Day": 'Day 3',
            "AvgSpeed": 25,
            "MaxSpeed": 50,

        }, {
            "Day": 'Day 4',
            "AvgSpeed": 60,
            "MaxSpeed": 120,

        }, {
            "Day": 'Day 5',
            "AvgSpeed": 30,
            "MaxSpeed": 60,

        }, {
            "Day": 'Day 6',
            "AvgSpeed": 50,
            "MaxSpeed": 100,

        }, {
            "Day": 'Day 7',
            "AvgSpeed": 20,
            "MaxSpeed": 40,

        }, {
            "Day": 'Day 8',
            "AvgSpeed": 45,
            "MaxSpeed": 90,

        }, {
            "Day": 'Day 9',
            "AvgSpeed": 50,
            "MaxSpeed": 120,

        }, {

            "Day": 'Day 10',
            "AvgSpeed": 40,
            "MaxSpeed": 80,

        }],
        "valueAxes": [{
            "integersOnly": true,
            "maximum": 200,
            "minimum": 0,
            "reversed": false,
            "axisAlpha": 1,
            "dashLength": 5,
            "gridCount": 10,
            "position": "left",
            "title": "Speed(in km)"
        }],
        "startDuration": 0.5,
        "graphs": [{
            "balloonText": "Avg Speed taken by Vehicle:XYZ in [[category]]: [[value]] KM",
            "bullet": "diamond",
            "title": "Avg Speed",
            "valueField": "AvgSpeed",
            "fillAlphas": 0
        }, {
            "balloonText": "Max Speed taken by Vehicle:XYZ in [[category]]: [[value]] KM",
            "bullet": "round",
            "title": "Max Speed",
            "valueField": "MaxSpeed",
            "fillAlphas": 0

        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "Day",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 1,
            "fillAlpha": 0.05,
            "fillColor": "#000000",
            "gridAlpha": 0,
            "position": "bottom"
        },
        "export": {
            "enabled": true,
            "position": "bottom-right"
        }
    });
</script>-->
<!--END First Small Meter-->
