﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Stoppage Data']" icon="file-text-o"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>

        </div>


        <!-- widget grid -->
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-color="blueLight">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2>Stoppage Data List</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <label class="label"></label>
                            <div class="textarea">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <!--<tr class="pplaceholder">

                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="o_id" />
                                            </th>
                                            <th class="hasinput" style="width:15%">
                                                <input type="text" class="form-control pplaceholder" placeholder="maxspeed" />
                                            </th>

                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="minspeed" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeedlow" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed10" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed20" />
                                            </th>
                                            <th class="hasinput" style="width:12%">
                                                <input type="text" class="form-control pplaceholder" placeholder="overspeed30" />
                                            </th>
                                            <th class="hasinput" colspan="3" style="width:12%">

                                            </th>

                                        </tr>-->
                                        <tr>

                                            <th data-class="expand">deviceno</th>
                                            <th >recorddatetime</th>
                                            <th data-hide="phone,tablet">latitude</th>
                                            <th data-hide="phone,tablet">Longitude</th>
                                            <th data-hide="phone,tablet">startdatetime</th>
                                            <th data-hide="phone,tablet">enddatetime</th>
                                            <th data-hide="phone,tablet">stoppage</th>
                                            <th data-hide="phone,tablet">sysdatetime</th>
                                            <th data-hide="phone,tablet">noofrecords</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!--Print Pop-Up is Start Here-->
        <!--Print Pop-Up is Start Here-->

    </section>
</div>

<style type="text/css" media="print">
    table {
        width: 100%;
        border: 1pt solid #000000;
        border-collapse: collapse;
        font-size: 11pt;
    }
</style>
