﻿
<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Stoppage Analysis']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#1475bf; ">
                            <h2>Search </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <form name="detailfilterForm" novalidate="novalidate">
                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.VechicleNo.$invalid}">
                                                    <label class="label">Vehicle No</label>
                                                    <label class="select">
                                                        <select name="VechicleNo" ng-model="vehicleRefId" title="Select vehicle no" required>
                                                            <option ng-repeat="vehicle in dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>

                                                        </select> <i></i>
                                                    </label>
                                                    <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                        <div class="note note-error" ng-if="detailfilterForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>
                                                    </div>
                                                </section>

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.fromdate.$invalid}">
                                                    <label class="label">Start Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="fromdate" ng-model="fromdate" title="Select start date" date-format="dd-MM-yyyy" date-only required />
                                                        <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.fromdate.$error.required">{{ validationMsg.required }}</div>
                                                            </div>-->

                                                    </label>
                                                    <!--<span class="error" ng-show="myForm.input.$error.required">
                                                                    Required!
                                                                </span>
                                                                <span class="error" ng-show="myForm.input.$error.datetimelocal">
                                                                    Not a valid date!
                                                                </span>-->
                                                </section>

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.todate.$invalid}">
                                                    <label class="label">End Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="todate" ng-model="todate" title="Select end date" date-format="dd-MM-yyyy" date-only required />
                                                        <div ng-show="detailfilterForm.todate.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.todate.$error.required">{{ validationMsg.required }}</div>-->
                                                        </div>
                                                    </label>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="label">.</label>
                                                    <button type="button" class="btn btn-primary btn-sm" title="Please click Show button" ng-disabled="detailfilterForm.$invalid" ng-click="display()"><i class="fa fa-shower" aria-hidden="true"></i> Show</button>

                                                </section>


                                            </form>
                                        </fieldset>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!--Graphical Data-->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Stoppage / Idling Graph</h2>
                        </header>
                        <div id="chartStopagediv"></div>
                    </div>
                </article>


                <!--Vehicle Data-->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Stoppage / Idling Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>

                                        <tr>

                                            <th data-class="expand" style="width: 10%;background-color: #ea9828 !important">Date(dd/mm/yyyy)</th>
                                            <th data-hide="phone,tablet" style="width: 10%; background-color: #ea9828 !important">Location</th>
                                            <!--<th data-hide="phone,tablet" style="width:15%;background-color: #ea9828 !important">Longitude</th>-->
                                            <th data-hide="phone,tablet" style="width: 15%; background-color: #ea9828 !important"> Stoppage/Idling Start Time</th>
                                            <th data-hide="phone,tablet" style="width: 15%; background-color: #ea9828 !important">Stoppage/Idling End Time</th>
                                            <th data-hide="phone,tablet" style="width: 10%; background-color: #ea9828 !important">Stoppage/Idling (in Minutes)</th>
                                            <!--<th data-hide="phone,tablet" style="background-color: #ea9828 !important">sysdatetime</th>
                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">noofrecords</th>-->


                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>


            </div>
        </div>
    </section>

</div>

<style>
    #chartStopagediv {
        width: 100%;
        height: 350px;
    }


    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>

<!--<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/xy.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>-->
<!--<style>
    #chartdivMap {
        height: 350px;
    }

    #chartdiv {
        width: 100%;
        height: 300px;
    }

    #chartdiv1 {
        width: 100%;
        height: 300px;
    }

    #chartdivTemp {
        width: 100%;
        height: 250px;
    }

    #chartdivSpeed {
        width: 100%;
        height: 250px;
    }

    #chartdivRpm {
        width: 100%;
        height: 250px;
    }

    #chartdivFuleLevel {
        width: 100%;
        height: 250px;
    }
</style>-->
<!--chartdistancediv-->
<!--<script>

    var chart = AmCharts.makeChart("chartStopagediv", {
        "type": "serial",
        "theme": "light",

        "legend": {
            "horizontalGap": 10,
            "maxColumns": 1,
            "position": "right",
            "useGraphSettings": true,
            "markerSize": 10
        },
        "dataProvider": [{
            "Day": "Day1",
            "Stop1": 30,
            "Stop2": 10,
            "Stop3": 15,
            "Stop4": 15,
            "Stop5": 8,
            "Stop6": 10,

        }, {
            "Day": "Day2",
            "Stop1": 5,
            "Stop2": 10,
            "Stop3": 15,
            "Stop4": 5,

        }, {
            "Day": "Day3",
            "Stop1": 5,
            "Stop2": 10,
            "Stop3": 15,
            "Stop4": 5,
            "Stop5": 8,
            "Stop6": 30,
        }
            ,
        {
            "Day": "Day4",
            "Stop1": 50,
            "Stop2": 10,


        }],
        "valueAxes": [{
            "stackType": "regular",
            "axisAlpha": 0.3,
            "gridAlpha": 0,
            "title": "Stopage Time(min)"
        }],
        "graphs": [{
            "balloonText": "<b>[[title]] </b><br><span style='font-size:14px'>Time: <b>[[value]] Min</b></span>",
            "fillAlphas": 0.8,
            "labelText": "[[value]]",
            "lineAlpha": 0.3,
            "title": "Stop1",
            "type": "column",
            "color": "#000000",
            "valueField": "Stop1"
        }, {
            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>Time: <b>[[value]] Min</b></span>",
            "fillAlphas": 0.8,
            "labelText": "[[value]]",
            "lineAlpha": 0.3,
            "title": "Stop2",
            "type": "column",
            "color": "#000000",
            "valueField": "Stop2"
        }, {
            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>Time: <b>[[value]] Min</b></span>",
            "fillAlphas": 0.8,
            "labelText": "[[value]]",
            "lineAlpha": 0.3,
            "title": "Stop3",
            "type": "column",
            "color": "#000000",
            "valueField": "Stop3"
        }, {
            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>Time: <b>[[value]] Min</b></span>",
            "fillAlphas": 0.8,
            "labelText": "[[value]]",
            "lineAlpha": 0.3,
            "title": "Stop4",
            "type": "column",
            "color": "#000000",
            "valueField": "Stop4"
        }, {
            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]] Min</b></span>",
            "fillAlphas": 0.8,
            "labelText": "[[value]]",
            "lineAlpha": 0.3,
            "title": "Stop5",
            "type": "column",
            "color": "#000000",
            "valueField": "Stop5"
        }, {
            "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>Time: <b>[[value]] Min</b></span>",
            "fillAlphas": 0.8,
            "labelText": "[[value]]",
            "lineAlpha": 0.3,
            "title": "Stop6",
            "type": "column",
            "color": "#000000",
            "valueField": "Stop6"
        }],
        "categoryField": "Day",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 1,
            "gridAlpha": 0,
            "position": "left"
        },
        "export": {
            "enabled": true
        }
    });
</script>-->
<!--END First Small Meter-->
