﻿
<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Temperature Analysis']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#1475bf; ">
                            <h2>Search </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <form name="detailfilterForm" novalidate="novalidate">
                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.VechicleNo.$invalid}">
                                                    <label class="label">Vehicle No</label>
                                                    <label class="select">
                                                        <select name="VechicleNo" ng-model="vehicleRefId" title="Select vehicle no" required>
                                                            <option ng-repeat="vehicle in dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>

                                                        </select> <i></i>
                                                    </label>
                                                    <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                        <!--<div class="note note-error" ng-if="detailfilterForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>-->
                                                    </div>
                                                </section>

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.fromdate.$invalid}">
                                                    <label class="label">Start Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="fromdate" ng-model="fromdate" title="Select start date" date-format="dd-MM-yyyy" date-only required />
                                                        <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.fromdate.$error.required">{{ validationMsg.required }}</div>-->
                                                        </div>

                                                    </label>

                                                </section>

                                                <section class="col col-3" ng-class="{'state-error': detailfilterForm.todate.$invalid}">
                                                    <label class="label">End Date</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                        <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="todate" ng-model="todate" title="Select end date" date-format="dd-MM-yyyy" date-only required />
                                                        <div ng-show="detailfilterForm.todate.$touched">
                                                            <!--<div class="note note-error" ng-if="detailfilterForm.todate.$error.required">{{ validationMsg.required }}</div>-->
                                                        </div>
                                                    </label>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="label">.</label>
                                                    <button type="button" class="btn btn-primary btn-sm" title="Please click Show button" ng-disabled="detailfilterForm.$invalid" ng-click="display()"><i class="fa fa-shower" aria-hidden="true"></i> Show</button>

                                                </section>


                                            </form>
                                        </fieldset>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!--Graphical Data-->
                <article class="col-sm-6 col-md-6 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Avg Temperature Analysis </h2>
                        </header>
                        <div id="chartcoolentdiv"></div>
                    </div>
                </article>


                <!--Vehicle Data-->
                <article class="col-sm-6 col-md-6 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color:#5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Avg Temperature Analysis Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0">
                                    <thead>
                                        <tr>
                                            <!--<th data-class="expand" style="background-color:#ea9828 !important">deviceno</th>-->
                                            <th style="width:50%; background-color:#ea9828 !important">Date</th>
                                            <th style="width: 50%; background-color: #ea9828 !important">Temperature (In °C )</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
                </div>

            </div>
</section>

</div>

<style>
    #chartcoolentdiv {
        width: 100%;
        height: 350px;
    }

     #coolentgriddiv {
        width: 100%;
        height: 350px;
    }


    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>
