﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['View Trips']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>

            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" style="align-content:center">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Trip Name:</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <form id="#" class="smart-form" novalidate="novalidate">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-12">
                                            <label class="label">Trip Name</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-car"></i>
                                                <input type="text" name="trip_name" ng-model="trip_name">
                                            </label>
                                        </section>

                                     </div>

                                    <!--<div class="row">
                                        <section class="col col-12">
                                            <label class="label">Trip From</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-location-arrow"></i>
                                                <input type="email" name="tripfrom" ng-model="trip_from">
                                            </label>
                                        </section>

                                    </div>
                                    <div class="row">
                                        <section class="col col-12">
                                            <label class="label">Trip To</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-location-arrow"></i>
                                                <input type="text" name="tripto" ng-model="trip_to">
                                            </label>
                                        </section>

                                    </div>-->
                                </fieldset>

                                <footer align="center">
                                    <button type="submit" style="align-content:center" ng-click="Updatetripname();" data-dismiss="modal" class="btn btn-primary">
                                        Update
                                    </button>
                                </footer>
                            </form>
                        </div>
                        <!--<div class="modal-footer">
                    <button type="button" class="btn btn-success"  data-dismiss="modal">Join Now</button>
                </div>-->
                    </div>

                </div>
            </div>

            <div class="modal fade" id="myvideo" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" style="align-content:center">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Trip Video:</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <!--<video>
                                <source src="http://45.35.14.40/APIV4/UploadFile//tripvideodata/343_1305_01-10-2017_10-48-14.mp4" />
                            </video>-->
                           
                            <!--<iframe width="100%" height="300px" ng-src="http://45.35.14.40/APIV4/UploadFile//tripvideodata/343_1305_01-10-2017_10-48-14.mp4" frameborder=" 0" allowfullscreen controls></iframe>-->
                            <video id="playVideo" width="100%" height="240" controls>
                                <source src="{{videourl}}">
                            </video>
                        </div>
                      
                    </div>
               </div>
            </div>

            <!-- widget grid -->
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-color="blueLight">
                        <header style="background-color: #5bc0dc; color: #fff;">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Trip List</h2>
                            <div class="widget-toolbar" id="switch-1"  role="menu">
                                <!--<button class="btn btn-primary" ng-hide="starttrip" data-toggle="modal" data-target="#myModal"> <i class="icon-prepend fa fa-play"></i>Start Trip </button>-->
                                <button class="btn btn-primary" ng-hide="starttrip" ng-click="startNewtrip();"> <i class="icon-prepend fa fa-play"></i>Start Trip </button>
                                <button class="btn btn-primary" ng-hide="endtrip" ng-click="EndTrip()"> <i class="icon-prepend fa fa-stop"></i> End Trip </button>

                            </div>
                        </header>

                        <!-- widget div-->
                        <div>
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <div class="textarea">
                                    <table datatable-basic tablebind="tablebind" bind-filters="true"
                                           class="display projects-table table table-striped table-bordered table-hover"
                                           cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th data-class="expand" style="background-color:#ea9828 !important">Trip ID</th>
                                                <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Vehicle No</th>
                                                <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Trip Name</th>
                                                <!--<th data-hide="phone,tablet" style="background-color:#ea9828 !important">Trip From</th>
                                                <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Trip To</th>-->
                                                <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Trip Start</th>
                                                <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Trip End</th>
                                                <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Rating</th>
                                                <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Distance(km)</th>
                                                <th data-hide="phone,tablet" style="background-color:#ea9828 !important">Edit Trip Name</th>
                                                <th  style="background-color:#ea9828 !important">Play Trip</th>
                                                <th  style="background-color:#ea9828 !important">Trip Video</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <div class="row">
               
            </div>
            <!-- end row -->
            <!--Print Pop-Up is Start Here-->
            <!--Print Pop-Up is Start Here-->
        </div>
    </section>
</div>

<style type="text/css" media="print">
    table {
        width: 100%;
        border: 1pt solid #000000;
        border-collapse: collapse;
        font-size: 11pt;
    }
</style>
