<div id="content">
    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <big-breadcrumbs items="['Blotter View Admin']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
            </div>

            <div class="row" style="margin-left: 0px !important">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row" style=" padding-bottom: 20px;">

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" ng-class="{true: 'os', false: 'osc'}[isActiveOS]" ng-click="toggleActiveOS()">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle;">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #c53c2e; ">

                                        <img src="styles/img/osff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">

                                    </div>
                                    <div class="col-xs-8 text-center" style="cursor:pointer">
                                        <h2 class="livescore">{{OS}}</h2>
                                        <div class="text-uppercase">Over Speed </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" ng-class="{true: 'HA', false: 'HAC'}[isActiveHA]" ng-click="toggleActiveHA()">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #28628e; ">
                                        <img src="styles/img/haff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center" style="cursor:pointer">
                                        <h2 class="livescore">{{HA}}</h2>
                                        <div class="text-uppercase" title="Harsh Acceleration">Harsh Acc.</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" ng-class="{true: 'COR', false: 'CORC'}[isActiveCOR]" ng-click="toggleActiveCOR()">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #298a52;;">
                                        <img src="styles/img/corff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">

                                    </div>
                                    <div class="col-xs-8 text-center" style="cursor:pointer">
                                        <h2 class="livescore">{{HC}}</h2>
                                        <div class="text-uppercase">Cornering</div>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" ng-class="{true: 'CT', false: 'CTC'}[isActiveCT]" ng-click="toggleActiveCT()">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #5c5c5c;;">
                                        <i class="fa fa-phone fa-3x" style="color: white"></i>

                                    </div>
                                    <div class="col-xs-8 text-center" style="cursor:pointer">
                                        <h2 class="livescore">{{CT}}</h2>
                                        <div class="text-uppercase">Calls</div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" ng-class="{true: 'HB', false: 'HBC'}[isActiveHB]" ng-click="toggleActiveHB()">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #863ba2;">
                                        <img src="styles/img/hbff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">

                                    </div>
                                    <div class="col-xs-8 text-center" style="cursor:pointer">
                                        <h2 class="livescore">{{HB}}</h2>
                                        <div class="text-uppercase" title="Harsh Braking">Harsh Brk. </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" ng-class="{true: 'PAR', false: 'PARC'}[isActivePAR]" ng-click="toggleActivePAR()">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 8px; padding-bottom: 6px; padding-left:6px; background-color: #d28924;">
                                        <i class="fa fa-cloud-upload fa-3x"></i>

                                    </div>
                                    <div class="col-xs-8 text-center" style="cursor:pointer">
                                        <h2 class="livescore">0</h2>
                                        <div class="text-uppercase">Parameter</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="row">

                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <div style="margin-left:5px">
                                <i class="fa fa-map-marker"></i> <span> Map View</span>
                                <span class="pull-right" style="margin-top:-2px ;margin-right:5px">
                                    <!--<div class="btn-group">
                                        {{Status1}}
                                        <button class="btn dropdown-toggle btn-xs btn-success" data-toggle="dropdown" aria-expanded="false" title="Select Status Filter">  {{statusfilter + ' '}}<span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right js-status-update">
                                            <li class="">
                                                <a ng-click="SetCheckStatus('All','All')"> <i class="fa fa-circle txt-color-green"></i> All</a>
                                            </li>

                                            <li class="">
                                                <a ng-click="SetCheckStatus('OS','Over Speed')"> <i class="fa fa-circle txt-color-green"></i> Over Speed</a>
                                            </li>
                                            <li class="">
                                                <a ng-click="SetCheckStatus('HA','H.A.')"><i class="fa fa-circle txt-color-red"></i> H.A.</a>
                                            </li>
                                            <li>
                                                <a ng-click="SetCheckStatus('HC','Cornering')"><i class="fa fa-circle txt-color-green"></i> Cornering</a>
                                            </li>
                                            <li>
                                                <a ng-click="SetCheckStatus('CT','Calls Taken')"><i class="fa fa-circle txt-color-red"></i> Calls Taken</a>
                                            </li>
                                            <li>
                                                <a ng-click="SetCheckStatus('HB','H.B.')"><i class="fa fa-circle txt-color-orange"></i> H.B.</a>
                                            </li>

                                        </ul>
                                    </div>-->
                                    <!--<button class="btn btn-primary btn-xs" title="Show vehicles on map"> <i class=" fa fa-eye"></i> Show</button>-->
                                    <!--<button class="btn btn-primary btn-xs" title="Push Notification"> <i class=" fa fa-eye"></i> Push Notification</button>-->


                                    <button class="btn btn-warning btn-xs" title="Manual Refresh" ng-click="getVehicleData()" ng-if="!OnOffStatus"><i class="fa fa-refresh"></i> Manual</button>
                                    <span class="onoffswitch">
                                        <input type="checkbox" name="start_interval_map" ng-model="OnOffStatus"
                                               ng-change="AutoOnOff()"
                                               class="onoffswitch-checkbox" id="start_interval_map">
                                        <label title="Auto Refresh On/Off" class="onoffswitch-label" for="start_interval_map">
                                            <span class="onoffswitch-inner"
                                                  data-swchon-text="Auto"
                                                  data-swchoff-text="Off"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>

                                    </span>
                                </span>

                            </div>



                        </header>

                        <div>
                            <div class="row">

                                <div id="divmap" data-smart-fill-content="" id="map-canvas" ui-map="myMap">
                                    <ui-gmap-google-map control='map.control' center='map.center' zoom='map.zoom'>
                                        <ui-gmap-marker ng-repeat="m in map.markersr" coords="m" options="m.options" idkey="m.id">
                                            <ui-gmap-window options="windowOptions" closeclick="closeClick()">
                                                <div>
                                                    <small>
                                                        Vehicle No:  {{m.vehicledetails.vehicle_no}} <br />
                                                        Speed: {{m.vehicledetails.speed}} <br />
                                                        Driver Name: {{m.vehicledetails.drivername}} <br />
                                                        Driver Mobile No: {{m.vehicledetails.derivermobileno}} <br />
                                                        Date Time: {{m.vehicledetails.recorddatetime| date:'dd-MM-yyyy h:mma'}} <br />
                                                        <!--Latitude: {{m.vehicledetails.latitude}} <br />
                                                        logutude: {{m.vehicledetails.longitude}} <br />
                                                        Address: {{m.vehicledetails.address}} <br />-->
                                                        Alert/Status : <b>{{m.vehicledetails.alert}}</b>
                                                    </small>
                                                </div>
                                            </ui-gmap-window>

                                        </ui-gmap-marker>

                                        <ui-gmap-circle ng-repeat="c in circle" radius="100"
                                                        stroke="{color: '#db6c0a', weight: 2, opacity: 1.0}"
                                                        fill="{color: '#db6c0a', opacity: 0.5}"
                                                        center="{latitude: c.latitude, longitude:c.longitude}"
                                                        clickable=true>
                                        </ui-gmap-circle>

                                    </ui-gmap-google-map>

                                </div>

                            </div>
                        </div>

                    </div>

                </article>

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Age wise count </h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <div id="chartdivAge"></div>
                                <div style="color=#863ba2"><b>Age</b></div>
                            </div>
                        </div>

                    </div>

                </article>

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Gender wise count </h2>
                        </header>

                        <div>
                            <div class="widget-body">
                                <div id="chartdivGender"></div>
                                <div style="color=#863ba2"><b>Gender</b></div>
                            </div>
                        </div>

                    </div>

                </article>

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">

                    <div jarvis-widget id="chartjs-doughnut-chart" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #009688; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Color wise count </h2>
                        </header>

                        <div>
                            <div class="widget-body">
                                <div id="chartdivColor"></div>
                                <div style="color=#863ba2"><b>Color</b></div>
                            </div>
                        </div>
                    </div>

                </article>

            </div>


            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-collapsed="true"  data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #3276b1; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Vehicles List</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="dashTablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <!--<tr>
                            <th class="hasinput" style="width:10%">
                                <input type="text" class="form-control pplaceholder" placeholder="Vehicle No" />
                            </th>
                            <th class="hasinput">
                                <input type="text" class="form-control pplaceholder" placeholder="DateTime" />
                            </th>

                            <th class="hasinput" style="width:10%">
                                <input type="text" class="form-control pplaceholder" placeholder="Latitude" />
                            </th>
                            <th class="hasinput" style="width:10%">
                                <input type="text" class="form-control pplaceholder" placeholder="Longitude" />
                            </th>
                            <th class="hasinput" style="width:10%">
                                <input type="text" class="form-control pplaceholder" placeholder="Speed" />
                            </th>
                            <th class="hasinput" style="width:10%">
                                <input type="text" class="form-control pplaceholder" placeholder="Distance" />
                            </th>
                            <th class="hasinput" style="width:10%">
                                <input type="text" class="form-control pplaceholder" placeholder="Can Distance" />
                            </th>
                            <th class="hasinput" style="width:10%">
                                <input type="text" class="form-control pplaceholder" placeholder="RPM" />
                            </th>
                            <th class="hasinput" style="width:5%">
                                <input type="text" class="form-control pplaceholder" placeholder="Temperature" />
                            </th>

                        </tr>-->

                                        <tr>

                                            <th style="width:10%;background-color: #ea9828 !important">Vehicle No</th>
                                            <th data-class="expand" style="width:20%;background-color: #ea9828 !important">Location/Date Time</th>
                                            <!--    <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Location</th>-->
                                            <!--<th data-hide="phone,tablet" style="background-color: #ea9828 !important">Latitude</th>
                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Longitude</th>-->
                                            <th data-hide="phone,tablet" style="width:10%;background-color: #ea9828 !important">Speed(km/h)</th>
                                            <!--<th data-hide="phone,tablet" style="background-color: #ea9828 !important">Distance</th>
                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Can Distance</th>
                            <th data-hide="phone,tablet" style="background-color: #ea9828 !important">RPM</th>-->
                                            <th data-hide="phone,tablet" style="width:10%;background-color: #ea9828 !important">Alert/Status</th>
                                            <th style="width:10%;background-color: #ea9828 !important">Map</th>

                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </section>
</div>


<style>
    .os {
        background-color: #e74c3c;
    }

    .osc {
        background-color: #eeb4ad;
    }

    .HA {
        background-color: #3276b1;
    }

    .HAC {
        background-color: #adc6dc;
    }

    .COR {
        background-color: #27ae60;
    }

    .CORC {
        background-color: #9adab5;
    }

    .CT {
        background-color: #666;
    }

    .CTC {
        background-color: #bfbebe;
    }

    .HB {
        background-color: #af64cc;
    }

    .HBC {
        background-color: #cbafd6;
    }

    .PAR {
        background-color: #ea9828;
    }

    .PARC {
        background-color: #f5c585;
    }

    #divmap {
        height: 560px;
    }


    .livetrackingmap .jarviswidget > div {
        padding-top: 0px;
    }

    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }

    #chartdivAge {
        width: 100%;
        height: 150px;
        font-size: 7px;
    }

    #chartdivGender {
        width: 100%;
        height: 150px;
        font-size: 7px;
    }

    #chartdivColor {
        width: 100%;
        height: 150px;
        font-size: 7px;
    }
</style>
