﻿<!-- MAIN CONTENT -->
<div id="content">

    <section widget-grid id="widget-grid">

        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <header>

                    <h2>Caim Insurance  {{lblheading1}}</h2>
                </header>
            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>Caim Insurance Details </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <form name="myForm" role="form" class="smart-form client-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <div class="row">
                                              <section class="col col-6" ng-class="{'state-error': myForm.policy_no.$invalid}">
                                                    <label class="label">Policy No</label>
                                                    <label class="input">

                                                        <input type="text" name="policy_no" title="Select policy n" ng-model="policy_no" required>
                                                        <span style="color:red" ng-show="myForm.policy_no.$touched && myForm.policy_no.$invalid">
                                                            <span ng-show="myForm.policy_no.$error.required">Policy no is required.</span>
                                                        </span>

                                                    </label>
                                                </section>


                                                <section class="col col-6" ng-class="{'state-error': myForm.location.$invalid}">
                                                    <label class="label"> Loaction</label>
                                                    <label class="input">
                                                        <input type="text" name="location" title="Select policy n" ng-model="location"
                                                               required>
                                                        <span style="color:red" ng-show="myForm.location.$touched && myForm.location.$invalid">
                                                            <span ng-show="myForm.location.$error.required">Location is required.</span>
                                                        </span>

                                                    </label>
                                                </section>
                                              </div>
                                              <div class="row">
                                                <section class="col col-6" ng-class="{'state-error': myForm.note.$invalid}">
                                                    <label class="label">Note</label>
                                                    <label class="input">
                                                        <input type="text" name="note" ng-model="note" required>
                                                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the Driver Name </b>-->
                                                        <span style="color:red" ng-show="myForm.note.$touched && myForm.note.$invalid">
                                                            <span ng-show="myForm.note.$error.required">Note is required.</span>
                                                        </span>
                                                    </label>
                                                </section>
                                                  <section class="col col-6" ng-class="{'state-error': myForm.email_id.$invalid}">
                                                      <label class="label">Email</label>
                                                      <label class="input">
                                                          <!--<i class="icon-append fa fa-calendar"></i>-->
                                                          <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                          <input type="email" name="email_id" ng-model="email_id" ng-disabled="(action == 'View' )?true:false" required>
                                                          <span style="color:red" ng-show="myForm.email_id.$touched && myForm.email_id.$invalid">
                                                              <span ng-show="myForm.email_id.$error.required">>Email id is required.</span>
                                                          </span>
                                                      </label>
                                                  </section>
                                            </div>
                                        </fieldset>

                                    </article>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>



            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>Claim Document Details </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <form name="myForm1" role="form" class="smart-form client-form">
                                    <article class="col-sm-12">
                                        <fieldset>

                                            <!--<div class="container">-->
                                            <div class="row" data-ng-repeat="document in claimdocument">

                                                <section class="col col-3" ng-class="{'state-error': myForm.doc_name.$invalid}">
                                                    <label class="label">Document Name</label>
                                                    <label class="input">
                                                        <input type="text" name="doc_name" ng-model="document.doc_name" ng-disabled="(action == 'View' )?true:false" required>
                                                        <span style="color:red" ng-show="myForm.doc_name.$touched && myForm.doc_name.$invalid">
                                                            <span ng-show="myForm.doc_name.$error.required">Document name is required.</span>
                                                        </span>
                                                    </label>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="label"></label>
                                                    <label class="select" style="margin-top:29px">
                                                        <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                                        <input type="file" file-model="document.doc_file_path" multiple name="doc_file_path" accept="image/*">
                                                        <!--<input type="file" name="profile_picture_uri" id="fileToUpload" file-model="profile_picture_uri" accept="image/*">-->
                                                    </label>
                                                </section>
                                                <section class="col col-3" ng-show="(action == 'View'||action == 'Edit' )?true:false">
                                                    <label class="label">Download Document</label>

                                                    <label class="input">
                                                        <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                                        <img ng-src="{{document.doc_file_url}}" style="width:50px;height:50px" name="doc_file_url" alt="Document image">
                                                        <a target="_self" href="{{document.doc_file_url}}" download="sss.pdf">Download </a>
                                                    </label>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="input">
                                                        <label class="label">.</label>
                                                        <button class="btn btn-danger btn-sm" ng-click="removedocument($index)">Remove Document</button>
                                                    </label>
                                                </section>


                                            </div>
                                            <button class="btn btn-primary  btn-sm" ng-click="addNewdocument()">Add New document</button>

                                        </fieldset>

                                    </article>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>



            </div>


            <div class="row pull-right">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <footer>
                            <!--<button type="submit" class="btn btn-primary" data-ng-click="updateregister()">
                                Update Profile
                            </button>-->

                            <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="sendToInsuranceCompany()"  >
                                <i class="fa fa-save"></i> Send To Isurance Company
                            </button>
                      

                            <!--<button class="btn btn-warning" ng-click="finalCancelOrganizationRecord()">
                                <i class="fa fa-remove"></i> Cancel
                            </button>-->
                        </footer>
                    </div>

                </article>
            </div>


    </section>




</div>




