﻿<!-- MAIN CONTENT -->
<div id="content">

    <section widget-grid id="widget-grid">

        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <header>
                    
                    <h2>Insurance Claim  {{lblheading1}}</h2>
                </header>
            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>Insurance Claim Details </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <form name="myForm" role="form" class="smart-form client-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <div class="row">

                                                <section class="col col-6" ng-class="{'state-error': myForm.policy_no.$invalid}">
                                                    <label class="label">Policy No</label>
                                                    <label class="input">

                                                        <input type="text" name="policy_no" title="Select policy n" ng-model="policy_no" ng-disabled="(action == 'View' )?true:false" required>
                                                        <span style="color:red" ng-show="myForm.policy_no.$touched && myForm.policy_no.$invalid">
                                                            <span ng-show="myForm.policy_no.$error.required">Policy no is required.</span>
                                                        </span>

                                                    </label>
                                                </section>
                                                <section class="col col-6" ng-class="{'state-error': myForm.period_from.$invalid}">
                                                    <label class="label">Policy Period From</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="period_from" ng-model="period_from" title="Select start date" ng-readonly="true" date-format="dd-MM-yyyy " ng-disabled="(action == 'View' )?true:false" date-only required />
                                                        <span style="color:red" ng-show="myForm.period_from.$touched && myForm.period_from.$invalid">
                                                            <span ng-show="myForm.period_from.$error.required">Period from is required.</span>
                                                        </span>

                                                    </label>
                                                </section>

                                                <section class="col col-6" ng-class="{'state-error': myForm.period_to.$invalid}">
                                                    <label class="label">Policy Period To</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="period_to" ng-model="period_to" title="Select End date" ng-readonly="true" date-format="dd-MM-yyyy " ng-disabled="(action == 'View' )?true:false" date-only required />
                                                        <span style="color:red" ng-show="myForm.period_to.$touched && myForm.period_to.$invalid">
                                                            <span ng-show="myForm.period_to.$error.required">Period to is required.</span>
                                                        </span>

                                                    </label>
                                                </section>

                                                <section class="col col-6" ng-class="{'state-error': myForm.date_accident_or_loss.$invalid}">
                                                    <label class="label"> Accident/Loss Date</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-calendar"></i>
                                                        <input datetime-picker name="date_accident_or_loss" ng-model="date_accident_or_loss" ng-readonly="true" title="Select accident date" date-format="dd-MM-yyyy " ng-disabled="(action == 'View' )?true:false" date-only required />
                                                        <span style="color:red" ng-show="myForm.date_accident_or_loss.$touched && myForm.date_accident_or_loss.$invalid">
                                                            <span ng-show="myForm.date_accident_or_loss.$error.required">Accident/Loss date is required.</span>
                                                        </span>

                                                    </label>
                                                </section>

                                                <section class="col col-6" ng-class="{'state-error': myForm.name_of_driver.$invalid}">
                                                    <label class="label">Driver Name</label>
                                                    <label class="input">
                                                        <input type="text" name="name_of_driver" ng-model="name_of_driver" ng-disabled="(action == 'View' )?true:false" required>
                                                        <!--<b class="tooltip tooltip-bottom-right">Needed to enter the Driver Name </b>-->
                                                        <span style="color:red" ng-show="myForm.name_of_driver.$touched && myForm.name_of_driver.$invalid">
                                                            <span ng-show="myForm.name_of_driver.$error.required">Driver Name is required.</span>
                                                        </span>
                                                    </label>
                                                </section>
                                                <section class="col col-6" ng-class="{'state-error': myForm.driving_licence_no.$invalid}">
                                                    <label class="label">Driving Licence No</label>
                                                    <label class="input">
                                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                        <input type="text" name="driving_licence_no" ng-model="driving_licence_no" ng-disabled="(action == 'View' )?true:false" required>
                                                        <span style="color:red" ng-show="myForm.driving_licence_no.$touched && myForm.driving_licence_no.$invalid">
                                                            <span ng-show="myForm.driving_licence_no.$error.required">>Driving Licence No is required.</span>
                                                        </span>
                                                    </label>
                                                </section>
                                                <section class="col col-6">
                                                    <label class="label">Accident/Loss Details</label>
                                                    <label class="textarea">
                                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                        <textarea rows="4" name="accident_or_loss_details" ng-model="accident_or_loss_details" ng-disabled="(action == 'View' )?true:false"> </textarea>

                                                    </label>
                                                </section>
                                                <section class="col col-6" ng-class="{'state-error': myForm.driver_birth_date.$invalid}">
                                                    <label class="label">Driver Birth Date</label>
                                                    <label class="input">
                                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                                        <!--<input datetime-picker name="driver_birth_date"  ng-model="driver_birth_date" title="Select Driver Birth Date" date-format="yyyy-MM-dd HH:mm:ss" ng-disabled="(action == 'View' )?true:false" />-->
                                                        <input id="cmbdate_of_birth" name="driver_birth_date" ng-model="driver_birth_date" data-format="YYYY-MM-DD" data-template="D MMM YYYY" ng-disabled="(action == 'View' )?true:false" required>
                                                        <!--<span style="color:red" ng-show="myForm.driver_birth_date.$touched && myForm.driver_birth_date.$invalid">
                                                        <span ng-show="myForm.driver_birth_date.$error.required">Driver Birth Date is required.</span>
                                                        </span>-->
                                                    </label>
                                                </section>
                                            </div>
                                                <div class="row">
                                                    <section class="col col-6"  ng-show="(action == 'View' )?true:false">
                                                        <label class="label">Admin Remark</label>
                                                        <label class="input">
                                                            <!--<i class="icon-append fa fa-calendar"></i>-->
                                                            <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                                            <input type="text" name="remark" ng-model="remark" ng-disabled="(action == 'View' )?true:false" >
                                                            <!--<span style="color:red" ng-show="myForm.remark.$touched && myForm.remark.$invalid">
                                                                <span ng-show="myForm.remark.$error.required">Remark is required.</span>
                                                            </span>-->
                                                        </label>
                                                    </section>
                                                    <section class="col col-6" ng-show="(action == 'View' )?true:false">
                                                        <label class="label">status</label>
                                                        <label class="select">
                                                            <select name="status" ng-model="status" ng-disabled="(action == 'View' )?true:false" >
                                                                <!--<option value="0" selected="selected" disabled=""></option>-->
                                                                <option value="p">pending</option>
                                                                <option value="c">Cancel</option>
                                                                <option value="a">Approved</option>
                                                                <option value="r">Reject</option>

                                                            </select> <i></i>
                                                            <!--<span style="color:red" ng-show="myForm.status.$touched && myForm.status.$invalid">
                                                                <span ng-show="myForm.status.$error.required">Status is required.</span>
                                                            </span>-->
                                                        </label>
                                                    </section>

                                                </div>
                                           
                                            
                                            
                                        </fieldset>
                                        
                                    </article>
                                    </form>
                                </div>
                            </div>
                        </div>                    
                </article>



            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-user"></i> </span>
                            <h2>Claim Document Details </h2>
                        </header>

                        <div>
                            <div class="widget-body no-padding">
                                <form name="myForm1" role="form" class="smart-form client-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                          
                                            <!--<div class="container">-->
                                            <div class="row" data-ng-repeat="document in claimdocument">

                                                <section class="col col-3" ng-class="{'state-error': myForm.doc_name.$invalid}">
                                                    <label class="label">Document Name</label>
                                                    <label class="input">
                                                        <input type="text" name="doc_name" ng-model="document.doc_name" ng-disabled="(action == 'View' )?true:false" required>
                                                        <span style="color:red" ng-show="myForm.doc_name.$touched && myForm.doc_name.$invalid">
                                                            <span ng-show="myForm.doc_name.$error.required">Document name is required.</span>
                                                        </span>
                                                    </label>
                                                </section>
                                              
                                                <section class="col col-3">
                                                    <label class="label"></label>
                                                    <label class="select" style="margin-top:29px">
                                                        <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                                        <input type="file" file-model="document.doc_file_path" multiple name="doc_file_path" accept="image/*">
                                                        <!--<input type="file" name="profile_picture_uri" id="fileToUpload" file-model="profile_picture_uri" accept="image/*">-->
                                                    </label>
                                                </section>
                                                <section class="col col-3" ng-show="(action == 'View'||action == 'Edit' )?true:false">
                                                    <label class="label">Download Document</label>

                                                    <label class="input">
                                                        <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                                        <img ng-src="{{document.doc_file_url}}" style="width:50px;height:50px" name="doc_file_url" alt="Document image">
                                                        <a target="_self" href="{{document.doc_file_url}}" download="sss.pdf">Download </a>
                                                    </label>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="input">
                                                        <label class="label">.</label>
                                                        <button class="btn btn-danger btn-sm" ng-click="removedocument($index)">Remove Document</button>
                                                    </label>
                                                </section>
                                               

                                            </div>
                                            <button class="btn btn-primary  btn-sm" ng-click="addNewdocument()">Add New document</button>
                                            
                                        </fieldset>

                                    </article>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>



            </div>


            <div class="row pull-right">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <footer>
                            <!--<button type="submit" class="btn btn-primary" data-ng-click="updateregister()">
                        Update Profile
                    </button>-->

                            <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="SavePolicyclaimRecord()" ng-show="(action == 'New' )?true:false">
                                <i class="fa fa-save"></i> {{btnSaveText}}
                            </button>
                            <button class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="UpdatePolicyclaimRecord()" ng-show="(action == 'Edit' )?true:false">
                                <i class="fa fa-save"></i> Update
                            </button>

                            <button class="btn btn-warning" ng-show="deleteMode" ng-click="deleteOrganization()">
                                <i class="fa fa-remove"></i> Delete
                            </button>

                            <button class="btn btn-warning" ng-click="finalCancelOrganizationRecord()">
                                <i class="fa fa-remove"></i> Cancel
                            </button>
                        </footer>
                    </div>

                </article>
            </div>


       </section>

   


</div>




