﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Geofence Assign']" icon="file-text-o"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
        </div>

        <!-- widget grid -->
        <!-- row -->
        <div class="row">

            <article class="col-sm-12">
                <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #5bc0dc; color: #fff;">
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>Set Master Geofenece</h2>
                        <div class="widget-toolbar" id="switch-1" role="menu">
                            <button class="btn btn-primary" ng-click="SaveRecord()"> <i class="fa fa-edit"></i> Update</button>
                            <button class="btn btn-warning" ng-click="Cancel()"> <i class="fa fa-remove"></i> Cancel&nbsp;</button>

                        </div>
                    </header>
                    <div class="smart-form">
                        <fieldset>
                            <div class="row">
                                <form name="detailForm" novalidate="novalidate">
                                    <section class="col col-1">
                                        <label class="label">User name</label>
                                    </section>

                                    <section class="col col-3" >
                                        <label class="label" >{{user_name}}</label>
                                    </section>

                                    <section class="col col-1">
                                        <label class="label">Device No</label>
                                    </section>

                                    <section class="col col-3">
                                        <label class="label">{{deviceno}}</label>
                                    </section>

                                    <section class="col col-1">
                                        <label class="label">Master Geofence</label>
                                    </section>

                                    <section class="col col-3">
                                        <label class="input" style="border: 1px  #000; border-radius: 2px">
                                            <select title="Select Master Geofence" name='mGeofenceId' id="mGeofenceId" ng-options="Geofence.gc_id as Geofence.geofence_name for Geofence in dtGeofenceList" ng-model="m_geofenceId" class="form-control"></select>
                                        </label>
                                    </section>
                                </form>
                            </div>
                        </fieldset>
                    </div>
            </article>

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-color="blueLight">
                    <header style="background-color: #5bc0dc; color: #fff;">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Set Multiple Geofenece</h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <label class="label"></label>
                            <div class="textarea">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="background-color: #ea9828 !important">Select Geofence</th>
                                            <th style="background-color: #ea9828 !important" data-class="expand">Geofence Id</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Geofence Name</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Geofence Desc</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Created At</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->

    </section>
</div>

<style type="text/css" media="print">
    table {
        width: 100%;
        border: 1pt solid #000000;
        border-collapse: collapse;
        font-size: 11pt;
    }
</style>
