﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['User list']" icon="file-text-o"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
        </div>
        <!-- widget grid -->
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-color="blueLight">
                    <header style="background-color: #5bc0dc; color: #fff;">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Users list</h2>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <label class="label"></label>
                            <div class="textarea">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="background-color: #ea9828 !important" data-class="expand">User Id</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">User Name</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">First Name</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Last Name</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Device No</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Vehicle No</th>
                                            <th style="width: 5%; align-content: center; background-color: #ea9828 !important">Assign Geofenece</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->

    </section>
</div>

<style type="text/css" media="print">
    table {
        width: 100%;
        border: 1pt solid #000000;
        border-collapse: collapse;
        font-size: 11pt;
    }
</style>
