﻿<!-- MAIN CONTENT -->
<div id="content">

    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Geofence']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
        </div>

        <form name="detailForm" novalidate="novalidate">
            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #1475bf; ">
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>{{lblheading}}</h2>

                        </header>
                        <div class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-3 col-md-3">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-life-ring"></i>
                                            <input type="text" placeholder="Geofence Name" class="form-control" name="GeofenceName" ng-model="geofence_name" ng-disabled="(action == 'View' )?true:false" required />
                                        </label>
                                    </section>

                                    <section class="col col-3 col-md-3">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-life-ring"></i>
                                            <input type="text" placeholder="Geofence Desc" class="form-control" name="GeofenceDesc" ng-model="geofenec_desc" ng-disabled="(action == 'View' )?true:false" />
                                        </label>
                                    </section>

                                    <section class="col col-2 col-md-2">
                                        <label class="checkbox">
											<input type="checkbox" name="checkbox-inline"  ng-model="is_active">
											<i></i>Is Active</label>                               
                                        
                                    </section>


                                    <section style="margin-top:5px" class="col col-4 col-md-4">
                                        <button class="btn btn-primary btn-sm" ng-disabled="detailForm.$invalid || lat_lng==''|| lat_lng==null" ng-click="saveGeofence()" ng-show="editMode">
                                            <i class="fa fa-save"></i> {{btnSaveText}}&nbsp;
                                        </button>
                                        &nbsp;&nbsp;
                                        <button class="btn btn-warning btn-sm" ng-click="CancelGeofeneceRecord()">
                                            <i class="fa fa-remove"></i> Cancel&nbsp;
                                        </button>
                                    </section>

                                </div>


                            </fieldset>
                        </div>
                </article>
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Map</h2>
                        </header>
                        <div class="row">
                            <div id="divmap"></div>
                        </div>
                        <!--<div class="row">
                            <div id="divData">
                                {{lat_lng}}
                            </div>
                        </div>-->


                    </div>
                </article>
        </form>

        <!--<div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #5bc0dc; color: white">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Geofence</h2>
                    </header>
                    <div>
                        <div id="divmap"></div>
                       </div>
                </div>
                        </article>
        </div>-->
    </section>


</div>
<style>
    #divmap {
        width: 100%;
        height: 550px;
    }
</style>