﻿<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Geofence list']" icon="file-text-o"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
        </div>
        <!-- widget grid -->
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div data-jarvis-widget data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-color="blueLight">
                    <!--<header style="background-color: #5bc0dc; color: #fff;">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Geofence list</h2>
                    </header>
                    <div class="widget-toolbar" id="switch-1" role="menu">
                        <button class="btn btn-primary" ng-click="newRow()"> <i class="fa fa-plus"></i> Add New Geofence</button>

                    </div>-->
                    <header style="background-color: #5bc0dc; color: #fff;">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Geofence list</h2>
                        <div class="widget-toolbar" id="switch-1" role="menu">
                            <button class="btn btn-primary" ng-click="newRow()"> <i class="fa fa-plus"></i> Add New Geofence</button>

                        </div>
                    </header>

                    <!-- widget div-->
                    <div>
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <label class="label"></label>
                            <div class="textarea">
                                <table datatable-basic tablebind="tablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <!--<tr>
                                            <th style="background-color: #ea9828 !important" data-class="expand">Geofence Id</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Geofence Name</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Geofence Desc</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Created At</th>
                                            <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Updated At</th>
                                            <th style="width: 5%; align-content: center; background-color: #ea9828 !important">Assign User</th>
                                            <th style="width: 5%; background-color: #ea9828 !important">Edit</th>
                                            <th style="width: 5%; background-color: #ea9828 !important">View</th>
                                            <th style="width: 5%; background-color: #ea9828 !important">Delete</th>
                                        </tr>-->
                                        <tr>
                                            <th style="background-color:#ea9828 !important" data-class="expand">Geofence Id</th>
                                            <th style="background-color:#ea9828 !important" data-hide="phone,tablet">Geofence Name</th>
                                            <th style="background-color:#ea9828 !important" data-hide="phone,tablet">Geofence Desc</th>
                                            <th style="background-color:#ea9828 !important" data-hide="phone,tablet">Created At</th>
                                            <th style="background-color:#ea9828 !important" data-hide="phone,tablet">Updated At</th>
                                            <!-- <th width="5%" style="align-content: center; background-color: #ea9828 !important">Assign </th>-->
                                            <th style="width: 5%; background-color: #ea9828 !important">Edit</th>
                                            <th style="width: 5%; background-color: #ea9828 !important">View</th>
                                            <th style="width: 5%; background-color: #ea9828 !important">Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->

    </section>
</div>

<style type="text/css" media="print">
    table {
        width: 100%;
        border: 1pt solid #000000;
        border-collapse: collapse;
        font-size: 11pt;
    }
</style>
