﻿<div id="content">

    <section widget-grid id="widget-grid">
        <div style="margin-left:15px; margin-right: 15px">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <big-breadcrumbs items="['OBD']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
                    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
                </article>
            </div>

            <div class="row" style="margin-left: 0px !important">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row" style=" padding-bottom: 20px;">

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #e74c3c !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #c53c2e; ">

                                        <img src="styles/img/osff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">

                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{os}}</h2>
                                        <div class="text-uppercase">OVER SPEED</div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #1475bf !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 7px; padding-bottom: 10px; background-color: #28628e; ">

                                        <img src="styles/img/haff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">


                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{idealrunning}}</h2>
                                        <div class="text-uppercase">Idle Run</div>

                                    </div>
                                </div>
                            </div>
                        </div>






                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #27ae60 !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #298a52;;">

                                        <img src="styles/img/Co2-Reverse.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">
                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">12</h2>
                                        <div class="text-uppercase">CO2</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #666 !important; ">
                                <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 8px; padding-bottom: 6px; padding-left:6px; background-color: #5c5c5c;">
                                        <i class="fa fa-phone fa-3x" style="color: white"></i>


                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">0</h2>
                                        <div class="text-uppercase">parameter </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #af64cc !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding:8px 10px 10px 10px; background-color: #863ba2;">
                                        <img src="styles/img/hbff.png" alt="" height="35" width="35" style="align-content: center; margin-left:-8px">

                                    </div>
                                    <div class="col-xs-8 text-center">
                                        <h2 class="livescore">{{criticaltemp}}</h2>
                                        <div class="text-uppercase" title="Temprature">Temp. </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                                <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                    <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 8px; padding-bottom: 6px; padding-left:6px; background-color: #d28924;;">
                                        <i class="fa fa-cloud-upload fa-3x"></i>

                                    </div>
                                    <div class="col-xs-8 text-center padding-left0">
                                        <h2 class="livescore">{{faultcode}}</h2>
                                        <div class="text-uppercase">Fault Code</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>


            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #1475bf;">
                            <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                            <h2> Search </h2>

                            <!--<div>
                                <span class="pull-left"> {{rdate}}</span>
                                <button class="btn btn-warning btn-xs" ng-if="!OnOffStatus" title="Manual Refresh" ng-click="getObdGridData()"> <i class="fa fa-refresh"></i> Manual </button>
                                <span class="onoffswitch" title="Auto Refresh">
                                    <input type="checkbox" name="start_interval_map" ng-model="OnOffStatus"
                                           ng-change="AutoOnOff()"
                                           class="onoffswitch-checkbox" id="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                    <label class="onoffswitch-label" for="start_interval_map" ng-disabled="detailForm.VechicleNo.$invalid">
                                        <span class="onoffswitch-inner"
                                              data-swchon-text="Auto"
                                              data-swchoff-text="Off"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </span>
                            </div>-->

                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <div class="row smart-form">
                                    <article class="col-sm-12">
                                        <fieldset>
                                            <form name="detailForm" novalidate="novalidate">
                                                <section class="col col-3" ng-class="{'state-error': detailForm.VechicleNo.$invalid}">

                                                    <label class="label">Vehicle No</label>
                                                    <label class="input" style="border: 1px  #000; border-radius: 2px">

                                                        <select title="Select vehicle number" name='VechicleNo' id="VechicleNo" ng-options="vehicle.value as vehicle.text for vehicle in dtVehicleList" ng-model="vehicleRefId" class="form-control" required></select>
                                                    </label>

                                                    <div ng-show="detailForm.VechicleNo.$touched">
                                                        <div class="note note-error" ng-if="detailForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>
                                                    </div>
                                                </section>

                                                <section class="col col-3">
                                                    <label class="label">No.of points</label>
                                                    <label class="select">
                                                        <select title="Number of last received points to show." name="ddlNoOfPoints" ng-model="NoOfRecords" class="form-control" required>
                                                            <option ng-selected=true value="20">20</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                            <option value="150">150</option>
                                                            <option value="200">200</option>
                                                            <option value="500">500</option>

                                                        </select> <i></i>

                                                    </label>

                                                </section>

                                                <section class="col col-4">
                                                    <label class="label">.</label>
                                                    <button type="button" title="Start live tracking" class="btn btn-primary btn-sm" ng-click="getObdGridData()" ng-disabled="detailForm.VechicleNo.$invalid"><i class="fa fa-play" aria-hidden="true"></i> Start</button>
                                                </section>

                                            </form>
                                        </fieldset>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>


                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>OBD Parameters Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <!--<table datatable-column-reorder class="table table-striped table-bordered table-hover" width="100%">-->
                                <div class="table-responsive">
                                    <table datatable-basic tablebind="dashTablebind" bind-filters="true"
                                           class="display projects-table table table-striped table-bordered table-hover "
                                           cellspacing="0" width="100%">
                                        <!--<table datatable-basic tablebind="tablebind" class="table table-striped table-bordered table-hover" width="100%">-->
                                        <thead>
                                            <tr>
                                                <th data-hide="phone" style="background-color: #ea9828 !important">Time Stamp</th>
                                                <!--<th data-class="expand">clientid</th>-->
                                                <!--<th>Device No</th>-->
                                                <!--    <th data-hide="phone,tablet,desktop">eventcode</th>-->
                                                <!--<th data-hide="phone,tablet">recorddatetime.</th>
                                                <th data-hide="phone,tablet">latitude</th>
                                                <th data-hide="phone,tablet">latitudedir</th>
                                                <th data-hide="phone,tablet">longitude</th>
                                                <th data-hide="phone,tablet">longitudedir</th>-->
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Engine Temp.</th>
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">RPM</th>
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Can Speed</th>
                                                <!--  <th data-hide="phone,tablet">distancecan</th>-->
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">DTC Detected</th>
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Throttle Position</th>
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Runtime Since Engine Start</th>
                                                <!--<th data-hide="phone,tablet">averagefuelconsumption</th>
                                                <th data-hide="phone,tablet">fuellevel</th>-->
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Calculated Engine Load</th>
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Mafair Flow Rate</th>
                                                <!--<th data-hide="phone,tablet">ambientairtemp</th>
                                                <th data-hide="phone,tablet">fuelrate</th>-->
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Barometric Pressure</th>
                                                <!--<th data-hide="phone,tablet">shorttermfueltrim</th>
                                                <th data-hide="phone,tablet">fuelpressure</th>-->
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Intake Manifold Absolute Pressure</th>
                                                <!--<th data-hide="phone,tablet">timingadvance</th>-->
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Intake Air Temp</th>
                                                <!--<th data-hide="phone,tablet">relativefuelrailpressure</th>
                                                <th data-hide="phone,tablet">directfuelrailpressure</th>
                                                <th data-hide="phone,tablet">commandedegr</th>
                                                <th data-hide="phone,tablet">egrerror</th>
                                                <th data-hide="phone,tablet">distsincecodecleared</th>
                                                <th data-hide="phone,tablet">controlmodulevoltage</th>
                                                <th data-hide="phone,tablet">absoluteloadvalue</th>
                                                <th data-hide="phone,tablet">timerunwithmil</th>
                                                <th data-hide="phone,tablet">timesincetroublecodescleared</th>
                                                <th data-hide="phone,tablet">deltadist</th>
                                                <th data-hide="phone,tablet">sequencenumber</th>
                                                <th data-hide="phone,tablet">sysdatetime</th>
                                                <th data-hide="phone,tablet">isactive</th>
                                                <th data-hide="phone,tablet">malfunctionindicatorlamp</th>
                                                <th data-hide="phone,tablet">longtermfueltrim</th>
                                                <th data-hide="phone,tablet">oxygensensorspresent</th>
                                                <th data-hide="phone,tablet">oxygensensorvoltage1</th>
                                                <th data-hide="phone,tablet">oxygensensorvoltage2</th>
                                                <th data-hide="phone,tablet">obdstandards</th>
                                                <th data-hide="phone,tablet">distancetraveledmil</th>
                                                <th data-hide="phone,tablet">commandedevaporativepurge</th>
                                                <th data-hide="phone,tablet">warmupssc</th>
                                                <th data-hide="phone,tablet">distancetraveledscc</th>
                                                <th data-hide="phone,tablet">equivalenceratiocurrent</th>
                                                <th data-hide="phone,tablet">fuelaircommandedequratio</th>
                                                <th data-hide="phone,tablet">relativethrottleposition</th-->

                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Abs Throttle Position B</th>
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Accelerator Pedal Position D</th>
                                                <th style="background-color: #ea9828 !important" data-hide="phone,tablet">Accelerator Pedal Position E</th>
                                                <!--<th data-hide="phone,tablet">commandedthrottleactuator</th>-->
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>

                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #af64cc; color: white">
                            <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                            <h2>Graph - Speed, Rpm, Engine Temp. vs Datetime</h2>
                        </header>
                        <div id="chartdiv"></div>
                    </div>
                </article>

                <!--<article class="col-sm-12 col-md-12 col-lg-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header style="background-color: #5bc0dc; color: white">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Fault code Data</h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <table datatable-basic tablebind="faultcodeTablebind" bind-filters="true"
                                       class="display projects-table table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>PID</th>
                                            <th>Parameter Name</th>
                                            <th>Record Datetime</th>
                                            <th>Fault Desc</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                </article>-->


            </div>
        </div>
    </section>


</div>


<style>
    #chartdiv {
        width: 100%;
        height: 300px;
    }
</style>

<script>
    //var chart = AmCharts.makeChart("chartdiv1", {
    //    "type": "serial",
    //    "theme": "light",
    //    "marginRight": 70,
    //    "dataProvider": [{
    //        "country": "USA",
    //        "visits": 3025,
    //        "color": "#FF0F00"
    //    }, {
    //        "country": "China",
    //        "visits": 1882,
    //        "color": "#FF6600"
    //    }, {
    //        "country": "Japan",
    //        "visits": 1809,
    //        "color": "#FF9E01"
    //    }, {
    //        "country": "Germany",
    //        "visits": 1322,
    //        "color": "#FCD202"
    //    }, {
    //        "country": "UK",
    //        "visits": 1122,
    //        "color": "#F8FF01"
    //    }, {
    //        "country": "France",
    //        "visits": 1114,
    //        "color": "#B0DE09"
    //    }, {
    //        "country": "India",
    //        "visits": 984,
    //        "color": "#04D215"
    //    }, {
    //        "country": "Spain",
    //        "visits": 711,
    //        "color": "#0D8ECF"
    //    }, {
    //        "country": "Netherlands",
    //        "visits": 665,
    //        "color": "#0D52D1"
    //    }, {
    //        "country": "Russia",
    //        "visits": 580,
    //        "color": "#2A0CD0"
    //    }, {
    //        "country": "South Korea",
    //        "visits": 443,
    //        "color": "#8A0CCF"
    //    }, {
    //        "country": "Canada",
    //        "visits": 441,
    //        "color": "#CD0D74"
    //    }],
    //    "valueAxes": [{
    //        "axisAlpha": 0,
    //        "position": "left",
    //        "title": "Visitors from country"
    //    }],
    //    "startDuration": 1,
    //    "graphs": [{
    //        "balloonText": "<b>[[category]]: [[value]]</b>",
    //        "fillColorsField": "color",
    //        "fillAlphas": 0.9,
    //        "lineAlpha": 0.2,
    //        "type": "column",
    //        "valueField": "visits"
    //    }],
    //    "chartCursor": {
    //        "categoryBalloonEnabled": false,
    //        "cursorAlpha": 0,
    //        "zoomable": false
    //    },
    //    "categoryField": "country",
    //    "categoryAxis": {
    //        "gridPosition": "start",
    //        "labelRotation": 45
    //    },
    //    "export": {
    //        "enabled": true
    //    }

    //});
</script>