<aside id="left-panel" style="margin-top:10px">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <ul data-smart-menu>

            <li data-ui-sref-active="active">
                <a data-ui-sref="app.Iotdashboardlist"> <i class="fa fa-lg  fa-home"></i> <span class="menu-item-parent"> {{getWord('Vehicle Status')}}</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.organizationlist"><i class="fa fa-bar-chart"></i>{{getWord('Organization List')}}</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.userlist"><i class="fa fa-bar-chart"></i>{{getWord('User List')}}</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.configsetting.list"><i class="fa fa-bar-chart"></i>{{getWord('Config Setting')}}</a>
            </li>

            <li data-ui-sref-active="active">
                <a data-ui-sref="#"> <i class="fa fa-comment-o" aria-hidden="true"></i> <span class="menu-item-parent">{{getWord(' Help')}}</span></a>
            </li>

           

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

    <span class="minifyme" data-action="minifyMenu" minify-menu>
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>



