<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" data-sparkline-container>
    <ul id="sparks" class="">
        <div ng-if="userInfo.user_role == 'cluser' " style="text-align:right  ">
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="Driver overall rating"> Rating <span class="txt-color-blue"><i class="fa fa-thumbs-o-up"></i>&nbsp;<b>{{SubHeaderDataCnt[0].rating}}%</b></span></h5>

            </li>
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="Distance Travel by Vehicles"> Distance travel <span class="txt-color-orange"><i class="fa fa-road"></i>&nbsp;<b>{{SubHeaderDataCnt[0].distance}}</b></span></h5>

            </li>
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="Vehicles Max Speed"> Max Speed   <span class="txt-color-greenDark"><i class="fa fa-hand-o-right"></i>&nbsp;<b>{{SubHeaderDataCnt[0].maxspeed}}</b></span></h5>

            </li>
        </div>
        <div ng-if="userInfo.user_role == 'cladmin' " style="text-align:right  ">
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="No of Vehicles Parking"> parking  <span class="txt-color-purple "><i class="fa fa-car"></i>&nbsp;<b>{{SubHeaderDataCnt[0].parking}}</b></span></h5>

            </li>
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="No Of Vehicles Moving"> moving  <span class="txt-color-greenDark"><i class="fa fa-cab"></i>&nbsp;<b>{{SubHeaderDataCnt[0].moving}}</b></span></h5>

            </li>
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="No of Vehicles Disconnect"> disconnect  <span class="txt-color-blue"><i class="fa fa-exclamation-triangle"></i>&nbsp;<b>{{SubHeaderDataCnt[0].disconnect}}</b></span></h5>

            </li>
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="Total No Vehicles"> total   <span class="txt-color-orange"><i class="fa fa-shopping-cart"></i>&nbsp;<b>{{SubHeaderDataCnt[0].vehiclescnt}}</b></span></h5>

            </li>
        </div>

    </ul>
</div>
