<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" data-sparkline-container>
    <ul id="sparks" class="">
        <div ng-if="userInfo.user_role == 'cluser' " style="text-align:right  ">
            <!--<li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="Driver overall rating"> Rating <span class="txt-color-blue"><i class="fa fa-thumbs-o-up"></i>&nbsp;<b>{{SubHeaderDataCnt[0].rating}}%</b></span></h5>

            </li>-->
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="Distance Travel by Vehicles"> Distance travel <span class="txt-color-orange"><i class="fa fa-road"></i>&nbsp;<b>{{SubHeaderDataCnt[0].distance}}</b> km</span></h5>

            </li>
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="Vehicles Max Speed"> Max Speed   <span class="txt-color-greenDark"><i class="fa fa-hand-o-right"></i>&nbsp;<b>{{SubHeaderDataCnt[0].maxspeed}}</b> km/hr</span></h5>

            </li>
            <li class="pull-right" style="overflow:inherit !important">
                <div>
                    <span style="margin-top:-5px !important">	<h5><b>Overall Score</b></h5></span>
                </div><br />
                <div id="hide-menu" class="btn-header">
                    <!--<span style="border:1px solid; border-radius:50px; background:linear-gradient(to bottom,#1175c1 70%,#81a4bf 100%); height:40px; width:40px; padding:5px 10px 10px 10px; margin-top:-5px;margin-left:30px"><span style="color:#fff; font-size:18px; font-weight:600;">{{SubHeaderDataCnt[0].rating}}</span>-->
                    <span style="background:linear-gradient(to bottom,#1175c1 70%,#81a4bf 100%); width: 100px !important; display: inline-block; max-width: 40px; padding: 11px 7px; font-size: 16px; font-weight: 700;color: #fff; line-height: 1;vertical-align: middle;white-space: nowrap;text-align: center;background-color: #999;border-radius: 50px; margin-left:30px;"><span style="color:#fff; font-size:16px; font-weight:500;">{{SubHeaderDataCnt[0].rating}}</span>
                </div>

            </li>
        </div>
        <div ng-if="userInfo.user_role == 'cladmin' || userInfo.user_role == 'sysadmin' " style="text-align:right  ">
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="No of Vehicles Parking"> Parking  <span class="txt-color-purple "><img src="styles/img/Parking.png" alt="" height="35" width="35" style="align-content: center;" class="hidden-xs">&nbsp;<b>{{SubHeaderDataCnt[0].parking}}</b></span></h5>

            </li>
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="No Of Vehicles Moving"> Moving  <span class="txt-color-greenDark"><img src="styles/img/Moving_Vehicle.png" alt="" height="35" width="35" style="align-content: center;" class="hidden-xs">&nbsp;<b>{{SubHeaderDataCnt[0].moving}}</b></span></h5>

            </li>
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="No of Vehicles Disconnect"> Disconnect  <span class="txt-color-blue"><img src="styles/img/Disconnect_Vehicle.png" alt="" height="35" width="35" style="align-content: center;" class="hidden-xs">&nbsp;<b>{{SubHeaderDataCnt[0].disconnect}}</b></span></h5>

            </li>
            <li class="sparks-info">
                <h5 style="margin: 0 0 0 0 " title="Total No Vehicles"> Total   <span class="txt-color-orange"><img src="styles/img/tot.png" alt="" height="35" width="35" style="align-content: center;" class="hidden-xs">&nbsp;<b>{{SubHeaderDataCnt[0].vehiclescnt}}</b></span></h5>

            </li>

        </div>

    </ul>
</div>
