﻿<div id="content">
    <section widget-grid id="widget-grid">
        <form name="detailForm" novalidate="novalidate">
            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="teal" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Competition  {{lblheading1}}</h2>
                        </header>

                        <div class="smart-form">
                            <div class="row">
                                <section class="col col-3 col-md-4" ng-class="{'state-error': detailForm.code.$invalid}" ng-show="(action != 'New' )?true:false">
                                    <label class="label">Competition ID</label>
                                    <label class="input">
                                        <input type="number" class="form-control" name="cmpt_id" ng-model="cmpt_id" ng-disabled="(action == 'View'||action == 'Edit' )?true:false" required />
                                    </label>
                                </section>
                                <section class="col col-3 col-md-4">
                                    <label class="label">cmpt name</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="cmpt name" ng-model="cmpt_name" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3 col-md-4">
                                    <label class="label">cmpt type</label>
                                    <label class="input">
                                        <input type="text" name="cmpt_type" class="form-control" list="list" ng-model="cmpt_type" placeholder="cmpt type" ng-disabled="(action == 'View' )?true:false">
                                        <datalist id="list">
                                            <option value="public">public</option>
                                            <option value="private">private</option>
                                        </datalist>
                                    </label>
                                </section>


                                <section class="col col-sm-12 col-md-12 col-lg-3">
                                    <label class="label">Start Date</label>
                                    <label class="input">
                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                        <input type="datetime-local" id="exampleInput" name="input" ng-model="start_date" />
                                        <!--<div role="alert">
                                            <span class="error" ng-show="myForm.input.$error.required">
                                                Required!
                                            </span>
                                            <span class="error" ng-show="myForm.input.$error.datetimelocal">
                                                Not a valid date!
                                            </span>
                                        </div>-->
                                        <!--</label>-->

                                </section>
                                <section class="col col-sm-12 col-md-12 col-lg-3">
                                    <label class="label">End Date</label>
                                    <label class="input">
                                        <!--<i class="icon-append fa fa-calendar"></i>-->
                                        <!--  <input type="text" name="startdate" id="startdate" data-smart-datepicker data-min-restrict="#finishdate" data-date-format="dd/mm/yy HH:mm:ss" placeholder="Expected start date">-->
                                        <input type="datetime-local" id="exampleInput" name="input" ng-model="end_date" />
                                        <!--<div role="alert">
                                        <span class="error" ng-show="myForm.input.$error.required">
                                            Required!
                                        </span>
                                        <span class="error" ng-show="myForm.input.$error.datetimelocal">
                                            Not a valid date!
                                         </span>
                                         </div>-->
                                        <!--</label>-->

                                </section>
                                <section class="col col-3">
                                    <label class="label">Terms Conditions</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="terms_conditions" ng-model="terms_conditions" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3 col-md-4">
                                    <label class="label">authentication required</label>
                                    <input type="checkbox" ng-model="AuthcheckboxModel.value">
                                </section>

                                <section class="col col-3">
                                    <label class="label">min km travel</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="min_km_travel" ng-model="min_km_travel" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">ec agefrom</label>
                                    <label class="input">
                                        <input type="number" class="form-control" name="ec_agefrom" ng-model="ec_agefrom" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">ec ageto</label>
                                    <label class="input">
                                        <input type="number" class="form-control" name="ec_ageto" ng-model="ec_ageto" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">prize1 desc</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="prize_desc1" ng-model="prize_desc1" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">prize2 desc</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="prize_desc2" ng-model="prize_desc2" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">prize3 desc</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="prize_desc3" ng-model="prize_desc3" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label data-ng-repeat="i in ['male','female']"><input type="radio" name="test" ng-model="$parent.radioValue" value="{{i}}" ng-disabled="(action == 'View' )?true:false" />{{i}}</label>
                                    <div>currently selected: {{radioValue}}</div><br />
                                </section>

                                <section class="col col-3" ng-show="(action != 'View' )?true:false">
                                    <label class="label">Select Competition image</label>
                                    <label class="input">
                                        <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                        <input type="file" file-model="cmpt_profile_picture_path" name="cmpt_profile_picture_path" accept="image/*">
                                    </label>
                                </section>
                                <section class="col col-3" ng-show="(action == 'View'||action == 'Edit' )?true:false">
                                    <label class="label">Competition image</label>
                                    <label class="input">
                                        <!--<input type="text" class="form-control" name="prize3_desc" ng-model="prize3_desc" ng-disabled="(action == 'View' )?true:false" />-->
                                        <img ng-src="{{cmpt_profile_picture_path}}" style="width:200px;height:200px" name="cmpt_profile_picture_path" alt="Competition image">

                                    </label>
                                </section>



                            </div>

                            <div class="row">

                            </div>

                        </div>
                </article>
            </div>

            <div class="row">
                <fieldset>
                    <footer class="pull-right">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" ng-disabled="detailForm.$invalid" ng-click="SaveCompetitionRecord()" ng-show="(action == 'New' )?true:false">
                                <i class="fa fa-save"></i> {{btnSaveText}}
                            </button>
                            <button class="btn btn-primary" ng-disabled="detailForm.$invalid" ng-click="UpdateCompetitionRecord()" ng-show="(action == 'Edit' )?true:false">
                                <i class="fa fa-save"></i> {{btnSaveText}}
                            </button>

                            <button class="btn btn-warning" ng-show="deleteMode" ng-click="deleteCompetition()">
                                <i class="fa fa-remove"></i> Delete
                            </button>

                            <button class="btn btn-warning" ng-click="finalCancelCompetitionRecord()">
                                <i class="fa fa-remove"></i> Cancel
                            </button>

                        </div>
                    </footer>
                </fieldset>
            </div>

        </form>

    </section>

</div>




