﻿<div id="content">
    <section widget-grid id="widget-grid">
        <form name="detailForm" novalidate="novalidate">
            <div class="row">
                <article class="col-sm-12">
                    <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                            <h2>Insurance Claim From</h2>
                        </header>

                        <div class="smart-form">
                            <!--<div class="row">
                                <label class="label" style="margin-left:5px">INSURANCE DETAILS</label>
                            </div>-->
                            <div class="row">
                                <section class="col col-3" ng-class="{'state-error': detailForm.code.$invalid}">
                                    <label class="label"> Vehicle No</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="code" ng-model="glcode" ng-disabled="(action == 'View' )?true:false" required />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label">Policy No</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="description" ng-model="gldescription" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label"> Period : From</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="description" ng-model="gldescription" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label"> Period : To</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="description" ng-model="gldescription" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Date Of Accident/Loss</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="description" ng-model="gldescription" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label"> Name of the driver</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="description" ng-model="gldescription" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="label"> Date of Birth</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="description" ng-model="gldescription" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label"> Driving Licence No</label>
                                    <label class="input">
                                        <input type="text" class="form-control" name="description" ng-model="gldescription" ng-disabled="(action == 'View' )?true:false" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">

                                <section class="col col-12">
                                    <label class="label">Accident/Loss Details</label>
                                    <label class="input">
                                          <textarea name="Text1" class="form-control" cols="150" rows="5"></textarea>
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-3">
                                    <label class="label">Attach Accident Images</label>
                                    <label for="file" class="input input-file">
                                        <div class="button"><input type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" placeholder="Include some files" readonly="">
                                    </label>
                                </section>
                            </div>

                        </div>
                </article>
            </div>

            <div class="row">
                <fieldset>
                    <footer class="pull-right">
                        <div class="col-sm-12">
                            <button class="btn btn-primary" ng-disabled="detailForm.$invalid" ng-click="SaveGLmasterRecord()">
                                <i class="fa fa-save"></i>Submit Claim
                            </button>

                            <!--<button class="btn btn-warning" ng-show="deleteMode" ng-click="deleteGLMaster()">
                                <i class="fa fa-remove"></i> Delete
                            </button>-->

                            <button class="btn btn-warning" ng-click="finalCancelGLMasterRecord()">
                                <i class="fa fa-remove"></i> Cancel
                            </button>

                        </div>
                    </footer>
                </fieldset>
            </div>

        </form>

    </section>

</div>




