<header class="animated fadeInDown topHeader padding-top-bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="col-xs-12 col-lg-3">
                    <div id="logo-group">
                        <span id="logo" class="loginLogo"> <img src="styles/img/logo.png" alt="SmartAdmin" style="padding-left:30px"> </span>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-9">
                    <span id="extr-page-header-space">
                        <span class="hidden-mobile hiddex-xs"></span> <a ui-sref="login" class="btn btn-danger">Sign In</a>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</header>
<div role="main" class="animated fadeInDown loginpage">
    <div>
        <div id="content" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">

                    <div class="row" style="margin-top:5px;">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="styles/img/slider/slider1.jpg" alt="Los Angeles" style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="styles/img/slider/slider2.jpg" alt="Chicago" style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="styles/img/slider/slider3.jpg" alt="New york" style="width:100%;">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    <div class="well no-padding">
                        <form name="myForm" role="form" class="smart-form client-form">
                            <header>
                                Forgot Password
                            </header>

                            <fieldset>

                                <section>
                                    <label class="label">Enter your email address</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-envelope"></i>
                                        <input type="text" name="email_id1" ng-model="forgotpass.email_id1">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b>
                                    </label>
                                </section>
                                <section>
                                    <span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span>
                                </section>
                                <section>
                                    <label class="label">Your Username</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="user_name" ng-model="forgotpass.user_name">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Enter your username</b>
                                    </label>
                                    <div class="note">
                                        <a ui-sref="login">I remembered my password!</a>
                                    </div>
                                </section>

                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary" ng-click="forgotpassword()">
                                    <i class=" fa fa-refresh">
                                    </i> Reset Password
                                </button>
                            </footer>
                        </form>

                    </div>

                    <!--<h5 class="text-center"> - Or sign in using -</h5>

                    <ul class="list-inline text-center">
                        <li>
                            <a href-void class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href-void class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>-->

                </div>
            <br /><br /><br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <h5 class="about-heading"><b style="color: #3276b1">Driving Awareness</b></h5>
                    <p align="justify">
                        As the demand for vehicles continues to
                        grow worldwide, there is an associated rise
                        in pollution and vehicular fatalities due to
                        careless driving. This tool helps drivers to
                        analyze their driving style and enables
                        them to track their driving performance.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <h5 class="about-heading"><b style="color: #3276b1">Fleet Risk Management</b></h5>
                    <p align="justify">
                        Application improves efficiency, helps to reduce cost and also enhances drivers safety. Provides visibility into fleet and fleet operations, which includes drivers driving Score and Co2 Footprint. Custom or default Notifications can empower you like anything!
                    </p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <h5 class="about-heading"><b style="color: #3276b1">Analytics Reports</b></h5>
                    <p align="justify">
                        DriveSung provides preconfigured different types of analytical reports which allow drivers to gain truly valuable insights about their driving.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <style>
        body:not(.menu-on-top).desktop-detected {
            min-height: 550px !important;
        }
    </style>
















    <!--<header id="header"  class="animated fadeInDown" >

        <div id="logo-group">
            <span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin"> </span>
        </div>

        <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs"></span> <a
                ui-sref="login" class="btn btn-danger">Sign In</a> </span>

    </header>
    <div id="main" role="main"  class="animated fadeInDown" >

        <div id="content" class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                    <h1 class="txt-color-red login-header-big">SmartAdmin</h1>
                    <div class="hero">

                        <div class="pull-left login-desc-box-l">
                            <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
                            <div class="login-app-icons">
                                <a href-void class="btn btn-danger btn-sm">Frontend Template</a>
                                <a href-void class="btn btn-danger btn-sm">Find out more</a>
                            </div>
                        </div>

                        <img src="styles/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h5 class="about-heading">Not just your average template!</h5>
                            <p>
                                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    <div class="well no-padding">
                        <form name="myForm" role="form" class="smart-form client-form">
                            <header>
                                Forgot Password
                            </header>

                            <fieldset>

                                <section>
                                    <label class="label">Enter your email address</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-envelope"></i>
                                        <input type="text" name="email_id1" ng-model="forgotpass.email_id1">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b>
                                    </label>
                                </section>
                                <section>
                                    <span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span>
                                </section>
                                <section>
                                    <label class="label">Your Username</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="user_name" ng-model="forgotpass.user_name">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Enter your username</b>
                                    </label>
                                    <div class="note">
                                        <a ui-sref="login">I remembered my password!</a>
                                    </div>
                                </section>

                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary"  ng-click="forgotpassword()" >
                                    <i class=" fa fa-refresh">
                                    </i> Reset Password
                                </button>
                            </footer>
                        </form>

                    </div>

                    <h5 class="text-center"> - Or sign in using -</h5>

                    <ul class="list-inline text-center">
                        <li>
                            <a href-void class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href-void class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
    </div>-->
