<header class="animated fadeInDown topHeader padding-top-bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <div class="col-xs-12 col-lg-3">
                    <div id="logo-group">
                        <span id="logo" class="loginLogo"> <img src="styles/img/logo.png" alt="SmartAdmin" style="padding-left:30px"> </span>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-9">
                    <span id="extr-page-header-space">
                        <span class="hidden-mobile hiddex-xs" style="color:blue">Need an account?</span> <a ui-sref="register" class="btn btn-danger">Sign Up</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<div role="main" class="animated fadeInDown loginpage">
    <div>
        <div id="content" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">

                    <div class="row" style="margin-top:5px;">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="styles/img/slider/slider1.jpg" alt="Los Angeles" style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="styles/img/slider/slider2.jpg" alt="Chicago" style="width:100%;">
                                </div>

                                <div class="item">
                                    <img src="styles/img/slider/slider3.jpg" alt="New york" style="width:100%;">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    <div class="well no-padding">
                        <form name="myForm" novalidate="novalidate"  role="form" class="smart-form client-form">
                            <header>
                                Sign In
                            </header>
                            <fieldset>
                                <section ng-class="{'state-error': myForm.email.$invalid}">
                                    <label class="label">Email or User Name</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="email" data-message="Please enter username" ng-model="loginData.userName" required>
                                        <b class="tooltip tooltip-top-right">
                                            <i class="fa fa-user txt-color-teal"></i>
                                            Please enter UserName
                                        </b>
                                    </label>
                                </section>
                                <section ng-class="{'state-error': myForm.password.$invalid}">
                                    <label class="label">Password</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="password" data-message="Please enter password" ng-model="loginData.password" required>
                                        <b class="tooltip tooltip-top-right">
                                            <i class="fa fa-lock txt-color-teal"></i> Please enter password
                                        </b>

                                    </label>

                                    <div class="note">
                                        <a ui-sref="forgotPassword">Forgot password?</a>
                                    </div>
                                </section>
                                <!--<section>
                <label class="checkbox">
                    <input type="checkbox" name="remember" checked>
                    <i></i>Stay signed in
                </label>
            </section>-->
                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary btn-block m-b" ng-disabled="myForm.$invalid" data-ng-click="login()">
                                    Sign In
                                </button>
                            </footer>
                        </form>
                    </div>
                    <h5 class="text-center"> - Sign In Zensung With -</h5>
                    <ul class="list-inline text-center">
                        <li>
                            <a g-login event="login" class="btn btn-danger btn-circle"><i class="fa fa-google-plus"></i></a>


                        </li>
                        <li>
                            <a fb-login event="login" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
            <br /><br /><br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <h5 class="about-heading"><b style="color: #3276b1">Driving Awareness</b></h5>
                    <p align="justify">
                        As the demand for vehicles continues to
                        grow worldwide, there is an associated rise
                        in pollution and vehicular fatalities due to
                        careless driving. This tool helps drivers to
                        analyze their driving style and enables
                        them to track their driving performance.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <h5 class="about-heading"><b style="color: #3276b1">Fleet Risk Management</b></h5>
                    <p align="justify">
                        Application improves efficiency, helps to reduce cost and also enhances drivers safety. Provides visibility into fleet and fleet operations, which includes drivers driving Score and Co2 Footprint. Custom or default Notifications can empower you like anything!
                    </p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <h5 class="about-heading"><b style="color: #3276b1">Analytics Reports</b></h5>
                    <p align="justify">
                        DriveSung provides preconfigured different types of analytical reports which allow drivers to gain truly valuable insights about their driving.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <style>
        body:not(.menu-on-top).desktop-detected {
            min-height: 550px !important;
        }
    </style>
