﻿
<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <big-breadcrumbs items="['Trip Playback']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
           
        </div>

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color:#5bc0dc; ">

                        <span class="widget-icon"> <i class="fa fa-search"></i>{{playtripmodel.rdate}} </span>
                       
                     
                        <h2>Search </h2>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <div class="row smart-form">
                                <article class="col-sm-12">
                                    <fieldset>
                                        <form name="detailfilterForm" novalidate="novalidate">
                                            <section class="col col-2" ng-class="{'state-error': detailfilterForm.VechicleNo.$invalid}">
                                                <label class="label">Vehicle No</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <input type="text" name="VechicleNo" class="form-control" list="list" ng-model="playtripmodel.vehicleRefId" placeholder="Vechicle No" required>
                                                    <datalist id="list">
                                                        <option ng-repeat="vehicle in playtripmodel.dtVehicleList" value="{{vehicle.value}}">{{vehicle.text}}</option>
                                                    </datalist>
                                                </label>
                                                <div ng-show="detailfilterForm.VechicleNo.$touched">
                                                    <div class="note note-error" ng-if="detailfilterForm.VechicleNo.$error.required">{{ validationMsg.required }}</div>
                                                </div>
                                            </section>

                                            <section class="col col-3">
                                                <label class="label">Start Date</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->
                                                    <input type="datetime-local" id="exampleInput" name="input" ng-model="playtripmodel.fromdate" />
                                                </label>
                                                <!--<span class="error" ng-show="myForm.input.$error.required">
                                                    Required!
                                                </span>
                                                <span class="error" ng-show="myForm.input.$error.datetimelocal">
                                                    Not a valid date!
                                                </span>-->
                                            </section>

                                            <section class="col col-3">
                                                <label class="label">End Date</label>
                                                <label class="input" style="border: 1px  #000; border-radius: 2px">
                                                    <!--<i class="icon-append fa fa-calendar" style="color:orange"></i>-->

                                                    <input type="datetime-local" id="exampleInput" name="input" ng-model="playtripmodel.todate" />
                                                </label>
                                                <!--<span class="error" ng-show="myForm.input.$error.required">
                                                    Required!
                                                </span>
                                                <span class="error" ng-show="myForm.input.$error.datetimelocal">
                                                    Not a valid date!
                                                </span>-->
                                            </section>


                                            <!--<section class="col col-2">
                                                <label class="label">Find Trip</label>
                                                <label class="select" style="border: 1px  #000; border-radius: 2px">
                                                    <select ng-model="tripRefId">
                                                        <option ng-repeat="trips in playtripmodel.dtallTrips" value="{{trips.trip_id}}">{{trips.trip_name}}</option>
                                                    </select>
                                                </label>

                                            </section>-->


                                            <section class="col col-1">
                                                <label class="label">Speed(ms)</label>
                                                <label class="select">
                                                    <select name="ddlplaySpeed" ng-model="playtripmodel.playSpeed" class="form-control">
                                                        <option value="10">10</option>
                                                        <option>20</option>
                                                        <option>30</option>
                                                        <option>40</option>
                                                        <option>50</option>
                                                        <option>60</option>
                                                        <option>70</option>
                                                        <option>80</option>
                                                        <option>90</option>
                                                        <option>100</option>
                                                    </select> <i></i>
                                                </label>


                                            </section>
                                            <section class="col col-3">
                                                <label class="label">.</label>

                                                <button class="btn btn-primary btn-sm" ng-show="playtrip.newplay" ng-click="newplayOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-play" aria-hidden="true"></i> Play</button>
                                                <button class="btn btn-primary btn-sm" ng-show="playtrip.play" ng-click="playOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-play" aria-hidden="true"></i> Play</button>
                                                <button class="btn btn-warning btn-sm" ng-show="playtrip.pause" ng-click="pauseOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-pause" aria-hidden="true"></i> Pause</button>
                                                <button class="btn btn-danger btn-sm" ng-show="playtrip.stop" ng-click="stopOn()" ng-disabled="detailfilterForm.VechicleNo.$invalid"> <i class="fa fa-stop" aria-hidden="true"></i> Stop</button>

                                                <!--<button type="button" class="btn btn-primary btn-sm"><i class="fa fa-play" aria-hidden="true"></i> Play</button>
                                                <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pause" aria-hidden="true"></i> Stop</button>
                                                <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-stop" aria-hidden="true"></i> Stop</button>-->
                                            </section>


                                        </form>
                                    </fieldset>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="row" style=" padding-bottom: 20px;">

                    <div class=" col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: rgba(0, 0, 0, 0.1);">
                                    <i class="fa fa-wrench fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center">
                                    <h2 class="livescore">{{HB}}</h2>
                                    <div class="text-uppercase">Harsh Breaking </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #26A69A !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #22958a; ">
                                    <i class="fa fa-user fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">{{OS}}</h2>
                                    <div class="text-uppercase">Over Speed </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #ea9828 !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #d28924; ">
                                    <i class="fa fa-cloud-upload fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">{{HC}}</h2>
                                    <div class="text-uppercase">Cornering</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #666 !important; ">
                            <div class="row" style="float: none; table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #5c5c5c;">
                                    <i class="fa fa-phone fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">{{CT}}</h2>
                                    <div class="text-uppercase">Calls Taken </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget bg-primary" style="background-color: #d5503f !important; ">
                            <div class="row" style="float: none;  table-layout: fixed; vertical-align: middle; ">
                                <div class="col-xs-4 text-center  bg-light-dark" style="padding-top: 30px; padding-bottom: 15px; background-color: #bf4839;">
                                    <i class="fa fa-cogs fa-3x"></i>
                                </div>
                                <div class="col-xs-8 text-center padding-left0">
                                    <h2 class="livescore">{{HA}}</h2>
                                    <div class="text-uppercase">Harsh Accel.</div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </article>

            <!--speedmeter-->
            <!--<article class="col-sm-12 col-md-12 col-lg-12 speedmeter">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #f0ad4e; color: white">
                        <span class="widget-icon"> <i class="fa fa-tachometer"></i> </span>
                        <h2>Dash Board </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="row smart-form">
                                <section class="col col-2 padding-left-right0 margin-bottom0">
                                    <div>
                                        <div id="chartdivTemp"></div>
                                    </div>
                                </section>
                                <section class="col col-4 margin-bottom0">
                                    <div>
                                        <div id="chartdivSpeed"></div>
                                    </div>
                                </section>
                                <section class="col col-4 margin-bottom0">
                                    <div>
                                        <div id="chartdivRpm"></div>
                                    </div>
                                </section>
                                <section class="col col-2 padding-left-right0 margin-bottom0">
                                    <div>
                                        <div id="chartdivFuleLevel"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </article>-->
            <!--Map View-->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #428bca; color: white">
                        <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                        <h2>Map View </h2>
                    </header>
                    <div class="livetrackingcode" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 0px;">
                        <div class="blue"><span class="squareshape"></span>0-60</div>
                        <div class="green"><span class="squareshape"></span>60-80</div>
                        <div class="red"><span class="squareshape"></span>80+</div>
                    </div>
                    <div>
                        <div class="widget-body no-padding">

                            <div class="row smart-form">
                                <article class="col-sm-12">
                                    <div id="chartdiv1" data-smart-fill-content="" id="map-canvas" ui-map="myMap">
                                        <ui-gmap-google-map control='playtripmodel.map.control' center='playtripmodel.map.center' zoom='playtripmodel.map.zoom'>
                                            <ui-gmap-marker ng-repeat="m in playtripmodel.map.markersr"
                                                            coords="m" icon='{url: "styles/img/car.png" }' idkey="m.id" click="onClick()" events="marker.events">
                                                <ui-gmap-window options="playtripmodel.windowOptions" closeclick="closeClick()">
                                                    <div>{{m}}</div>
                                                </ui-gmap-window>
                                            </ui-gmap-marker>

                                            <ui-gmap-marker ng-repeat="m in playtripmodel.map.stoppagemarkers"
                                                            coords="m" icon='{url: "styles/img/stoppage.jpg" }' idkey="m.id" events="marker.events">
                                                <ui-gmap-window options="windowOptions" closeclick="closestopClick()">
                                                    <div>
                                                        <b>{{m.stopdetails}} </b>
                                                    </div>
                                                </ui-gmap-window>

                                            </ui-gmap-marker>

                                            <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                                              geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
                                        </ui-gmap-google-map>

                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </article>


            <!--Graphical Data-->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #5bc0dc; color: white">
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2>Graphical Data(Speed,RPM,Coolant Temperature)</h2>
                    </header>
                    <div id="graphdiv"></div>
                </div>
            </article>

            <!--Graphical Data-->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color: #3276b1; color: white">
                        <span class="widget-icon"> <i class="fa fa-bar-chart"></i> </span>
                        <h2>Graphical Data(Stoppage)</h2>
                    </header>
                    <div id="graphstoppagediv"></div>
                </div>
            </article>


            <!--Vehicle Data-->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color:#5bc0dc; color: white">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Vehicle Data</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable-basic tablebind="dashTablebind" bind-filters="true"
                                   class="display projects-table table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="DeviceNo" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control pplaceholder" placeholder="DateTime" />
                                        </th>
                                        <!--<th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Location" />
                                        </th>-->
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Latitude" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Longitude" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Speed" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Distance" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Can Distance" />
                                        </th>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control pplaceholder" placeholder="RPM" />
                                        </th>
                                        <th class="hasinput" style="width:5%">
                                            <input type="text" class="form-control pplaceholder" placeholder="Temperature" />
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="background-color: #ea9828 !important">Device No</th>
                                        <th data-class="expand" style="background-color: #ea9828 !important">DateTime</th>
                                        <!--    <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Location</th>-->
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Latitude</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Longitude</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Speed(km/h)</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Distance</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Can Distance</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">RPM</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Temperature</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>

            <!--stoppage Data-->
            <article class="col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 75px;">
                <div jarvis-widget data-widget-color="blue" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header style="background-color:#428bca; color:white">
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Stoppage Data</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table datatable-basic tablebind="stoppageTablebind" bind-filters="true"
                                   class="display projects-table table table-striped table-bordered table-hover"
                                   cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="background-color: #ea9828 !important">deviceno</th>
                                        <th data-class="expand" style="background-color: #ea9828 !important">Date</th>
                                        <!--    <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Location</th>-->
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">No of Record</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Latitude</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Longitude</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">From Datetime</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">To Datetime</th>
                                        <th data-hide="phone,tablet" style="background-color: #ea9828 !important">Stoppage(in Min)</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>

<style>
    #graphdiv {
        width: 100%;
        height: 350px;
    }

    #graphstoppagediv {
        width: 100%;
        height: 350px;
    }

    #chartdiv1 {
        height: 350px;
    }

    .livetrackingmap .jarviswidget > div {
        padding-top: 0px;
    }

    table-hover > tbody > tr:hover {
        background-color: #5bc0dc !important;
    }
</style>

<!--<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/xy.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>-->

<style>
    #chartdivMap {
        height: 350px;
    }

    #chartdiv {
        width: 100%;
        height: 300px;
    }

    #chartdiv1 {
        width: 100%;
        height: 300px;
    }

    #chartdivTemp {
        width: 100%;
        height: 250px;
    }

    #chartdivSpeed {
        width: 100%;
        height: 250px;
    }

    #chartdivRpm {
        width: 100%;
        height: 250px;
    }

    #chartdivFuleLevel {
        width: 100%;
        height: 250px;
    }
</style>

<!--First Small Meter-->
<!--<script>

    var chart = AmCharts.makeChart("chartdivScore", {
        "theme": "none",
        "type": "gauge",
        "axes": [{
            "topTextFontSize": 20,
            "topTextYOffset": 70,
            "axisColor": "#31d6ea",
            "axisThickness": 1,
            "endValue": 100,
            "gridInside": true,
            "inside": true,
            "radius": "50%",
            "valueInterval": 10,
            "tickColor": "#67b7dc",
            "startAngle": -90,
            "endAngle": 90,
            "unit": "%",
            "bandOutlineAlpha": 0,
            "bands": [{
                "color": "#0080ff",
                "endValue": 100,
                "innerRadius": "105%",
                "radius": "170%",
                "gradientRatio": [0.5, 0, -0.5],
                "startValue": 0
            }, {
                "color": "#3cd3a3",
                "endValue": 0,
                "innerRadius": "105%",
                "radius": "170%",
                "gradientRatio": [0.5, 0, -0.5],
                "startValue": 0
            }]
        }],
        "arrows": [{
            "alpha": 1,
            "innerRadius": "35%",
            "nailRadius": 0,
            "radius": "170%"
        }]
    });
    setInterval(randomValue, 2000);

    // set random value
    function randomValue() {
        var value = Math.round(Math.random() * 240);
        chart.arrows[0].setValue(value);
    }
</script>-->
<!--END First Small Meter-->
