<div class="login-info ng-cloak">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it -->
       <!--<a  href="" toggle-shortcut>-- change by santosh>--> 
        <a ui-sref="app.updateprofile">
            <img src="{{profile_picture_uri}}" alt="me" class="online">
            <span>
                {{first_name}}
            </span>
            <i class="fa fa-angle-down"></i>
        </a>
     </span>
</div>